//Tweet to target theming

/* Make sure that background colors are not hard coded */
#engrid .en__twitterTarget,
#engrid .en__tweetBackgroundText,
#engrid .en__tweet,
#engrid .en__tweetDisabled,
#engrid .en__tweetButton,
#engrid .en__tweetContact {
  background-color: initial;
}

#engrid .en__contacts {
  flex-direction: column;
}

#engrid .en__tweetContact {
  margin: 0 0 1rem 0;
  padding: 0;
  width: initial;
}

#engrid .en__twitterTarget__image {
  margin-left: 0;
  margin-right: 1rem;
}

#engrid .en__twitterTarget__details span {
  display: block;
}

#engrid .en__twitterTarget__details br {
  display: none;
}

#engrid .en__tweetButton__send,
#engrid .en__tweetButton__sent {
  background-color: #f1700b;
  border-radius: 0;
}
