// Styles Related to the Page-Builder

/*
* ##########################################################
* # LAYOUT - Page Builder Custom Styles
* ##########################################################
*/

// Styles Related to the Page-Builder
#en__pagebuilder {
  /* When in page builder we want to center the content area on the page and must reduce it by 50px to make it visible because of the sidebar */
  width: calc(100% - 51px);
  /* If in page builder, give the background some color so that input fields stand out */
  background-color: #f1f1f1;
  /* If the user accidentally deletes all content from the form, prevent it from completely collapsing in on itself and making it impossible for the user to add new content */
  form {
    min-height: 25px !important;
  }

  /* Sometimes our styles might cause a code blocks title and label to display inline, rather than in rows. This should help prevent that https://d.pr/v/vXlAUM */
  .en__placeholder__text{
    flex-direction: column !important;
  }

  .page-backgroundImage img:not([loading]) {
    border: 5px solid red;
  }

  // Includes both upper and lower case scenarios for typical field values
  .inmem-y,
  .inmem-n,
  .giveBySelect-card,
  .giveBySelect-check,
  .giveBySelect-paypal,
  .inmem-Y,
  .inmem-N,
  .giveBySelect-Card,
  .giveBySelect-Check,
  .giveBySelect-Paypal {
    background-color: #0000ff1a !important;
    &.pboAdvancedRow__preview .en__component--column {
      outline-color: #0000ff !important;
      z-index: 1;
    }
  }

  .live-giving-amount,
  .live-giving-upsell-amount,
  .live-giving-upsell-amount-raw,
  .live-giving-frequency {
    background-color: #00ff001a !important;
    &.pboAdvancedRow__preview .en__component--column {
      outline-color: #00ff00 !important;
      z-index: 1;
    }
  }

  .page-backgroundImage img {
    width: auto !important;
    height: 350px !important;
    margin: 0 auto;
  }
}
