/* Buttons */
button {
  display: block;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85rem 1rem;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: $client-input-border-radius;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: $client-button-background-color;
  color: $client-white;
}

.en__submit button {
  margin-top: 2rem;
  background-color: $client-submit-button-background-color;
  border-color: $client-submit-button-background-color;
  color: $client-submit-button-font-color;
  display: block;
  font-size: calc(0.05552em * 24);
  font-weight: 900;
  line-height: 1;
  padding: 18px 0;
}

.en__submit,
.en__submit button {
  width: 100%;
}

.en__submit button:hover,
.en__submit button:focus,
button.cta.primary:hover,
button.cta.primary:focus {
  background-color: $client-submit-button-background-color-hover;
}

.next-step .en__submit button {
  width: initial;
  margin-left: auto;
}

button:hover,
button:focus {
  background-color: $client-button-background-color-hover;
}

button[disabled],
button[disabled]:hover,
button[disabled]:focus {
  background-color: $client-button-background-color-disabled;
  color: $client-button-font-color;
  content: "Processing...";
}

button[disabled] {
  opacity: 0.25;
  cursor: not-allowed;
}
