/*
* ##########################################################
* # DEBUG
* ##########################################################
*/

#debug-bar {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;

  button {
    margin: 0rem 1rem;
    padding: 0.25rem 1rem;
    border: 1px solid #000000;
    background-color: #ffffff;
    cursor: pointer;
  }
}
