// Engaging Networks Overrides and Fixes

@include to(2) {
  /* EN sets width to 100%, without setting max-width it overflows offscreen */
  .en__component--column.en__component--advcolumn,
  .en__component--row--2 .en__component--column {
    max-width: 100vw;
  }
}

.en__field__item {
  padding: initial;
}

.en__field__item,
.en__field__element--calendar,
.en__field__element--checkbox,
.en__field__element--email,
.en__field__element--number,
.en__field__element--password,
.en__field__element--radio,
.en__field__element--range,
.en__field__element--rating,
.en__field__element--select,
.en__field__element--splitselect,
.en__field__element--splittext,
.en__field__element--telephone,
.en__field__element--text,
.en__field__element--textarea,
.en__field__element--tripleselect,
.en__field__element--tripletext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Reset height */
.en__field__input--textarea {
  height: initial !important;
}

/* Reset minimum and default width */
.en__component--column {
  min-width: auto !important;
  width: auto !important;
}

/************************************
  * General overrides of EN styles
  ***********************************/

/* QA Needed: In the event Theme CSS causes a hidden field to become displayed, forrce its display to remain hidden */
/* This was an issue originally reported by EN staff, not sure if it still persists with recent styling updates */
#engrid .en__hidden {
  display: none !important;
}

#engrid .en__field,
#engrid .en__captcha {
  padding-bottom: 0;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

/* For inputs with multiple components, apply the bottom margin to the field items so that if they wrap they maintain vertical spacing between them */
/*
#engrid .en__component .en__field.en__field--radio,
#engrid .en__component .en__field.en__field--checkbox,
#engrid .en__component .en__field.en__field--splittext,
#engrid .en__component .en__field.en__field--tripletext,
#engrid .en__component .en__field.en__field--splitselect,
#engrid .en__component .en__field.en__field--tripleselect{
margin-bottom: 0;
}*/

/* Make the spacing between wrapping elements tighter so the user knows they're related */
#engrid
  .en__component
  .en__field.en__field--select
  .en__field__item:not(.en__field__item--other),
#engrid
  .en__component
  .en__field.en__field--radio
  .en__field__item:not(.en__field__item--other),
#engrid
  .en__component
  .en__field.en__field--checkbox
  .en__field__item:not(.en__field__item--other),
#engrid
  .en__component
  .en__field.en__field--splittext
  .en__field__item:not(.en__field__item--other),
#engrid
  .en__component
  .en__field.en__field--tripletext
  .en__field__item:not(.en__field__item--other),
#engrid
  .en__component
  .en__field.en__field--splitselect
  .en__field__item:not(.en__field__item--other),
#engrid
  .en__component
  .en__field.en__field--tripleselect
  .en__field__item:not(.en__field__item--other) {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#engrid .en__component div[class*="withOther"].en__field .en__field__item {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

/* Pick up the normal spacing on the error element to contunue form pacing continues as expected when in an error state */
#engrid .en__component .en__field.en__field--select.en__field--validationFailed,
#engrid .en__component .en__field.en__field--radio.en__field--validationFailed,
#engrid
  .en__component
  .en__field.en__field--checkbox.en__field--validationFailed,
#engrid
  .en__component
  .en__field.en__field--splittext.en__field--validationFailed,
#engrid
  .en__component
  .en__field.en__field--tripletext.en__field--validationFailed,
#engrid
  .en__component
  .en__field.en__field--splitselect.en__field--validationFailed,
#engrid
  .en__component
  .en__field.en__field--tripleselect.en__field--validationFailed {
  margin-bottom: 1rem;
}

/* QA Needed: Does not actually do what it's supposed to when all elelements are on same row. */
/*
#engrid .en__component .en__field.en__field--radio:not(.en__field--validationFailed) .en__field__item--other,
#engrid .en__component .en__field.en__field--checkbox:not(.en__field--validationFailed) .en__field__item--other{
    margin-top: .25rem;
    margin-bottom: 1.25rem;
}*/

/*
#engrid .en__field__element{
width: 100%;
display: flex;
}*/

/*
#engrid .en__component .en__field{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}*/

/*
#engrid .en__component .en__field--splitselect,
#engrid .en__component .en__field--tripletext,
#engrid .en__component .en__field--splitselect,
#engrid .en__component .en__field--tripleselect {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
*/

/*
#engrid .en__component--formblock .en__field,
#engrid .en__component--formblock .en__field div.en__field__item{
margin-left: .5rem;
margin-right: .5rem;
}*/

body #engrid .en__component--formblock .en__field:first-of-type,
body
  #engrid
  .en__component--formblock
  .en__field
  div.en__field__item:first-of-type {
  margin-left: 0rem !important;
}

/* Needs QA: ENs page builder adds a div to the formblock DOM on hover. This will cause a small right margin to appear as the expected input fields are no longer the last of their siblings */
body #engrid .en__component--formblock .en__field:last-of-type,
body
  #engrid
  .en__component--formblock
  .en__field
  div.en__field__item:last-of-type {
  margin-right: 0rem !important;
}

/* If the form field has a hidden "other" field we need to remove the end of row spacing */
/* NEED TO REVISIT FOR CODE CLEANUP */
#engrid
  .en__component--formblock
  .en__field--withOther
  div.en__field__item:nth-last-child(2) {
  margin-right: 0px;
}

#engrid .en__component--formblock .en__field:only-child,
#engrid .en__component--formblock .en__field div.en__field__item:only-child {
  margin-left: 0;
  margin-right: 0;
}

#engrid .en__component--formblock .row-wrap .en__field,
#engrid .en__component--formblock .row-wrap .en__field div.en__field__item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#engrid .en__field__item {
  padding: 0;
}

/*
#engrid .en__field__element--splittext .en__field__item,
#engrid .en__field__element--splitselect .en__field__item{
width: 50%;
}*/

/*
#engrid .en__field__element--tripletext .en__field__item,
#engrid .en__field__element--tripleselect .en__field__item{
width: 33.333333%;
}*/

/* EN sets field labels to a fixed width of 180px, this makes them responsive */
#engrid .en__field__label {
  width: auto;
}

/* Remove fixed min-width on Thermometer bar */
#engrid .enWidget__bar .enWidget__progress {
  min-width: initial;
}

/* EN sets background of the contact block to white making it not ideal for non-white backgrounds. This resets it to an initial state "transparent". */
#engrid .en__contact__toggle,
#engrid .en__contact--open .en__contact__toggle {
  background-color: initial;
}

/* Make sure that background colors are not hard coded */
#engrid .en__twitterTarget,
#engrid .en__tweetBackgroundText,
#engrid .en__tweet,
#engrid .en__tweetDisabled,
#engrid .en__tweetButton,
#engrid .en__tweetContact {
  background-color: initial;
}

/************************************
   * Inputs
   ***********************************/

/* General */
#engrid input[type="date"],
#engrid input[type="datetime"],
#engrid input[type="datetime-local"],
#engrid input[type="email"],
#engrid input[type="month"],
#engrid input[type="number"],
#engrid input[type="password"],
#engrid input[type="range"],
#engrid input[type="search"],
#engrid input[type="tel"],
#engrid input[type="text"],
#engrid input[type="time"],
#engrid input[type="url"],
#engrid input[type="week"],
#engrid input[type="hidden"],
#engrid select,
#engrid textarea {
  max-width: 100%;
  width: 100%;
  min-width: initial;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* height: 2.4375rem; */
  height: auto !important;
  margin: 0rem;
  padding: 0.5rem;
  border: 1px solid $client-input-border-color;
  border-radius: $client-input-border-radius;
  background-color: $client-input-background-color;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: $client-black;
  transition: box-shadow 0.25s, border-color 0.25s ease-in-out,
    -webkit-box-shadow 0.25s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#engrid select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 0.5625rem 0.375rem;
  padding-right: 1.5rem;
  transition: box-shadow 0.25s, border-color 0.25s ease-in-out,
    -webkit-box-shadow 0.25s;
}

#engrid textarea {
  height: 7rem;
  resize: vertical;
}

/* Focus state */
#engrid input[type="date"]:focus,
#engrid input[type="datetime"]:focus,
#engrid input[type="datetime-local"]:focus,
#engrid input[type="email"]:focus,
#engrid input[type="month"]:focus,
#engrid input[type="number"]:focus,
#engrid input[type="password"]:focus,
#engrid input[type="range"]:focus,
#engrid input[type="search"]:focus,
#engrid input[type="tel"]:focus,
#engrid input[type="text"]:focus,
#engrid input[type="time"]:focus,
#engrid input[type="url"]:focus,
#engrid input[type="week"]:focus,
#engrid select:focus,
#engrid textarea:focus {
  outline: none;
  border: 1px solid $client-gray;
  background-color: $client-button-font-color;
  -webkit-box-shadow: 0 0 0.3125rem $client-light-gray;
  box-shadow: 0 0 0.3125rem $client-light-gray;
  transition: box-shadow 0.25s, border-color 0.25s ease-in-out,
    -webkit-box-shadow 0.25s;
}

/**
    * Form Block Component: Select Fields
    * Overrides EN Default Styling to ensure mobile friendly widths
    */
#engrid .en__field__input--select {
  min-width: initial !important;
}

/* Placeholder styling */
/* Chrome, Firefox, Opera, Safari 10.1+ */
::-webkit-input-placeholder {
  color: $client-light-gray;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  color: $client-light-gray;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  color: $client-light-gray;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  color: $client-light-gray;
  opacity: 1;
  /* Firefox */
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color: $client-light-gray;
}

/* Microsoft Edge */
::-ms-input-placeholder {
  color: $client-light-gray;
}

/* Custom Styling for Radio & Checkbox Inputs */
#engrid .en__field__input--radio,
#engrid .en__field__input--checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

#engrid .en__field__input--radio + .en__field__label,
#engrid .en__field__input--checkbox + .en__field__label {
  position: relative;
  margin-left: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#engrid .en__field__input--radio + .en__field__label::before,
#engrid .en__field__input--checkbox + .en__field__label::before {
  content: "";
  position: absolute;
  height: calc(1.4rem - 2px);
  width: calc(1.4rem - 2px);
  left: -2rem;
  display: inline-block;
  vertical-align: middle;
  border: 4px solid $client-black;
  -webkit-box-shadow: inset 0 0 0 5px $client-white;
  box-shadow: inset 0 0 0 5px $client-white;
  background-color: $client-white;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: border-color, background-color;
  transition-property: border-color, background-color;
}

#engrid .en__field__input--radio + .en__field__label::before {
  border-radius: 50%;
}

#engrid .en__field__input--checkbox + .en__field__label::before {
  border-radius: 0;
  border-width: 2px;
  box-shadow: none;
}

#engrid .en__field__input--radio:checked + .en__field__label::before,
#engrid .en__field__input--checkbox:checked + .en__field__label::before {
  background-color: $client-checkmark-background-color;
  box-shadow: inset 0 0 0 2px #ffffff;
  border-width: 2px;
}

#engrid .en__field__input--checkbox:checked + .en__field__label::before {
  color: $client-checkmark-background-color;
  background-color: transparent;
}
#engrid .en__field__input--checkbox:checked + .en__field__label::after {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='21' height='16' viewBox='0 0 21 16'><path fill='%23F57E20' fill-rule='nonzero' d='M18.76.16L6.68 12.113l-4.44-4.392a.555.555 0 0 0-.779 0L.161 9.006a.541.541 0 0 0 0 .771L6.29 15.84a.555.555 0 0 0 .78 0l13.77-13.624a.541.541 0 0 0 0-.771L19.539.16a.555.555 0 0 0-.779 0z'/></svg>");
  position: absolute;
  left: -28px;
  top: 0;
  width: 21px;
  height: 16px;
  color: $client-checkmark-background-color;
  background-color: transparent;
  font-size: 18px;
}

/* QA Needed: Would like to find a way so that radio input focus is round rather than square. May require re-writing how radio inputs are styled */
#engrid .en__field__input--radio:focus + .en__field__label::before,
#engrid .en__field__input--checkbox:focus + .en__field__label::before {
  outline: $client-gray auto 0.3125rem;
}

/* Buttons */
#engrid button {
  display: block;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85rem 1rem;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: $client-input-border-radius;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: $client-button-background-color;
  color: $client-white;
}

#engrid .en__submit button {
  margin-top: 2rem;
  background-color: $client-submit-button-background-color;
  border-color: $client-submit-button-background-color;
  color: $client-submit-button-font-color;
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  padding: 18px 0;
}
#engrid .en__submit {
  width: 100%;
}

#engrid .en__submit button:hover,
#engrid .en__submit button:focus {
  background-color: $client-submit-button-background-color-hover;
}

#engrid .next-step .en__submit button {
  width: initial;
  margin-left: auto;
}

#engrid button:hover,
#engrid button:focus {
  background-color: $client-button-background-color-hover;
}

#engrid button[disabled],
#engrid button[disabled]:hover,
#engrid button[disabled]:focus {
  background-color: $client-button-background-color-disabled;
  color: $client-button-font-color;
}

#engrid button[disabled] {
  opacity: 0.25;
  cursor: not-allowed;
}

/* QA Needed: EN's hidden input field */
.en__field--hidden {
  display: block;
  width: 100% !important;
}

/* Needs QA: Makes images responsive. Look into not using !important. */
#engrid img {
  max-width: 100%;
  height: auto !important;
  margin: 0 auto;
  display: inherit;
}

/* When embedded, remove unnecessary padding */
body.embedded #engrid .en__tweetButton {
  padding-right: 0px;
}

/************************************
    * Browser Form Autofill
    * REF: https://medium.com/@brunn/detecting-autofilled-fields-in-javascript-aed598d25da7
    ***********************************/

@-webkit-keyframes onAutoFillStart {
  from {
    /**/
  }
  to {
    /**/
  }
}

@keyframes onAutoFillStart {
  from {
    /**/
  }
  to {
    /**/
  }
}
@-webkit-keyframes onAutoFillCancel {
  from {
    /**/
  }
  to {
    /**/
  }
}
@keyframes onAutoFillCancel {
  from {
    /**/
  }
  to {
    /**/
  }
}
input:-webkit-autofill {
  /* Expose a hook for JavaScript when autofill is shown */
  /* JavaScript can capture 'animationstart' events */
  -webkit-animation-name: onAutoFillStart;
  animation-name: onAutoFillStart;

  /* Make the background color become blue/yellow really slowly */
  -webkit-transition: background-color 50000s ease-in-out 0s;
  transition: background-color 50000s ease-in-out 0s;
}

input:not(:-webkit-autofill) {
  /* Expose a hook for JS onAutoFillCancel */
  /* JavaScript can capture 'animationstart' events */
  -webkit-animation-name: onAutoFillCancel;
  animation-name: onAutoFillCancel;
}

.is-autofilled,
.is-autofilled label {
  -webkit-transition: none !important;
  transition: none !important;
}

/* Needs code that account for the small text shown during the process of autofilling */
/* Fernando says he has seen this happening elsewhere */
/* https://stackoverflow.com/questions/57242841/input-text-very-small-when-hovering-on-autofill-suggestion */
/* https://bugs.chromium.org/p/chromium/issues/detail?id=953689#c24 */
/* Screencast: https://d.pr/v/2xecBA */

/************************************
    * Error Messages
    ***********************************/

/* Page Level Errors */
.en__errorHeader {
  margin-left: -1.875rem;
  margin-right: -1.875rem;
  padding: 0.5rem 2rem;
  color: $client-error-red;
  font-weight: 700;
  text-align: center;
  background-color: $client-error-red;
}

.en__errorList > .en__error {
  margin-left: -1.875rem;
  margin-right: -1.875rem;
  padding: 0.5rem 2rem;
  list-style: none;
  color: $client-error-page-group-background;
  text-align: center;
  background-color: $client-error-page-group-background;
}

/* Field Level Inline Errors */
#engrid .en__component .en__field__error {
  padding: 0.25rem 0.5rem 0 0;
  color: $client-error-red;
  font-size: 0.75rem;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

/*
* ##########################################################
* # Field Level Inline "Fancy Errors"
* ##########################################################
*/

#engrid.fancy-errors .en__component .en__field__error {
  padding: 0.25rem 0.5rem;
  color: $client-white;
  font-size: 0.75rem;
  border-radius: $client-input-border-radius;
  background-color: $client-error-red;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

#engrid.fancy-errors {
  .en__field--text.en__field--validationFailed input,
  .en__field--email.en__field--validationFailed input,
  .en__field--telephone.en__field--validationFailed input,
  .en__field--number.en__field--validationFailed input,
  .en__field--textarea.en__field--validationFailed textarea,
  .en__field--select.en__field--validationFailed select {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

#engrid.fancy-errors
  .en__component
  .en__field.en__field--select.en__field--withOther.en__field--validationFailed
  .en__field__element,
#engrid.fancy-errors
  .en__component
  .en__field.en__field--radio.en__field--validationFailed
  .en__field__element,
#engrid.fancy-errors
  .en__component
  .en__field.en__field--checkbox.en__field--validationFailed
  .en__field__element,
#engrid.fancy-errors
  .en__component
  .en__field.en__field--splittext.en__field--validationFailed
  .en__field__element,
#engrid.fancy-errors
  .en__component
  .en__field.en__field--tripletext.en__field--validationFailed
  .en__field__element,
#engrid.fancy-errors
  .en__component
  .en__field.en__field--splitselect.en__field--validationFailed
  .en__field__element,
#engrid.fancy-errors
  .en__component
  .en__field.en__field--tripleselect.en__field--validationFailed
  .en__field__element {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

#engrid.fancy-errors
  .en__component
  .en__field.en__field--select.en__field--withOther.en__field--validationFailed.has-value
  .en__field__element,
#engrid.fancy-errors
  .en__component
  .en__field.en__field--radio.en__field--validationFailed.has-value
  .en__field__element,
#engrid.fancy-errors
  .en__component
  .en__field.en__field--checkbox.en__field--validationFailed.has-value
  .en__field__element,
#engrid.fancy-errors
  .en__component
  .en__field.en__field--splittext.en__field--validationFailed.has-value
  .en__field__element,
#engrid.fancy-errors
  .en__component
  .en__field.en__field--tripletext.en__field--validationFailed.has-value
  .en__field__element,
#engrid.fancy-errors
  .en__component
  .en__field.en__field--splitselect.en__field--validationFailed.has-value
  .en__field__element,
#engrid.fancy-errors
  .en__component
  .en__field.en__field--tripleselect.en__field--validationFailed.has-value
  .en__field__element,
#engrid.fancy-errors .en__field--validationFailed.has-value .en__field__error {
  border-color: $client-error-red-grayscale;
  background-color: $client-error-red-grayscale;
  color: $client-white;
}

/* TODO Not working anymore since we removed our corresponding JS */
/* When EN's field validator flags an error it jumps the user to the first error on thepage. Our custom error JS executes after EN's and sets a body level class that we can reorder the field presentation on. If we don't wait to re-order the fields, the page will jump to the error which appears below the input resulting in the user having to scroll up to make the change. This is something that should be fixed on EN's end and how they handle errors, but until then we need this work around */
/* Code dependent on "oc-en-error-helpers.js" which must execute after EN's "pagedata.js" */
body.error-jump-assist #engrid .en__component .en__field__error {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

#engrid {
  .en__field--text.en__field--validationFailed input,
  .en__field--email.en__field--validationFailed input,
  .en__field--telephone.en__field--validationFailed input,
  .en__field--number.en__field--validationFailed input,
  .en__field--textarea.en__field--validationFailed textarea,
  .en__field--select.en__field--validationFailed select {
    border-color: $client-error-red;
    background-color: $client-error-red-faded;
  }
}

#engrid
  .en__component
  .en__field.en__field--select.en__field--withOther.en__field--validationFailed
  .en__field__element,
#engrid
  .en__component
  .en__field.en__field--radio.en__field--validationFailed
  .en__field__element,
#engrid
  .en__component
  .en__field.en__field--checkbox.en__field--validationFailed
  .en__field__element,
#engrid
  .en__component
  .en__field.en__field--splittext.en__field--validationFailed
  .en__field__element,
#engrid
  .en__component
  .en__field.en__field--tripletext.en__field--validationFailed
  .en__field__element,
#engrid
  .en__component
  .en__field.en__field--splitselect.en__field--validationFailed
  .en__field__element,
#engrid
  .en__component
  .en__field.en__field--tripleselect.en__field--validationFailed
  .en__field__element {
  border: 1px solid $client-error-red;
  background-color: $client-error-red-faded;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  border-radius: $client-input-border-radius;
}

#engrid .en__field--text.en__field--validationFailed .en__field__error,
#engrid .en__field--email.en__field--validationFailed .en__field__error,
#engrid .en__field--telephone.en__field--validationFailed .en__field__error,
#engrid .en__field--number.en__field--validationFailed .en__field__error,
#engrid .en__field--textarea.en__field--validationFailed .en__field__error,
#engrid .en__field--select.en__field--validationFailed .en__field__error,
#engrid
  .en__component
  .en__field.en__field--select.en__field--withOther.en__field--validationFailed
  .en__field__error,
#engrid
  .en__component
  .en__field.en__field--radio.en__field--validationFailed
  .en__field__error,
#engrid
  .en__component
  .en__field.en__field--checkbox.en__field--validationFailed
  .en__field__error,
#engrid
  .en__component
  .en__field.en__field--splittext.en__field--validationFailed
  .en__field__error,
#engrid
  .en__component
  .en__field.en__field--tripletext.en__field--validationFailed
  .en__field__error,
#engrid
  .en__component
  .en__field.en__field--splitselect.en__field--validationFailed
  .en__field__error,
#engrid
  .en__component
  .en__field.en__field--tripleselect.en__field--validationFailed
  .en__field__error {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

#engrid
  .en__field--radio.en__field--validationFailed
  #engrid
  .en__field--checkbox.en__field--validationFailed {
  border-color: $client-error-red;
}

#engrid div[class*="-column-"].en__field .en__field__element,
#engrid .en__field.column .en__field__element {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#engrid div[class*="-row-"].en__field .en__field__element,
#engrid .en__field.row .en__field__element {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*
   * ##########################################################
   * # FLOAT LABELS
   * ##########################################################
   */

#engrid.float-labels .en__field--text input[type="text"],
#engrid.float-labels .en__field--email input[type="email"],
#engrid.float-labels .en__field--telephone input[type="tel"],
#engrid.float-labels .en__field--textarea textarea {
  padding: 1rem 0.5rem 0rem 0.5rem;
}

#engrid.float-labels .en__field--select select {
  padding: 1rem 1.5rem 0rem 0.5rem;
  background-position: right -1rem top 0.25rem;
}

#engrid.float-labels .en__field--text label.en__field__label,
#engrid.float-labels .en__field--email label.en__field__label,
#engrid.float-labels .en__field--telephone label.en__field__label,
#engrid.float-labels .en__field--textarea label.en__field__label,
#engrid.float-labels .en__field--select label.en__field__label {
  /* z-index: -1; */
  position: absolute;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: translate(0.5rem, 4px) scale(1);
  transform: translate(0.5rem, 4px) scale(1);
  opacity: 0.5;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  cursor: text;
}

#engrid.float-labels .en__field--text.has-value label.en__field__label,
#engrid.float-labels .en__field--text.has-focus label.en__field__label,
#engrid.float-labels .en__field--email.has-value label.en__field__label,
#engrid.float-labels .en__field--email.has-focus label.en__field__label,
#engrid.float-labels .en__field--telephone.has-value label.en__field__label,
#engrid.float-labels .en__field--telephone.has-focus label.en__field__label,
#engrid.float-labels .en__field--textarea.has-value label.en__field__label,
#engrid.float-labels .en__field--textarea.has-focus label.en__field__label,
#engrid.float-labels .en__field--select label.en__field__label {
  -webkit-transform: translate(0.5rem, 0px) scale(0.7);
  transform: translate(0.5rem, 0px) scale(0.7);
}

#engrid.float-labels {
  .en__field--text.en__field--validationFailed label,
  .en__field--email.en__field--validationFailed label,
  .en__field--telephone.en__field--validationFailed label,
  .en__field--number.en__field--validationFailed label,
  .en__field--textarea.en__field--validationFailed label,
  .en__field--select.en__field--validationFailed label {
    opacity: 1;
  }
}

#engrid.float-labels
  .en__field--text.en__field--validationNeeded
  .en__field__error,
#engrid.float-labels
  .en__field--email.en__field--validationNeeded
  .en__field__error,
#engrid.float-labels
  .en__field--telephone.en__field--validationNeeded
  .en__field__error,
#engrid.float-labels
  .en__field--textarea.en__field--validationNeeded
  .en__field__error,
#engrid.float-labels
  .en__field--select.en__field--validationNeeded
  .en__field__error {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

#engrid.float-labels .en__field--text.en__field--validationNeeded input,
#engrid.float-labels .en__field--email.en__field--validationNeeded input,
#engrid.float-labels .en__field--telephone.en__field--validationNeeded input,
#engrid.float-labels .en__field--textarea.en__field--validationNeeded textarea,
#engrid.float-labels .en__field--select.en__field--validationNeeded select {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* Uses Padding instead of Margin because padding is counted in the Flex-basis width whereas Margin is outside */
/* One optimization idea is to break this file up into three CSS files, 1-10, 11-20, and 21-30. That was they can be included only if that template is using them. */
/* Should confirm if the EN class field could even hold enough chars to fit defining 20 fields plus their start/stop classes */
/* Why 20 pre-defined options? To cover a single form component with all of the following: * 1. First Name (50%) | 2. Last Name (50%) * 3. Email (100%) * 4. Email Opt-in (100%) * 5. Phone (100%) * 6. Phone Opt-in (100%) * 7. Street (100%) * 8. Street 2 (100%) * 9. City (33%) | 10. State (33%) | 11. Zip (33%) * 12. Country (100%) * 13. Giving Frequency (100%) * 14. Giving Amount (100%) * 15. Gift Type (100%) * 16. Credit Card Number (100%) * 17. Credit Card Expiration (50%) | 18. Credit Card CVV (50%) * 19. Custom Field (100%) * 20. Custom Field (100%) */
/* Make all en fields 100% */
.en__field {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding-bottom: 1rem;
  margin-bottom: 0rem;
}

.en__field__element--splittext,
.en__field__element--splitselect,
.en__field__element--tripleselect {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* Includes overrides of existing CSS, need for resolve this duplicate styling */
.en__field__element--splittext .en__field__item:nth-of-type(1),
.en__field__element--splitselect .en__field__item:nth-of-type(1) {
  -ms-flex-preferred-size: 50% !important;
  flex-basis: 50% !important;
  padding-left: 0rem !important;
  padding-right: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  margin: 0 !important;
}

/* Includes overrides of existing CSS, need for resolve this duplicate styling */
.en__field__element--splittext .en__field__item:nth-of-type(2),
.en__field__element--splitselect .en__field__item:nth-of-type(2) {
  -ms-flex-preferred-size: 50% !important;
  flex-basis: 50% !important;
  padding-left: 0.5rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0.5rem !important;
  margin: 0 !important;
}

/* Includes overrides of existing CSS, need for resolve this duplicate styling */
.en__field__element--tripletext .en__field__item:nth-of-type(1),
.en__field__element--tripleselect .en__field__item:nth-of-type(1) {
  -ms-flex-preferred-size: 33.33333% !important;
  flex-basis: 33.33333% !important;
  padding-left: 0rem !important;
  padding-right: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  margin: 0 !important;
}

/* Includes overrides of existing CSS, need for resolve this duplicate styling */
.en__field__element--tripletext .en__field__item:nth-of-type(2),
.en__field__element--tripleselect .en__field__item:nth-of-type(2) {
  -ms-flex-preferred-size: 33.33333% !important;
  flex-basis: 33.33333% !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  margin: 0 !important;
}

/* Includes overrides of existing CSS, need for resolve this duplicate styling */
.en__field__element--tripletext .en__field__item:nth-of-type(3),
.en__field__element--tripleselect .en__field__item:nth-of-type(3) {
  -ms-flex-preferred-size: 33.33333% !important;
  flex-basis: 33.33333% !important;
  padding-left: 0.5rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0.5rem !important;
  margin: 0 !important;
}

#engrid .en__field--validationFailed.has-value input,
#engrid .en__field--validationFailed.has-value textarea,
#engrid .en__field--select.en__field--validationFailed.has-value select {
  border-color: $client-error-red-grayscale;
  background-color: initial;
}

.en__component--formblock {
  padding-left: -0.5rem;
  padding-right: -0.5rem;
}

#engrid .en__field {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#engrid .en__component--formblock:not(.manual-form-layout) .en__field:first-child {
  padding-left: 0;
}

#engrid .en__component--formblock:not(.manual-form-layout) .en__field:last-child {
  padding-right: 0;
}

.en__field--withOther .en__field__element--select .en__field__item:first-child {
  margin-right: 0 !important;
}

.en__field--withOther .en__field__element--select .en__field__item--other {
  margin-left: 1rem !important;
}

/* @TODO Hot fixes for demo, should be revisited */
// input[name="transaction.donationAmt.other"] {
//   max-width: 168px !important;
// }

/* Custom Styles */

#nav-header .navbar-donate {
  background-color: #f1700b;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 50px 10px;
  color: #ffffff;
  text-decoration: none;
  line-height: 38px;
}

/* Default Stylings for Common Form Fields */
/* Can be disabled by added manual-form-layout at the template or component level */
#engrid div:not(.manual-form-layout) {
  .en__component--formblock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .en__field--firstName,
  .en__field--lastName,
  .en__field--ccexpire,
  .en__field--ccvv,
  .en__field--bankAccountNumber,
  .en__field--bankRoutingNumber {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .en__field--checkbox,
  .en__field--emailAddress,
  .en__field--phoneNumber,
  .en__field--phoneNumber2,
  .en__field--country,
  .en__field--address1,
  .en__field--honname,
  .en__field--infname,
  .en__field--infemail,
  .en__field--infcountry,
  .en__field--infadd1,
  .en__field--gftrsn,
  .en__field--paymenttype,
  .en__field--ccnumber,
  .en__field--bankAccountType {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .en__field--city,
  .en__field--region,
  .en__field--postcode,
  .en__field--infcity,
  .en__field--infreg,
  .en__field--infpostcd {
    -ms-flex-preferred-size: calc(100% / 3);
    flex-basis: calc(100% / 3);
  }

  .en__field--city,
  .en__field--infcity,
  .en__field--ccexpire {
    padding-left: 0;
  }

  .en__field--lastName,
  .en__field--postcode,
  .en__field--infpostcd,
  .en__field--ccvv {
    padding-right: 0;
  }

  .en__field--recurrpay,
  .en__field--donationAmt {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  #endgrid:not(.legacy) .en__field--country {
    position: absolute;
    right: 0;
    z-index: 1;
    top: 1.7rem;
    text-align: right;
    margin: 0;
  }

  #endgrid:not(.legacy) .en__field--country::before {
    content: "";
    display: block;
    height: 60%;
    width: 1px;
    background-color: #cacaca;
    position: absolute;
    left: 0;
    top: 20%;
  }

  #endgrid:not(.legacy) .en__field--country #en__field_supporter_country {
    border: none;
    background-color: transparent;
    text-align-last: center;
    width: 89px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .en__field--donationAmt.en__field--withOther
    .en__field__element--radio
    .en__field__item:nth-last-child(1) {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .en__field--donationAmt.en__field--withOther
    .en__field__element--radio
    .en__field__item:nth-last-child(2) {
    display: none !important;
  }

  .en__field--donationAmt.en__field--withOther.en__field--validationFailed
    .en__field__element--radio {
    border-radius: 0.3rem !important;
    margin-bottom: 0.5rem;
  }

  .en__field--donationAmt.en__field--withOther.en__field--validationFailed
    .en__field__error {
    border-radius: 0.3rem !important;
  }

  .en__field--donationAmt.en__field--withOther {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#endgrid:not(.legacy).float-labels div:not(.manual-form-layout) {
  .en__field--country {
    top: 0.1rem;
  }

  #endgrid:not(.legacy) .en__field--country #en__field_supporter_country {
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    background-position: right -1rem top 0.55rem;
  }
}

// @TODO Style Mandatory Checboxes https://d.pr/i/KAZKV6

// If Float Labels are enabled, we need to hide the Credit Card Expiration Fields otherwise this happens: https://d.pr/i/1AK8yM */
.float-labels .en__field--ccexpire .en__field__label {
  display: none;
}

// Remove Number Input Spinners on Other Input Gift Amount field https://stackoverflow.com/a/4298216
.en__field--donationAmt input[type="number"]::-webkit-inner-spin-button,
.en__field--donationAmt input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}


// Helper class to only show something when "Give Monthly" is selected
#engrid:not(.has-give-monthly) .only-show-when-giving-monthly{
  display: none !important;
}
  
// Helper class to only show something when "Give Once" is selected
#engrid:not(.has-give-once) .only-show-when-giving-once{
  display: none !important;
}

// Helper class to only show something when "Give Once" is selected
#engrid:not(.has-give-in-honor) .give-in-honor{
  display: none !important;
}

#engrid:not(.has-give-by-card) .give-by-card{
  display: none !important;
}

#engrid:not(.has-give-by-check) .give-by-check{
  display: none !important;
}

#engrid:not(.has-give-by-paypal) .give-by-paypal{
  display: none !important;
}