/*
* ####################################################################################################################
* Layout - Center Left 1 Column
* ####################################################################################################################
*/

/*
* ##########################################################
* # ENGRID - Mobile First Styling
* # LAYOUT - Center Left 1 Column - layout-centerleft1col
* ##########################################################
*/

#engrid.layout-centerleft1col {
  .content-header,
  .body-banner,
  .body-bannerOverlay,
  .body-side,
  .body-footerOutside {
    display: none;
  }

  /* prettier-ignore */
  .en__component--advrow,
  .en__component--advrow .pseudo-subgrid {
    /* autoprefixer grid: off */
    grid-template-columns:
    [
      pc-start lpc-start]  minmax(0px, 1fr)                  [lpc-end
      cc-start lcc-start]  minmax(15px, 1fr)                 [lcc-end
      bc-start lbc-start]  minmax(calc(50vw - 15px), 250px)  [lbc-end
      rbc-start]           minmax(calc(50vw - 15px), 250px)  [rbc-end bc-end
      rcc-start]           minmax(15px, 1fr)                 [rcc-end cc-end
      rpc-start]           minmax(0px, 1fr)                  [rpc-end pc-end               
    ];
  }

  .body-headerOutside {
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-column: bc;
  }

  .content-preFooter {
    grid-column: pc;
  }

  .content-preFooter > div {
    grid-column: cc;
  }

  .content-footer.pseudo-subgrid > div {
    grid-column: bc;
  }
}

body:not(#en__pagebuilder) #engrid.layout-centerleft1col {
  .page-backgroundImage {
    grid-row: page-start / content-footerSpacer-end;
  }

  /* This should use a more robust solution for adding a gradient overlay to the background image, but below the overlay text */
  .page-backgroundImage::before {
    content: "";
    background-image: radial-gradient(
      circle at 50% 0,
      rgba(0, 0, 0, 0.3),
      transparent 53%
    );
    z-index: -3;
    grid-column: pc;
  }
  .page-backgroundImageOverlay {
    grid-row: page-start / body-main-end;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.3)),
      color-stop(30%, transparent)
    );
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      transparent 30%
    );
  }
}

/*
* ##########################################################
* # ENGRID - BODY Column Breakpoint Styling
* # LAYOUT - Center Left 1 Column - layout-centerleft1col
* ##########################################################
*/

/* Sum of all MIN values of the Body Columns */
@media screen and (min-width: 600px) {
  #engrid.layout-centerleft1col {
    /* prettier-ignore */
    .en__component--advrow,
    .en__component--advrow .pseudo-subgrid {
      /* autoprefixer grid: off */
      grid-template-columns:
      [
        pc-start lpc-start]  minmax(25px, 1fr)     [lpc-end
        cc-start lcc-start]  minmax(0px, 0px)      [lcc-end
        bc-start lbc-start]  minmax(300px, 300px)  [lbc-end
        rbc-start]           minmax(300px, 300px)  [rbc-end bc-end
        rcc-start]           minmax(0px, 1.25fr)   [rcc-end cc-end
        rpc-start]           minmax(25px, 1fr)     [rpc-end pc-end            
      ]; 
    }

    .body-headerOutside {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    [class^="body-"] {
      border-left: 1px solid black;
      border-right: 1px solid black;
    }

    .body-header {
      margin-top: 1rem;
      border-top: 1px solid black;
      border-top-left-radius: $client-input-border-radius;
      border-top-right-radius: $client-input-border-radius;
    }

    .body-footer {
      margin-bottom: 5rem;
    }

    .content-footer.pseudo-subgrid > div {
      grid-column: cc;
    }
  }
}

/*
* ##########################################################
* # ENGRID - Content Column Breakpoint Styling
* # LAYOUT - Center Left 1 Column - layout-centerleft1col
* ##########################################################
*/

/* Sum of all MAX values of the Body Columns + 1px */
@media screen and (min-width: 900px) {
}

/*
* ####################################################################################################################
* Layout - Center Center 1 Column
* ####################################################################################################################
*/

/*
* ##########################################################
* # ENGRID - Mobile First Styling
* # LAYOUT - Center Center 1 Column - layout-centercenter1col
* ##########################################################
*/

#engrid.layout-centercenter1col {
  .content-header,
  .body-banner,
  .body-bannerOverlay,
  .body-side {
    display: none;
  }

  // For testing vertically short content
  // .body-main,
  // .content-preFooter{
  //   display: none;
  // }

  /* prettier-ignore */
  .en__component--advrow,
  .en__component--advrow .pseudo-subgrid {
    /* autoprefixer grid: off */
    grid-template-columns:
    [
      pc-start lpc-start]  minmax(0px, 1fr)                  [lpc-end
      cc-start lcc-start]  minmax(15px, 1fr)                 [lcc-end
      bc-start lbc-start]  minmax(calc(50vw - 15px), 250px)  [lbc-end
      rbc-start]           minmax(calc(50vw - 15px), 250px)  [rbc-end bc-end
      rcc-start]           minmax(15px, 1fr)                 [rcc-end cc-end
      rpc-start]           minmax(0px, 1fr)                  [rpc-end pc-end        
    ];
  }

  .body-headerOutside {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .content-preFooter {
    grid-column: pc;
    background-size: contain;
  }

  .content-preFooter.pseudo-subgrid > div {
    grid-column: bc;
  }

  .body-footer {
    margin-bottom: 5rem;
  }

  .content-footer.pseudo-subgrid > div {
    grid-column: bc;
  }
}

body:not(#en__pagebuilder) #engrid.layout-centercenter1col {
  // Specified on child dom elements so that if there are none, then the parent div collapses its vertical height.
  .content-preFooter > div {
    min-height: 710px;
  }

  .page-backgroundImage {
    grid-row: page-start / content-footerSpacer-end;
  }

  /* This should use a more robust solution for adding a gradient overlay to the background image, but below the overlay text */
  .page-backgroundImage::before {
    content: "";
    background-image: radial-gradient(
      circle at 50% 0,
      rgba(0, 0, 0, 0.3),
      transparent 53%
    );
    z-index: -3;
    grid-column: pc;
  }
  .page-backgroundImageOverlay {
    grid-row: page-start / body-main-end;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.3)),
      color-stop(30%, transparent)
    );
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      transparent 30%
    );
  }
}

body#en__pagebuilder #engrid.layout-centercenter1col {
  .page-backgroundImage > div,
  .page-backgroundImageOverlay > div {
    grid-column: bc;
  }
}

/*
* ##########################################################
* # ENGRID - BODY Column Breakpoint Styling
* # LAYOUT - Center Center 1 Column - layout-centercenter1col
* ##########################################################
*/

/* Sum of all MIN values of the Body Columns */
@media screen and (min-width: 600px) {
  #engrid.layout-centercenter1col {
    /* prettier-ignore */
    .en__component--advrow,
    .en__component--advrow .pseudo-subgrid {
      /* autoprefixer grid: off */
      grid-template-columns:
      [
        pc-start lpc-start]  minmax(25px, 1fr)     [lpc-end
        cc-start lcc-start]  minmax(25px, 250px)   [lcc-end
        bc-start lbc-start]  minmax(250px, 340px)  [lbc-end
        rbc-start]           minmax(250px, 340px)  [rbc-end bc-end
        rcc-start]           minmax(25px, 250px)   [rcc-end cc-end
        rpc-start]           minmax(25px, 1fr)     [rpc-end pc-end            
      ]; 
    }

    .en__component--advrow .body-header,
    .en__component--advrow .body-banner,
    .en__component--advrow .body-bannerOverlay,
    .en__component--advrow .body-top,
    .en__component--advrow .body-side,
    .en__component--advrow .body-main,
    .en__component--advrow .body-bottom,
    .en__component--advrow .body-footer {
      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }

    .en__component--advrow .body-header {
      padding-top: 4rem;
    }
    .en__component--advrow .body-footer {
      padding-bottom: 4rem;
    }

    .body-headerOutside {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    [class^="body-"] {
      border-left: 1px solid black;
      border-right: 1px solid black;
    }

    .body-header {
      margin-top: 1rem;
      border-top: 1px solid black;
      border-top-left-radius: $client-input-border-radius;
      border-top-right-radius: $client-input-border-radius;
    }

    .content-preFooter.pseudo-subgrid > div {
      grid-column: cc;
    }

    .content-footer.pseudo-subgrid > div {
      grid-column: cc;
    }
  }
}

/*
* ##########################################################
* # ENGRID - Content Column Breakpoint Styling
* # LAYOUT - Center Center 1 Column - layout-centercenter1col
* ##########################################################
*/

/* Sum of all MAX values of the Body Columns + 1px */
@media screen and (min-width: 1231px) {
  #engrid.layout-centercenter1col {
    .content-preFooter {
      background-size: cover;
    }
  }

  body:not(#en__pagebuilder) #engrid.layout-centercenter1col {
    // Specified on child dom elements so that if there are none, then the parent div collapses its vertical height.
    .content-preFooter > div {
      min-height: 1010px;
    }
  }
}
