// Depends on click-to-expand.ts

body:not(#en__pagebuilder) .click-to-expand.expanded{
    height: initial;
}

body:not(#en__pagebuilder) .click-to-expand:not(.expanded){
    cursor: pointer;
    height: 430px;
    overflow: hidden;

    .click-to-expand-text-wrapper {
        height: 380px;

        &:not(.div-expanded) {
            position: relative;
            overflow: hidden;
        }

        &::after {
            content: "";
            position: absolute;
            top: 100px;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 330px;
            background: -webkit-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            background-image: -moz-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            background-image: -o-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            background-image: linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            background-image: -ms-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        }
    }

    .click-to-expand-cta {
        background: var(--theme-click-to-expand-cta-image-url);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: var(--theme-click-to-expand-cta-image-width) var(--theme-click-to-expand-cta-image-height);
        z-index: 100; // @TODO Check this z-index
        width: var(--theme-click-to-expand-cta-image-width);
        height: var(--theme-click-to-expand-cta-image-height);
        bottom: 0em;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}