// NOTE: Any CSS Custom Properties are changes they should also be made in themes/starter-theme/sass/variables.scss

// @TODO There has to be a better way of defining breakpoints as a default and then adjust them up stream in the themes
$slicer-breakpoints: 0 400px 600px 1024px 1200px;

// @TODO Look into replicating "Teach a System of Space Visually" as a Development page that shows all styling decisions for the brand https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62#.fwng4aef7
:root{
    // FIXED COLOR PALETTE
    --color-transparent: transparent;
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(0, 0, 0, 1);

    // GRAYSCALE COLOR PALETTE
    --theme-off-white: #DFDFDF;
    --theme-light-gray: #BFBFBF;
    --theme-gray: #9F9F9F;
    --theme-dark-gray: #808080;
    --theme-off-black: #404040;

    // SEMANTIC COLOR PALETTE
    --theme-success: #33CC33;
    --theme-warning: #FCAC00;
    --theme-error: #F12222;

    // CTA COLOR
    --theme-cta: #0070BA;
    --theme-cta-hover: #22a3cb;

    // PAGE, CONTENT, and BODY BACKGROUND COLOR
    // Quick set the background color on all corresponding sections
    --theme-page-background-color: var(--color-transparent);
    --theme-content-background-color: var(--color-transparent);
    --theme-body-background-color: var(--color-white);

    // ENGRID SECTIONS BACKGROUND COLOR
    --theme-page-alert-background-color: var(--theme-page-background-color);
    --theme-content-header-background-color: var(--theme-content-background-color);
    --theme-body-headerOutside-background-color: var(--color-transparent);
    --theme-body-header-background-color: var(--theme-body-background-color);
    --theme-body-banner-background-color: var(--theme-body-background-color);
    --theme-body-bannerOverlay-background-color: var(--color-transparent);
    --theme-body-top-background-color: var(--theme-body-background-color);
    --theme-body-side-background-color: var(--theme-body-background-color);
    --theme-body-main-background-color: var(--theme-body-background-color);
    --theme-body-bottom-background-color: var(--theme-body-background-color);
    --theme-body-footer-background-color: var(--theme-body-background-color);
    --theme-body-footerOutside-background-color: var(--color-transparent);
    --theme-content-footerSpacer-background-color: var(--theme-content-background-color);
    --theme-content-preFooter-background-color: var(--theme-content-background-color);
    --theme-content-footer-background-color: var(--theme-content-background-color);
    --theme-page-backgroundImage-background-color: var(--theme-page-background-color);
    --theme-page-backgroundImageOverlay-background-color: var(--color-transparent);
    --theme-page-customCode-background-color: var(--theme-page-background-color);

    /* ENGRID BACKGROUND IMAGE SECTION'S BACKGROUND PATTERN */
    /* This is a background pattern that is shown before the hi-resolution background image is lazy loaded in, if at all */
    /* It's background color "--theme-page-backgroundImage-background-color" should be the average color of the image  */
    /* REF: (https://doodad.dev/pattern-generator/) */
    --theme-page-backgroundImage-background-pattern: "url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)"; // Invisible GIF

    /* REF: http://www.standardista.com/px-to-rem-conversion-if-root-font-size-is-16px/ */
    --theme-root-font-size: 16px; // Sets a baseline font size for all other REM based font-sizes to relatively build off of

    --theme-page-backgroundImage-url: "url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)"; // Invisible GIF

    --theme-body-border-radius: 0px;
    --theme-spacing-sm: 0.8652rem; // @TODO Revisit
    --theme-spacing: calc(0.8652rem * 0.75); // @TODO Revisit
    --theme-spacing-lg: calc(0.8652rem * 2.5); // @TODO Revisit
    --theme-spacing-xlg: calc(0.8652rem * 5); // @TODO Revisit

    /* INPUTS */
    --theme-input-border-radius: 5px;
    --theme-input-border-width: 2px;
    --theme-input-border-color: var(--color-black);
    --theme-input-border-color-focus: var(--color-black);
    --theme-input-background-color: var(--color-white);
    --theme-input-background-color-hover: var(--color-white);
    --theme-input-font-placeholder-color: var(--theme-light-gray);   

    /* BUTTONS */
    --theme-button-background-color: var(--color-black);
    --theme-button-background-color-hover: var(--theme-cta-hover);
    --theme-button-background-color-active: var(--theme-cta);
    --theme-button-border-color: var(--color-black);
    --theme-button-border-color-active: var(--theme-cta);
    --theme-button-border-color-hover: var(--theme-cta-hover);
    --theme-button-border-radius: 0px;
    --theme-button-font-color: var(--color-white);
    --theme-button-font-color-active: var(--color-white);

    /* SUBMIT BUTTONS */
    --theme-submit-button-background-color: var(--theme-cta);
    --theme-submit-button-background-color-hover: var(--theme-cta-hover);
    --theme-submit-button-border-color: var(--theme-cta);
    --theme-submit-button-font-color: var(--color-white);

    /* CHECKMARKS */
    --theme-checkmark-background-color: var(--theme-cta);
    --theme-checkmark-border-color: var(--theme-cta);
    --theme-checkmark-font-color: var(--color-white);

    /* ERRORS */
    --theme-error-red: var(--theme-error);
    --theme-error-red-grayscale: #949494;
    --theme-error-red-faded: #FFEAE9;
    --theme-error-page-group-background: #FFEAE9;
    --theme-error-input-border-width: var(--theme-input-border-width);

    /* HIGHLIGHTS */
    --theme-highlight-background-color: #227F9E;
    --theme-highlight-font-color: #FFFFFF;

    /* CLICK TO EXPAND */
    --theme-click-to-expand-cta-image-url: url("https://e-activist.com/ea-demo/frontend/pbAssets/build/images/en_open.png");
    --theme-click-to-expand-cta-image-width: 16px;
    --theme-click-to-expand-cta-image-height: 16px;
}