/* General Purposes Utility Classes */
.no-margin {
  margin: 0px;
}

.no-top-margin {
  margin-top: 0px;
}

.no-bottom-margin {
  margin-top: 0px;
}

.css-display_flex {
  display: flex;
}

.css-flex-wrap_wrap {
  flex-wrap: wrap;
}

.css-align-items_flex-start {
  align-items: flex-start;
}

.css-align-items_flex-end {
  align-items: flex-end;
}

.small {
  font-size: 90%;
}
