// Depends on click-to-expand.ts
body:not(#en__pagebuilder) .click-to-expand:not(.expanded){
    cursor: pointer;
    height: var(--theme-click-to-expand-copy-total-height);
    overflow: hidden;

    .click-to-expand-text-wrapper {
        height: calc(var(--theme-click-to-expand-copy-total-height) - var(--theme-click-to-expand-cta-image-height));
        -webkit-mask-image: linear-gradient(to bottom, black var(--theme-click-to-expand-copy-height-before-fade-starts), transparent 100%);
        mask-image: linear-gradient(to bottom, black var(--theme-click-to-expand-copy-height-before-fade-starts), transparent 100%);
    }

    .click-to-expand-cta {
        background: var(--theme-click-to-expand-cta-image-url);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: var(--theme-click-to-expand-cta-image-width) var(--theme-click-to-expand-cta-image-height);
        z-index: 100; // @TODO Check this z-index
        width: var(--theme-click-to-expand-cta-image-width);
        height: var(--theme-click-to-expand-cta-image-height);
        bottom: 0em;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}