// @import url("https://use.typekit.net/bqp8wjl.css");
// body {
//   font-family: "myriad-pro", sans-serif;
// }

// BRAND STYLES
@font-face {
  font-family: "HarmoniaSansStd";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("HarmoniaSansStd"), local("HarmoniaSansStd-Regular"),
    url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10042/HarmoniaSansStd-Regular.otf")
      format("opentype");
}

@font-face {
  font-family: "HarmoniaSansStd";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("HarmoniaSansStd Medium"), local("HarmoniaSansStd-Medium"),
    url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10042/HarmoniaSansStd-SemiBd.otf")
      format("opentype");
}

@font-face {
  font-family: "HarmoniaSansStd";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("HarmoniaSansStd Bold"), local("HarmoniaSansStd-Bold"),
    url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10042/HarmoniaSansStd-Bold.otf")
      format("opentype");
}

@font-face {
  font-family: "HarmoniaSansStd";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("HarmoniaSansStd Black"), local("HarmoniaSansStd-Black"),
    url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10042/HarmoniaSansStd-Black.otf")
      format("opentype");
}

body {
  // font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: HarmoniaSansStd;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
}

// #engrid .en__component--copyblock p {
//   font-family: HarmoniaSansStd;
//   font-size: 18px;
//   font-weight: normal;
//   font-stretch: normal;
//   font-style: normal;
//   line-height: 1.44;
//   letter-spacing: normal;
// }

#engrid h1 {
  font-family: HarmoniaSansStd;
  font-size: 48px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
}

#engrid h2 {
  font-family: HarmoniaSansStd;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

#engrid h3 {
  font-family: HarmoniaSansStd;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

#engrid label.en__field__label {
  font-family: HarmoniaSansStd;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.68px;
  text-transform: uppercase;
}

#engrid .en__field__label--item {
  font-family: HarmoniaSansStd;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
}

#engrid .en__field--donationAmt .en__field__label--item,
#engrid .en__field--donationAmt .en__field__item--other::before,
#engrid .en__field--donationAmt .en__field__item--other input {
  font-family: HarmoniaSansStd;
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
