// SHAME Corner
/* Fix for flexbox sub-pixel rounding causing a 1px jitter in Chrome. */
/* And because EN inserts a div at the end of rows in the page builder, we needed to use a more permiscuse scope. */
/* This fix has NOT been tested for regressions in other browsers */
/* e.g https://d.pr/i/CRYKHa */
body:not(#en__pagebuilder) .en__component--column:last-of-type,
#en__pagebuilder .en__component--column {
  position: relative;
  right: -0.15px;
}

/* Something in EN is causing outlines to overlap, this prevents the issue */
#EN__RootElement .pboAdvancedRow__preview .en__component--column {
  margin-bottom: 1px;
}

#EN__RootElement .pboAdvancedRow__preview .en__component--column:before {
  padding: 0.5rem 0;
}

/* RAN Named their EMAIl Opt-in `email` which causes it to get the generated class `en__field--email` that matches the auto assigned class `en__field--email` given to EMAIL type fields. This fixes that collision of styles. https://d.pr/i/ziiG76 */
.en__field--102600 label {
  position: relative !important;
  -webkit-transform: initial !important;
  transform: initial !important;
  opacity: 1 !important;
}

/* Legacy Template Support */
.en__component--row--1,
.en__component--row--2{
  display: initial !important;
}

/*
* ##########################################################
* # TEMP STYLINGS - TO BE DELETED
* ##########################################################
*/

// #engrid input,
// #engrid button {
//   display: block;
//   margin-bottom: 1rem;
// }

// .simulated-tall {
//   height: 120vh;
// }

// #engrid .page-backgroundImage {
//   background-image: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1874/orangutan-compressed.jpg?v=1571158014000");
// }

// body:not(#en__pagebuilder) #engrid {
//   @include from(3) {
//     .content-footer {
//       background: rgba(0, 0, 0, 0.5);
//       background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
//       background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
//     }
//   }
// }

// #nav-footer a {
//   text-decoration: none;
//   display: inline-block;
//   padding: $body-padding $body-padding-sm;
//   color: #ffffff;
// }

// @include to(2) {
//   #nav-footer {
//     padding: $body-padding 0 $body-padding 0;
//     a {
//       display: block;
//       padding: $body-padding-sm $body-padding-lg $body-padding-sm $body-padding;
//       color: #78a22e;
//     }
//   }
// }

// body:not(#en__pagebuilder) {
//   .pb {
//     background-size: cover;
//     background-position: center;
//     background-attachment: fixed;
//   }
//   .pcc {
//     display: none;
//   }
// }

// /* @TODO Probably a better place to put this */
// body:not(#en__pagebuilder) .layout-1.center-left .pb,
// body:not(#en__pagebuilder) .layout-1.center-center .pb {
//   position: sticky;
//   top: 0;
//   height: 100vh;
//   background-size: cover !important;
//   background-position: initial !important;
//   background-attachment: initial !important;
// }
