// Layout 1 Styling

.layout-1 {
  /* The Content Column - Page Footer has internal components that should horizontally line up to the body */
  .ccpf {
    display: grid;
    grid-template-columns:
      [content-start]
      minmax(0px, var(--body-column-left-gutter)) [body-start]
      minmax(0px, var(--body-left-gutter)) [center-start]
      minmax(600px, var(--body-width)) [center-end]
      minmax(0px, var(--body-right-gutter)) [body-end]
      minmax(0px, var(--body-column-right-gutter))
      [content-end];
    > div {
      grid-column: center-start / content-end;
      color: #ffffff;
    }
  }
  .bh {
    background-color: #ffffff;
    border-top-left-radius: var(--body-border-radius);
    border-top-right-radius: var(--body-border-radius);
    margin-top: var(--body-margin);
    padding-top: var(--body-padding-lg);
  }
  .btc {
    background-color: #ffffff;
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);
  }
  .bform {
    background-color: #ffffff;
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);
  }
  .bf {
    background-color: #ffffff;
    border-bottom-left-radius: var(--body-border-radius);
    border-bottom-right-radius: var(--body-border-radius);
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);
    padding-bottom: var(--body-padding-lg);
    margin-bottom: var(--body-margin);
  }
  #nav-footer a {
    text-decoration: none;
    display: inline-block;
    padding: var(--body-padding) var(--body-padding-sm);
    color: #ffffff;
  }

  //   MOBILE (max-width: 600px)
  @include to(2) {
    #nav-footer {
      padding: var(--body-padding) 0 var(--body-padding) 0;
      a {
        display: block;
        padding: var(--body-padding-sm) var(--body-padding-lg)
          var(--body-padding-sm) var(--body-padding);
        color: #78a22e;
      }
    }
    .en__component--advrow,
    ~ #EN__RootElement
      div.pboAdvancedRow__preview
      .en__component--row.en__component--advrow {
      grid-template-columns:
        [content-start]
        0px [body-start]
        0px [center-start]
        auto [center-end]
        0px [body-end]
        0px
        [content-end];
    }
    .ccpf {
      grid-template-columns:
        [content-start]
        0px [body-start]
        0px [center-start]
        auto [center-end]
        0px [body-end]
        0px
        [content-end];
    }
    .pb,
    .pbo {
      display: none;
    }
    .bh {
      margin-top: 0rem;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
    .bf {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .pb {
      background-image: none;
    }
  }
  /*
    * ##########################################################
    * # RAN Layout 1 (layout-1 left-left)
    * # The Content Column is left aligned and Body Column is left aligned inside it.
    * ##########################################################
    */
  &.left-left,
  &.left-left ~ #EN__RootElement {
    /* @TODO: Replace with SCSS Variables*/

    --content-width: 1100px;

    --body-column-left-gutter: 35px;
    --body-left-gutter: 0px;
    --body-width: 600px;
    --body-right-gutter: 0px;
    --body-column-right-gutter: 1fr;

    --body-border-radius: 0.4375rem;
    --body-margin: 2.1875rem;

    --body-padding-sm: 0.8652rem;
    --body-padding: 1.375rem;
    --body-padding-lg: 2.1875rem;

    /* Grid Template Rows - Sets Content Column - Page Footer to 1fr which causes it to be "stickied" to the bottom of the page if the other content is shorter than the page is tall */
    .en__component--advrow,
    ~ #EN__RootElement
      div.pboAdvancedRow__preview
      .en__component--row.en__component--advrow {
      grid-template-areas:
        "ccpph    ccpph   ccpph   ccpph   ccpph"
        "ccph     ccph    ccph    ccph    ccph"
        ".        bcoh    bcoh    bcoh    ."
        ".        .       bph     .       ."
        ".        .       bh      .       ."
        ".        .       bb      .       ."
        ".        .       bbo     .       ."
        ".        .       btc     .       ."
        ".        .       bsc     .       ."
        ".        .       bform   .       ."
        ".        .       bpf     .       ."
        ".        .       bf      .       ."
        ".        bcof    bcof    bcof    ."
        "ccfs     ccfs    ccfs    ccfs    ccfs"
        "ccpf     ccpf    ccpf    ccpf    ccpf"
        "pb       pb      pb      pb      pb"
        "pbo      pbo     pbo     pbo     pbo"
        "pcc      pcc     pcc     pcc     pcc";
      grid-template-rows: [ccpph-start] auto [ccph-start ccpph-end] auto [bcoh-start ccph-end] auto [bph-start bcoh-end] auto [bh-start bph-end] auto [bb-start bh-end] auto [bbo-start bb-end] auto [btc-start bbo-end] auto [bsc-start btc-end] auto [bform-start bsc-end] auto [bpf-start bform-end] auto [bf-start bpf-end] auto [bcof-start bf-end] auto [ccfs-start bcof-end] 1fr [ccpf-start ccfs-end] auto [pb-start ccpf-end] auto [pbo-start pb-end] auto [pcc-start pbo-end] auto [pcc-end];
      grid-template-columns:
        [content-start]
        minmax(0px, var(--body-column-left-gutter)) [body-start]
        minmax(0px, var(--body-left-gutter)) [center-start]
        minmax(600px, var(--body-width)) [center-end]
        minmax(0px, var(--body-right-gutter)) [body-end]
        minmax(0px, var(--body-column-right-gutter))
        [content-end];
    }
    // From 0 to 1024px
    @include to(4) {
      .pbo {
        display: none;
      }
    }
  }
  /*
    * ##########################################################
    * # RAN Layout 1 (layout-1 center-left)
    * # The Content Column is centered and Body Column is left aligned inside it.
    * ##########################################################
    */
  &.center-left,
  &.center-left ~ #EN__RootElement {
    /* @TODO: Replace with SCSS Variables*/
    --content-width: 1100px;

    --body-column-left-gutter: 1fr;
    --body-left-gutter: 0px;
    --body-width: 650px;
    --body-right-gutter: 450px;
    --body-column-right-gutter: 1fr;

    --body-border-radius: 0.4375rem;
    --body-margin: 2.1875rem;

    --body-padding-sm: 0.8652rem;
    --body-padding: 1.375rem;
    --body-padding-lg: 2.1875rem;
    /* Grid Template Rows - Sets Content Column - Page Footer to 1fr which causes it to be "stickied" to the bottom of the page if the other content is shorter than the page is tall */
    .en__component--advrow,
    ~ #EN__RootElement
      div.pboAdvancedRow__preview
      .en__component--row.en__component--advrow {
      grid-template-areas:
        "ccpph    ccpph   ccpph   ccpph   ccpph"
        "ccph     ccph    ccph    ccph    ccph"
        ".        bcoh    bcoh    bcoh    ."
        ".        .       bph     .       ."
        ".        .       bh      .       ."
        ".        .       bb      .       ."
        ".        .       bbo     .       ."
        ".        .       btc     .       ."
        ".        .       bsc     .       ."
        ".        .       bform   .       ."
        ".        .       bpf     .       ."
        ".        .       bf      .       ."
        ".        bcof    bcof    bcof    ."
        "ccfs     ccfs    ccfs    ccfs    ccfs"
        "ccpf     ccpf    ccpf    ccpf    ccpf"
        "pb       pb      pb      pb      pb"
        "pbo      pbo     pbo     pbo     pbo"
        "pcc      pcc     pcc     pcc     pcc";
      grid-template-rows: [ccpph-start] auto [ccph-start ccpph-end] auto [bcoh-start ccph-end] auto [bph-start bcoh-end] auto [bh-start bph-end] auto [bb-start bh-end] auto [bbo-start bb-end] auto [btc-start bbo-end] auto [bsc-start btc-end] auto [bform-start bsc-end] auto [bpf-start bform-end] auto [bf-start bpf-end] auto [bcof-start bf-end] auto [ccfs-start bcof-end] 1fr [ccpf-start ccfs-end] auto [pb-start ccpf-end] auto [pbo-start pb-end] auto [pcc-start pbo-end] auto [pcc-end];
      grid-template-columns:
        [content-start]
        minmax(0px, var(--body-column-left-gutter)) [body-start]
        minmax(0px, var(--body-left-gutter)) [center-start]
        minmax(600px, var(--body-width)) [center-end]
        minmax(0px, var(--body-right-gutter)) [body-end]
        minmax(0px, var(--body-column-right-gutter))
        [content-end];
    }
    .ccph,
    .ccpf {
      grid-template-columns:
        [content-start]
        minmax(0px, var(--body-column-left-gutter)) [body-start]
        minmax(0px, var(--body-left-gutter)) [center-start]
        minmax(0px, var(--body-width)) [center-end]
        minmax(0px, var(--body-right-gutter)) [body-end]
        minmax(0px, var(--body-column-right-gutter))
        [content-end];
      display: grid;
      .en__component--copyblock {
        grid-column: body;
      }
    }
    .ccph {
      background-color: #2e2e2c;
      padding: 1rem 0;
    }
    #nav-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .navbar-donate {
        background-color: #f1700b;
        text-transform: uppercase;
        font-size: 18px;
        padding: 10px 50px 10px;
        color: #ffffff;
        text-decoration: none;
        line-height: 38px;
      }
    }
    // From 0 to 1024px
    @include to(4) {
      .pbo {
        display: none;
      }
    }
  }
  /*
    * ##########################################################
    * # RAN Layout 1 (layout-1 center-center)
    * # The Content Column is centered and Body Column is left aligned inside it.
    * ##########################################################
    */
  &.center-center,
  &.center-center ~ #EN__RootElement {
    /* @TODO: Replace with SCSS Variables*/
    --content-width: 1100px;

    --body-column-left-gutter: 1fr;
    --body-left-gutter: 140px;
    --body-width: 820px;
    --body-right-gutter: 140px;
    --body-column-right-gutter: 1fr;

    --body-border-radius: 0.4375rem;
    --body-margin: 2.1875rem;

    --body-padding-sm: 0.8652rem;
    --body-padding: 1.375rem;
    --body-padding-lg: 2.1875rem;
    /* Grid Template Rows - Sets Content Column - Page Footer to 1fr which causes it to be "stickied" to the bottom of the page if the other content is shorter than the page is tall */
    .en__component--advrow,
    ~ #EN__RootElement
      div.pboAdvancedRow__preview
      .en__component--row.en__component--advrow {
      grid-template-areas:
        "ccpph    ccpph   ccpph   ccpph   ccpph"
        "ccph     ccph    ccph    ccph    ccph"
        ".        bcoh    bcoh    bcoh    ."
        ".        .       bph     .       ."
        ".        .       bh      .       ."
        ".        .       bb      .       ."
        ".        .       bbo     .       ."
        ".        .       btc     .       ."
        ".        .       bsc     .       ."
        ".        .       bform   .       ."
        ".        .       bpf     .       ."
        ".        .       bf      .       ."
        ".        bcof    bcof    bcof    ."
        "ccfs     ccfs    ccfs    ccfs    ccfs"
        "ccpf     ccpf    ccpf    ccpf    ccpf"
        "pb       pb      pb      pb      pb"
        "pbo      pbo     pbo     pbo     pbo"
        "pcc      pcc     pcc     pcc     pcc";
      grid-template-rows: [ccpph-start] auto [ccph-start ccpph-end] auto [bcoh-start ccph-end] auto [bph-start bcoh-end] auto [bh-start bph-end] auto [bb-start bh-end] auto [bbo-start bb-end] auto [btc-start bbo-end] auto [bsc-start btc-end] auto [bform-start bsc-end] auto [bpf-start bform-end] auto [bf-start bpf-end] auto [bcof-start bf-end] auto [ccfs-start bcof-end] 1fr [ccpf-start ccfs-end] auto [pb-start ccpf-end] auto [pbo-start pb-end] auto [pcc-start pbo-end] auto [pcc-end];
      grid-template-columns:
        [content-start]
        minmax(0px, var(--body-column-left-gutter)) [body-start]
        minmax(0px, var(--body-left-gutter)) [center-start]
        minmax(600px, var(--body-width)) [center-end]
        minmax(0px, var(--body-right-gutter)) [body-end]
        minmax(0px, var(--body-column-right-gutter))
        [content-end];
    }
    .ccph,
    .ccpf {
      grid-template-columns:
        [content-start]
        minmax(0px, var(--body-column-left-gutter)) [body-start]
        minmax(0px, var(--body-left-gutter)) [center-start]
        minmax(0px, var(--body-width)) [center-end]
        minmax(0px, var(--body-right-gutter)) [body-end]
        minmax(0px, var(--body-column-right-gutter))
        [content-end];
      display: grid;
      .en__component--copyblock {
        grid-column: body;
      }
    }
    .ccph {
      background-color: #2e2e2c;
      padding: 1rem 0;
    }
    #nav-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .navbar-donate {
        background-color: #f1700b;
        text-transform: uppercase;
        font-size: 18px;
        padding: 10px 50px 10px;
        color: #ffffff;
        text-decoration: none;
        line-height: 38px;
      }
    }
    .pb {
      grid-row: bcoh-start / ccpf-end;
      grid-column: content / content;
      z-index: -1;
    }
    .pbo {
      display: none;
    }
  }
}
body:not(#en__pagebuilder) .layout-1 {
  .pb {
    background-position: right top;
    background-color: #487c0f;
  }
  @include from(3) {
    .ccpf {
      background: rgba(0, 0, 0, 0.5);
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(transparent),
        to(rgba(0, 0, 0, 0.5))
      );
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    }
  }

  &.left-left {
    .ccph {
      display: none;
    }
    .pb {
      grid-row: bcoh-start / ccpf-end;
      grid-column: content / content;
      z-index: -1;
    }
    .pbo {
      grid-row: bcoh-start / ccpf-end;
      grid-column: center-end / content-end;
      z-index: -1;
      margin: var(--body-margin);
      color: #ffffff;
    }
  }
  &.center-left {
    .pb {
      grid-row: bcoh-start / ccpf-end;
      grid-column: content / content;
      z-index: -1;
    }
    .pbo {
      grid-row: bcoh-start / ccpf-end;
      grid-column: center-end / content-end;
      z-index: -1;
      margin: var(--body-margin);
      color: #ffffff;
    }
  }
}
