/* CLIENT THEME SASS VARIABLES, MUST COME BEFORE ENGRID ASSETS */
@import "./page-template-variables";

/* ENGRID ASSETS */
// @import "@4site/engrid-styles"; // Uses ENGrid via NPM
@import "../../../engrid-scripts/packages/styles"; // Uses ENGrid via Visual Studio Workspace

/* CLIENT THEME FONTS AND STYLES */
@import "./page-template-fonts";
@import "./page-template-styles";

/* ENGRID PAGE TEMPLATES MAKES THE BODY INVISIBLE SO THE USER NEVER SEE'S AN UNSTYLED PAGE*/
/* THIS MAKES THE BODY VISIBLE AFTER IT'S DOWNLOADED AND PARSED BY THE BROWSER */
body {
  opacity: 1;
  transition: opacity 0.2s;
}
