/* ENGRID */
// @import "@4site/engrid-styles";
@import "../../../engrid-scripts/packages/styles";

/* THEME STYLING AND LAYOUTS */
@import "./page-template-variables";
@import "./page-template-fonts";
@import "./page-template-styles";

/* ENGRID PAGE TEMPLATES MAKES THE BODY INVISIBLE SO THE USER NEVER SEE'S AN UNSTYLED PAGE*/
/* THIS MAKES THE BODY VISIBLE AFTER IT'S DOWNLOADED AND PARSED BY THE BROWSER */
body {
  opacity: 1;
  transition: opacity 0.2s;
}
