/* Everything that should get refactored or moved to the appropriate file */

.show .hide.en__component--column:not(.bb):not(.bbo):not(.pb):not(.pbo) {
  background-color: #ff00001a !important;
  outline-color: #ff0000 !important;
  z-index: 1;
  outline: 1px dashed;
}

// MERGED.css file

.en__field__item {
  padding: initial;
}

.en__field__item,
.en__field__element--calendar,
.en__field__element--checkbox,
.en__field__element--email,
.en__field__element--number,
.en__field__element--password,
.en__field__element--radio,
.en__field__element--range,
.en__field__element--rating,
.en__field__element--select,
.en__field__element--splitselect,
.en__field__element--splittext,
.en__field__element--telephone,
.en__field__element--text,
.en__field__element--textarea,
.en__field__element--tripleselect,
.en__field__element--tripletext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Reset input widths */
.en__field__label,
.en__field__input--calendar,
.en__field__input--email,
.en__field__input--number,
.en__field__input--password,
.en__field__input--telephone,
.en__field__input--text,
.en__field__input--textarea,
.en__field__input--select,
.en__field__input--other,
.en__field__input--splittext,
.en__field__input--tripletext {
  widows: initial; /*Disposible placeholder rule to prevent VSCode Error around empty rulesets*/
}

/* Reset height */
.en__field__input--textarea {
  height: initial !important;
}

/* Reset minimum and default width */
.en__component--column {
  min-width: auto !important;
  width: auto !important;
}

/************************************
  * General overrides of EN styles
  ***********************************/

/* QA Needed: In the event Theme CSS causes a hidden field to become displayed, forrce its display to remain hidden */
/* This was an issue originally reported by EN staff, not sure if it still persists with recent styling updates */
#grid-wrapper .en__hidden {
  display: none !important;
}

#grid-wrapper .en__field,
#grid-wrapper .en__captcha {
  padding-bottom: 0;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* For the custom fields we can properly space them, but for EN canned fields we have to fake the funk since we don't know when row-wraps will happen in Flexbox. */
#grid-wrapper .en__component--formblock {
  widows: initial; /*Disposible placeholder rule to prevent VSCode Error around empty rulesets*/
}

/* For inputs with multiple components, apply the bottom margin to the field items so that if they wrap they maintain vertical spacing between them */

/* Make the spacing between wrapping elements tighter so the user knows they're related */
#grid-wrapper
  .en__component
  .en__field.en__field--select
  .en__field__item:not(.en__field__item--other),
#grid-wrapper
  .en__component
  .en__field.en__field--radio
  .en__field__item:not(.en__field__item--other),
#grid-wrapper
  .en__component
  .en__field.en__field--checkbox
  .en__field__item:not(.en__field__item--other),
#grid-wrapper
  .en__component
  .en__field.en__field--splittext
  .en__field__item:not(.en__field__item--other),
#grid-wrapper
  .en__component
  .en__field.en__field--tripletext
  .en__field__item:not(.en__field__item--other),
#grid-wrapper
  .en__component
  .en__field.en__field--splitselect
  .en__field__item:not(.en__field__item--other),
#grid-wrapper
  .en__component
  .en__field.en__field--tripleselect
  .en__field__item:not(.en__field__item--other) {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#grid-wrapper
  .en__component
  div[class*="withOther"].en__field
  .en__field__item {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

/* Pick up the normal spacing on the last element so form pacing continues as expected */

/* Pick up the normal spacing on the error element to contunue form pacing continues as expected when in an error state */
#grid-wrapper
  .en__component
  .en__field.en__field--select.en__field--validationFailed,
#grid-wrapper
  .en__component
  .en__field.en__field--radio.en__field--validationFailed,
#grid-wrapper
  .en__component
  .en__field.en__field--checkbox.en__field--validationFailed,
#grid-wrapper
  .en__component
  .en__field.en__field--splittext.en__field--validationFailed,
#grid-wrapper
  .en__component
  .en__field.en__field--tripletext.en__field--validationFailed,
#grid-wrapper
  .en__component
  .en__field.en__field--splitselect.en__field--validationFailed,
#grid-wrapper
  .en__component
  .en__field.en__field--tripleselect.en__field--validationFailed {
  margin-bottom: 1rem;
}

/* Needs QA: ENs page builder adds a div to the formblock DOM on hover. This will cause a small right margin to appear as the expected input fields are no longer the last of their siblings */
body #grid-wrapper .en__component--formblock .en__field:last-of-type,
body
  #grid-wrapper
  .en__component--formblock
  .en__field
  div.en__field__item:last-of-type {
  margin-right: 0rem;
}

#grid-wrapper .en__component--formblock .en__field:first-of-type,
#grid-wrapper
  .en__component--formblock
  .en__field
  div.en__field__item:first-of-type {
  margin-left: 0rem;
}

#grid-wrapper
  .en__component--formblock.items-might-wrap
  .en__field:last-of-type,
#grid-wrapper
  .en__component--formblock.items-might-wrap
  .en__field
  div.en__field__item:last-of-type,
#grid-wrapper
  .en__component--formblock.items-might-wrap
  .en__field:first-of-type,
#grid-wrapper
  .en__component--formblock.items-might-wrap
  .en__field
  div.en__field__item:first-of-type {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#grid-wrapper .en__component--formblock .en__field:only-child,
#grid-wrapper
  .en__component--formblock
  .en__field
  div.en__field__item:only-child {
  margin-left: 0;
  margin-right: 0;
}

#grid-wrapper .en__component--formblock .row-wrap .en__field,
#grid-wrapper
  .en__component--formblock
  .row-wrap
  .en__field
  div.en__field__item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#grid-wrapper .en__field__item {
  padding: 0;
}

/* EN sets field labels to a fixed width of 180px, this makes them responsive */
#grid-wrapper .en__field__label {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  width: auto;
}

/* Remove fixed min-width on Thermometer bar */
#grid-wrapper .enWidget__bar .enWidget__progress {
  min-width: initial;
}

/* EN sets background of the contact block to white making it not ideal for non-white backgrounds. This resets it to an initial state "transparent". */
#grid-wrapper .en__contact__toggle,
#grid-wrapper .en__contact--open .en__contact__toggle {
  background-color: initial;
}

/* Make sure that background colors are not hard coded */
#grid-wrapper .en__twitterTarget,
#grid-wrapper .en__tweetBackgroundText,
#grid-wrapper .en__tweet,
#grid-wrapper .en__tweetDisabled,
#grid-wrapper .en__tweetButton,
#grid-wrapper .en__tweetContact {
  background-color: initial;
}

body {
  background-color: #ffffff;
  margin: 0;
  color: #2a2a2a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  line-height: 1.4;
}

.en__component--advrow {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-rows: repeat(auto-fit, minmax(0px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(0px, 1fr));
  -ms-grid-columns: repeat(auto-fit, minmax(0px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
}

.en__component--row--1,
.en__component--row--2 {
  display: -webkit-box !important;
  /* Fallback */
  display: -ms-flexbox !important;
  /* Fallback */
  display: flex !important;
  /* Fallback */
}

/************************************
     * Inputs
     ***********************************/

/* General */
#grid-wrapper input[type="date"],
#grid-wrapper input[type="datetime"],
#grid-wrapper input[type="datetime-local"],
#grid-wrapper input[type="email"],
#grid-wrapper input[type="month"],
#grid-wrapper input[type="number"],
#grid-wrapper input[type="password"],
#grid-wrapper input[type="range"],
#grid-wrapper input[type="search"],
#grid-wrapper input[type="tel"],
#grid-wrapper input[type="text"],
#grid-wrapper input[type="time"],
#grid-wrapper input[type="url"],
#grid-wrapper input[type="week"],
#grid-wrapper input[type="hidden"],
#grid-wrapper select,
#grid-wrapper textarea {
  max-width: 100%;
  width: 100%;
  min-width: initial;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 2.4375rem;
  margin: 0rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  border-radius: 0.3rem;
  background-color: #fefefe;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out,
    -webkit-box-shadow 0.5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#grid-wrapper select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 0.5625rem 0.375rem;
  padding-right: 1.5rem;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out,
    -webkit-box-shadow 0.5s;
}

#grid-wrapper textarea {
  height: 7rem;
  resize: vertical;
}

/* Focus state */
#grid-wrapper input[type="date"]:focus,
#grid-wrapper input[type="datetime"]:focus,
#grid-wrapper input[type="datetime-local"]:focus,
#grid-wrapper input[type="email"]:focus,
#grid-wrapper input[type="month"]:focus,
#grid-wrapper input[type="number"]:focus,
#grid-wrapper input[type="password"]:focus,
#grid-wrapper input[type="range"]:focus,
#grid-wrapper input[type="search"]:focus,
#grid-wrapper input[type="tel"]:focus,
#grid-wrapper input[type="text"]:focus,
#grid-wrapper input[type="time"]:focus,
#grid-wrapper input[type="url"]:focus,
#grid-wrapper input[type="week"]:focus,
#grid-wrapper select:focus,
#grid-wrapper textarea:focus {
  outline: none;
  border: 1px solid #8a8a8a;
  background-color: #fefefe;
  -webkit-box-shadow: 0 0 0.3125rem #cacaca;
  box-shadow: 0 0 0.3125rem #cacaca;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out,
    -webkit-box-shadow 0.5s;
}

/**
      * Form Block Component: Select Fields
      * Overrides EN Default Styling to ensure mobile friendly widths
      */
#grid-wrapper .en__field__input--select {
  min-width: initial !important;
}

/* Placeholder styling */
/* Chrome, Firefox, Opera, Safari 10.1+ */
::-webkit-input-placeholder {
  color: #a1a1a1;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  color: #a1a1a1;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  color: #a1a1a1;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  color: #a1a1a1;
  opacity: 1;
  /* Firefox */
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color: #a1a1a1;
}

/* Microsoft Edge */
::-ms-input-placeholder {
  color: #a1a1a1;
}

/* Custom Styling for Radio & Checkbox Inputs */
#grid-wrapper .en__field__input--radio,
#grid-wrapper .en__field__input--checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

#grid-wrapper .en__field__input--radio + .en__field__label,
#grid-wrapper .en__field__input--checkbox + .en__field__label {
  position: relative;
  margin-left: 2rem;
  cursor: pointer;
}

#grid-wrapper .en__field__input--radio + .en__field__label::before,
#grid-wrapper .en__field__input--checkbox + .en__field__label::before {
  content: "";
  position: absolute;
  height: calc(1.4rem - 2px);
  width: calc(1.4rem - 2px);
  left: -2rem;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #c3c3c3;
  -webkit-box-shadow: inset 0 0 0 5px #fff;
  box-shadow: inset 0 0 0 5px #fff;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: border-color, background-color;
  transition-property: border-color, background-color;
}

#grid-wrapper .en__field__input--radio + .en__field__label::before {
  border-radius: 50%;
}

#grid-wrapper .en__field__input--checkbox + .en__field__label::before {
  border-radius: 0.2rem;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#grid-wrapper .en__field__input--radio:checked + .en__field__label::before,
#grid-wrapper .en__field__input--checkbox:checked + .en__field__label::before {
  border-color: #f1700b;
  background-color: #f1700b;
}

/* CSS code for checkmark symbol */
/* REF: https://www.toptal.com/designers/htmlarrows/symbols/check-mark/ */
#grid-wrapper .en__field__input--checkbox:checked + .en__field__label::before {
  content: "\a0\2713";
  border-color: #f1700b;
  background-color: #f1700b;
  color: #ffffff;
}

/* QA Needed: Would like to find a way so that radio input focus is round rather than square. May require re-writing how radio inputs are styled */
#grid-wrapper .en__field__input--radio:focus + .en__field__label::before,
#grid-wrapper .en__field__input--checkbox:focus + .en__field__label::before {
  outline: #8a8a8a auto 0.3125rem;
}

/* Buttons */
#grid-wrapper button {
  display: block;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85rem 1rem;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: #78a22e;
  color: #fefefe;
}

#grid-wrapper .en__submit button {
  margin-top: 2rem;
}

#grid-wrapper .next-step .en__submit button {
  width: initial;
  margin-left: auto;
}

#grid-wrapper button:hover,
#grid-wrapper button:focus {
  background-color: #258dad;
}

#grid-wrapper button[disabled],
#grid-wrapper button[disabled]:hover,
#grid-wrapper button[disabled]:focus {
  background-color: #1779ba;
  color: #fefefe;
}

#grid-wrapper button[disabled] {
  opacity: 0.25;
  cursor: not-allowed;
}

/* QA Needed: EN's hidden input field */
.en__field--hidden {
  display: block;
  width: 100% !important;
}

/* Needs QA: Makes images responsive. Look into not using !important. */
#grid-wrapper img {
  max-width: 100%;
  height: auto !important;
  margin: 0 auto;
  display: inherit;
}

/* When embedded, remove unnecessary padding */
body.embedded #grid-wrapper .en__tweetButton {
  padding-right: 0px;
}

/************************************
      * Error Messages
      ***********************************/

#grid-wrapper .en__field__error-wrapper .en__field__item {
  margin-bottom: 0.25rem;
}

/* Page Level Errors */
.en__errorHeader {
  margin-left: -1.875rem;
  margin-right: -1.875rem;
  padding: 0.5rem 2rem;
  color: #e74b3c;
  font-weight: 700;
  text-align: center;
  background-color: #f4ddda;
}

.en__errorList {
  padding: 0;
  margin: 0;
}

.en__errorList > .en__error {
  margin-left: -1.875rem;
  margin-right: -1.875rem;
  padding: 0.5rem 2rem;
  list-style: none;
  color: #e74b3c;
  text-align: center;
  background-color: #f4ddda;
}

/* Field Level Inline Errors */
#grid-wrapper .en__component .en__field__error {
  padding: 0.25rem 0.5rem;
  color: #ffffff;
  font-size: 0.75rem;
  border-radius: 0.3rem;
  background-color: #e74b3c;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

/* When EN's field validator flags an error it jumps the user to the first error on thepage. Our custom error JS executes after EN's and sets a body level class that we can reorder the field presentation on. If we don't wait to re-order the fields, the page will jump to the error which appears below the input resulting in the user having to scroll up to make the change. This is something that should be fixed on EN's end and how they handle errors, but until then we need this work around */
/* Code dependent on "oc-en-error-helpers.js" which must execute after EN's "pagedata.js" */
body.error-jump-assist #grid-wrapper .en__component .en__field__error {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

#grid-wrapper .en__component .en__field__error-wrapper .en__field__error,
#grid-wrapper .en__component .en__field__error-wrapper input,
#grid-wrapper .en__component .en__field__error-wrapper select,
#grid-wrapper .en__component .en__field__error-wrapper textarea {
  border-radius: 0.3rem;
  border: 1px solid #e74b3c;
}

/* QA Needed: Look into way to do this without :not(radio-to-buttons) so that all Radio to Buttons related code can be in the corresponding Utility section */
#grid-wrapper
  .en__component:not(.radio-to-buttons)
  .en__field__error-wrapper
  .en__field__error {
  border-radius: 0 0 0.3rem 0.3rem;
  border-top: 0px;
}

#grid-wrapper
  .en__component
  .en__field__error-wrapper
  input:not(.en__field__input--other),
#grid-wrapper .en__component .en__field__error-wrapper select,
#grid-wrapper .en__component .en__field__error-wrapper textarea {
  border-radius: 0.3rem 0.3rem 0 0;
  /*border-bottom: 0px;*/
}

#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--select.en__field--withOther
  select,
#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--splittext
  input,
#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--tripletext
  input,
#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--splitselect
  select,
#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--tripleselect
  input,
#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--splittext
  .en__field__error,
#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--tripletext
  .en__field__error,
#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--splitselect
  .en__field__error,
#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--tripleselect
  .en__field__error,
#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--radio.en__field--withOther
  .en__field__error {
  border-radius: 0.3rem;
  border: 1px solid #e74b3c;
}

/* Adjust bottom margin on error to make display uniform */
#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--select.en__field--withOther
  .en__field__item:last-of-type,
#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--radio
  .en__field__item:last-of-type,
#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--checkbox
  .en__field__item:last-of-type,
#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--splittext
  .en__field__item:last-of-type,
#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--tripletext
  .en__field__item:last-of-type,
#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--splitselect
  .en__field__item:last-of-type,
#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--tripleselect
  .en__field__item:last-of-type {
  margin-bottom: 0.25rem;
}

#grid-wrapper
  .en__component
  .en__field__error-wrapper.en__field--select.en__field--withOther,
#grid-wrapper .en__component .en__field__error-wrapper.en__field--radio,
#grid-wrapper .en__component .en__field__error-wrapper.en__field--checkbox,
#grid-wrapper .en__component .en__field__error-wrapper.en__field--splittext,
#grid-wrapper .en__component .en__field__error-wrapper.en__field--tripletext,
#grid-wrapper .en__component .en__field__error-wrapper.en__field--splitselect,
#grid-wrapper .en__component .en__field__error-wrapper.en__field--tripleselect {
  margin-bottom: 1rem;
}

#grid-wrapper .en__field--text.en__field--validationFailed input,
#grid-wrapper .en__field--textarea.en__field--validationFailed textarea,
#grid-wrapper .en__field--select.en__field--validationFailed select {
  border-color: #e74b3c;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#grid-wrapper
  .en__component
  .en__field.en__field--select.en__field--withOther.en__field--validationFailed
  .en__field__element,
#grid-wrapper
  .en__component
  .en__field.en__field--radio.en__field--validationFailed
  .en__field__element,
#grid-wrapper
  .en__component
  .en__field.en__field--checkbox.en__field--validationFailed
  .en__field__element,
#grid-wrapper
  .en__component
  .en__field.en__field--splittext.en__field--validationFailed
  .en__field__element,
#grid-wrapper
  .en__component
  .en__field.en__field--tripletext.en__field--validationFailed
  .en__field__element,
#grid-wrapper
  .en__component
  .en__field.en__field--splitselect.en__field--validationFailed
  .en__field__element,
#grid-wrapper
  .en__component
  .en__field.en__field--tripleselect.en__field--validationFailed
  .en__field__element {
  border: 1px solid #e74b3c;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
}

#grid-wrapper .en__field--text.en__field--validationFailed .en__field__error,
#grid-wrapper
  .en__field--textarea.en__field--validationFailed
  .en__field__error,
#grid-wrapper .en__field--select.en__field--validationFailed .en__field__error,
#grid-wrapper
  .en__component
  .en__field.en__field--select.en__field--withOther.en__field--validationFailed
  .en__field__error,
#grid-wrapper
  .en__component
  .en__field.en__field--radio.en__field--validationFailed
  .en__field__error,
#grid-wrapper
  .en__component
  .en__field.en__field--checkbox.en__field--validationFailed
  .en__field__error,
#grid-wrapper
  .en__component
  .en__field.en__field--splittext.en__field--validationFailed
  .en__field__error,
#grid-wrapper
  .en__component
  .en__field.en__field--tripletext.en__field--validationFailed
  .en__field__error,
#grid-wrapper
  .en__component
  .en__field.en__field--splitselect.en__field--validationFailed
  .en__field__error,
#grid-wrapper
  .en__component
  .en__field.en__field--tripleselect.en__field--validationFailed
  .en__field__error {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

#grid-wrapper
  .en__field--radio.en__field--validationFailed
  #grid-wrapper
  .en__field--checkbox.en__field--validationFailed {
  border-color: #e84b3c;
}

#grid-wrapper div[class*="-column-"].en__field .en__field__element,
#grid-wrapper .en__field.column .en__field__element {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#grid-wrapper div[class*="-row-"].en__field .en__field__element,
#grid-wrapper .en__field.row .en__field__element {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*
     * ##########################################################
     * # FLOAT LABELS
     * ##########################################################
     */

#grid-wrapper.float-labels .en__field--text input[type="text"],
#grid-wrapper.float-labels .en__field--textarea textarea {
  padding: 0.9rem 0.5rem 0rem 0.5rem;
}

#grid-wrapper.float-labels .en__field--select select {
  padding: 0.9rem 1.5rem 0rem 0.5rem;
  background-position: right -1rem top 0.25rem;
}

#grid-wrapper.float-labels .en__field--text label.en__field__label,
#grid-wrapper.float-labels .en__field--textarea label.en__field__label,
#grid-wrapper.float-labels .en__field--select label.en__field__label {
  z-index: 1;
  position: absolute;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: translate(0.5rem, 5px) scale(1);
  transform: translate(0.5rem, 5px) scale(1);
  opacity: 0.6;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  cursor: text;
}

#grid-wrapper.float-labels .en__field--text.has-value label.en__field__label,
#grid-wrapper.float-labels .en__field--text.has-focus label.en__field__label,
#grid-wrapper.float-labels
  .en__field--textarea.has-value
  label.en__field__label,
#grid-wrapper.float-labels
  .en__field--textarea.has-focus
  label.en__field__label,
#grid-wrapper.float-labels .en__field--select label.en__field__label {
  -webkit-transform: translate(0.5rem, 0px) scale(0.7);
  transform: translate(0.5rem, 0px) scale(0.7);
}

#grid-wrapper.float-labels .en__field--text.en__field--validationFailed label,
#grid-wrapper.float-labels
  .en__field--textarea.en__field--validationFailed
  label,
#grid-wrapper.float-labels
  .en__field--select.en__field--validationFailed
  label {
  opacity: 1;
}

#grid-wrapper.float-labels
  .en__field--text.en__field--validationNeeded
  .en__field__error,
#grid-wrapper.float-labels
  .en__field--textarea.en__field--validationNeeded
  .en__field__error,
#grid-wrapper.float-labels
  .en__field--select.en__field--validationNeeded
  .en__field__error {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

#grid-wrapper.float-labels .en__field--text.en__field--validationNeeded input,
#grid-wrapper.float-labels
  .en__field--textarea.en__field--validationNeeded
  textarea,
#grid-wrapper.float-labels
  .en__field--select.en__field--validationNeeded
  select {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
/*# sourceMappingURL=/sm/fde500666e47be24997b23359d7b18f4bdddf6cc3504b2949f863dfb182911d1.map */

.css-display_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.css-flex-wrap_wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.css-align-items_flex-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.css-align-items_flex-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

/* Uses Padding instead of Margin because padding is counted in the Flex-basis width whereas Margin is outside */

/* One optimization idea is to break this file up into three CSS files, 1-10, 11-20, and 21-30. That was they can be included only if that template is using them. */
/* Should confirm if the EN class field could even hold enough chars to fit defining 20 fields plus their start/stop classes */
/* Why 20 pre-defined options? To cover a single form component with all of the following:
   * 1. First Name (50%) | 2. Last Name (50%)
   * 3. Email (100%)
   * 4. Email Opt-in (100%)
   * 5. Phone (100%)
   * 6. Phone Opt-in (100%)
   * 7. Street (100%)
   * 8. Street 2 (100%)
   * 9. City (33%) | 10. State (33%) | 11. Zip (33%)
   * 12. Country (100%)
   * 13. Giving Frequency (100%)
   * 14. Giving Amount (100%)
   * 15. Gift Type (100%)
   * 16. Credit Card Number (100%)
   * 17. Credit Card Expiration (50%) | 18. Credit Card CVV (50%)
   * 19. Custom Field (100%)
   * 20. Custom Field (100%)
   */

/* Make all en fields 100% */
.en__field {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding-left: 0rem;
  padding-right: 0rem;
}

.i1-25 .en__field:nth-of-type(1),
.i2-25 .en__field:nth-of-type(2),
.i3-25 .en__field:nth-of-type(3),
.i4-25 .en__field:nth-of-type(4),
.i5-25 .en__field:nth-of-type(5),
.i6-25 .en__field:nth-of-type(6),
.i7-25 .en__field:nth-of-type(7),
.i8-25 .en__field:nth-of-type(8),
.i9-25 .en__field:nth-of-type(9),
.i10-25 .en__field:nth-of-type(10),
.i11-25 .en__field:nth-of-type(11),
.i12-25 .en__field:nth-of-type(12),
.i13-25 .en__field:nth-of-type(13),
.i14-25 .en__field:nth-of-type(14),
.i15-25 .en__field:nth-of-type(15),
.i16-25 .en__field:nth-of-type(16),
.i17-25 .en__field:nth-of-type(17),
.i18-25 .en__field:nth-of-type(18),
.i19-25 .en__field:nth-of-type(19),
.i20-25 .en__field:nth-of-type(20) {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.i1-33 .en__field:nth-of-type(1),
.i2-33 .en__field:nth-of-type(2),
.i3-33 .en__field:nth-of-type(3),
.i4-33 .en__field:nth-of-type(4),
.i5-33 .en__field:nth-of-type(5),
.i6-33 .en__field:nth-of-type(6),
.i7-33 .en__field:nth-of-type(7),
.i8-33 .en__field:nth-of-type(8),
.i9-33 .en__field:nth-of-type(9),
.i10-33 .en__field:nth-of-type(10),
.i11-33 .en__field:nth-of-type(11),
.i12-33 .en__field:nth-of-type(12),
.i13-33 .en__field:nth-of-type(13),
.i14-33 .en__field:nth-of-type(14),
.i15-33 .en__field:nth-of-type(15),
.i16-33 .en__field:nth-of-type(16),
.i17-33 .en__field:nth-of-type(17),
.i18-33 .en__field:nth-of-type(18),
.i19-33 .en__field:nth-of-type(19),
.i20-33 .en__field:nth-of-type(20) {
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.i1-50 .en__field:nth-of-type(1),
.i2-50 .en__field:nth-of-type(2),
.i3-50 .en__field:nth-of-type(3),
.i4-50 .en__field:nth-of-type(4),
.i5-50 .en__field:nth-of-type(5),
.i6-50 .en__field:nth-of-type(6),
.i7-50 .en__field:nth-of-type(7),
.i8-50 .en__field:nth-of-type(8),
.i9-50 .en__field:nth-of-type(9),
.i10-50 .en__field:nth-of-type(10),
.i11-50 .en__field:nth-of-type(11),
.i12-50 .en__field:nth-of-type(12),
.i13-50 .en__field:nth-of-type(13),
.i14-50 .en__field:nth-of-type(14),
.i15-50 .en__field:nth-of-type(15),
.i16-50 .en__field:nth-of-type(16),
.i17-50 .en__field:nth-of-type(17),
.i18-50 .en__field:nth-of-type(18),
.i19-50 .en__field:nth-of-type(19),
.i20-50 .en__field:nth-of-type(20) {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.i1-66 .en__field:nth-of-type(1),
.i2-66 .en__field:nth-of-type(2),
.i3-66 .en__field:nth-of-type(3),
.i4-66 .en__field:nth-of-type(4),
.i5-66 .en__field:nth-of-type(5),
.i6-66 .en__field:nth-of-type(6),
.i7-66 .en__field:nth-of-type(7),
.i8-66 .en__field:nth-of-type(8),
.i9-66 .en__field:nth-of-type(9),
.i10-66 .en__field:nth-of-type(10),
.i11-66 .en__field:nth-of-type(11),
.i12-66 .en__field:nth-of-type(12),
.i13-66 .en__field:nth-of-type(13),
.i14-66 .en__field:nth-of-type(14),
.i15-66 .en__field:nth-of-type(15),
.i16-66 .en__field:nth-of-type(16),
.i17-66 .en__field:nth-of-type(17),
.i18-66 .en__field:nth-of-type(18),
.i19-66 .en__field:nth-of-type(19),
.i20-66 .en__field:nth-of-type(20) {
  -ms-flex-preferred-size: 66.66666%;
  flex-basis: 66.66666%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.i1-75 .en__field:nth-of-type(1),
.i2-75 .en__field:nth-of-type(2),
.i3-75 .en__field:nth-of-type(3),
.i4-75 .en__field:nth-of-type(4),
.i5-75 .en__field:nth-of-type(5),
.i6-75 .en__field:nth-of-type(6),
.i7-75 .en__field:nth-of-type(7),
.i8-75 .en__field:nth-of-type(8),
.i9-75 .en__field:nth-of-type(9),
.i10-75 .en__field:nth-of-type(10),
.i11-75 .en__field:nth-of-type(11),
.i12-75 .en__field:nth-of-type(12),
.i13-75 .en__field:nth-of-type(13),
.i14-75 .en__field:nth-of-type(14),
.i15-75 .en__field:nth-of-type(15),
.i16-75 .en__field:nth-of-type(16),
.i17-75 .en__field:nth-of-type(17),
.i18-75 .en__field:nth-of-type(18),
.i19-75 .en__field:nth-of-type(19),
.i20-75 .en__field:nth-of-type(20) {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* For items at the start of a row, remove left padding */
.i1-start .en__field:nth-of-type(1),
.i2-start .en__field:nth-of-type(2),
.i3-start .en__field:nth-of-type(3),
.i4-start .en__field:nth-of-type(4),
.i5-start .en__field:nth-of-type(5),
.i6-start .en__field:nth-of-type(6),
.i7-start .en__field:nth-of-type(7),
.i8-start .en__field:nth-of-type(8),
.i9-start .en__field:nth-of-type(9),
.i10-start .en__field:nth-of-type(10),
.i11-start .en__field:nth-of-type(11),
.i12-start .en__field:nth-of-type(12),
.i13-start .en__field:nth-of-type(13),
.i14-start .en__field:nth-of-type(14),
.i15-start .en__field:nth-of-type(15),
.i16-start .en__field:nth-of-type(16),
.i17-start .en__field:nth-of-type(17),
.i18-start .en__field:nth-of-type(18),
.i19-start .en__field:nth-of-type(19),
.i20-start .en__field:nth-of-type(20) {
  padding-left: 0;
}

/* For items at the end of a row, remove right padding */
.i1-end .en__field:nth-of-type(1),
.i2-end .en__field:nth-of-type(2),
.i3-end .en__field:nth-of-type(3),
.i4-end .en__field:nth-of-type(4),
.i5-end .en__field:nth-of-type(5),
.i6-end .en__field:nth-of-type(6),
.i7-end .en__field:nth-of-type(7),
.i8-end .en__field:nth-of-type(8),
.i9-end .en__field:nth-of-type(9),
.i10-end .en__field:nth-of-type(10),
.i11-end .en__field:nth-of-type(11),
.i12-end .en__field:nth-of-type(12),
.i13-end .en__field:nth-of-type(13),
.i14-end .en__field:nth-of-type(14),
.i15-end .en__field:nth-of-type(15),
.i16-end .en__field:nth-of-type(16),
.i17-end .en__field:nth-of-type(17),
.i18-end .en__field:nth-of-type(18),
.i19-end .en__field:nth-of-type(19),
.i20-end .en__field:nth-of-type(20) {
  padding-right: 0;
}

.i1-center .en__field:nth-of-type(1),
.i2-center .en__field:nth-of-type(2),
.i3-center .en__field:nth-of-type(3),
.i4-center .en__field:nth-of-type(4),
.i5-center .en__field:nth-of-type(5),
.i6-center .en__field:nth-of-type(6),
.i7-center .en__field:nth-of-type(7),
.i8-center .en__field:nth-of-type(8),
.i9-center .en__field:nth-of-type(9),
.i10-center .en__field:nth-of-type(10),
.i11-center .en__field:nth-of-type(11),
.i12-center .en__field:nth-of-type(12),
.i13-center .en__field:nth-of-type(13),
.i14-center .en__field:nth-of-type(14),
.i15-center .en__field:nth-of-type(15),
.i16-center .en__field:nth-of-type(16),
.i17-center .en__field:nth-of-type(17),
.i18-center .en__field:nth-of-type(18),
.i19-center .en__field:nth-of-type(19),
.i20-center .en__field:nth-of-type(20) {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.en__field__element--splittext,
.en__field__element--splitselect,
.en__field__element--tripleselect {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* Includes overrides of existing CSS, need for resolve this duplicate styling */
.en__field__element--splittext .en__field__item:nth-of-type(1),
.en__field__element--splitselect .en__field__item:nth-of-type(1) {
  -ms-flex-preferred-size: 50% !important;
  flex-basis: 50% !important;
  padding-left: 0rem !important;
  padding-right: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  margin: 0 !important;
}

/* Includes overrides of existing CSS, need for resolve this duplicate styling */
.en__field__element--splittext .en__field__item:nth-of-type(2),
.en__field__element--splitselect .en__field__item:nth-of-type(2) {
  -ms-flex-preferred-size: 50% !important;
  flex-basis: 50% !important;
  padding-left: 0.5rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0.5rem !important;
  margin: 0 !important;
}

/* Includes overrides of existing CSS, need for resolve this duplicate styling */
.en__field__element--tripletext .en__field__item:nth-of-type(1),
.en__field__element--tripleselect .en__field__item:nth-of-type(1) {
  -ms-flex-preferred-size: 33.33333% !important;
  flex-basis: 33.33333% !important;
  padding-left: 0rem !important;
  padding-right: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  margin: 0 !important;
}

/* Includes overrides of existing CSS, need for resolve this duplicate styling */
.en__field__element--tripletext .en__field__item:nth-of-type(2),
.en__field__element--tripleselect .en__field__item:nth-of-type(2) {
  -ms-flex-preferred-size: 33.33333% !important;
  flex-basis: 33.33333% !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  margin: 0 !important;
}

/* Includes overrides of existing CSS, need for resolve this duplicate styling */
.en__field__element--tripletext .en__field__item:nth-of-type(3),
.en__field__element--tripleselect .en__field__item:nth-of-type(3) {
  -ms-flex-preferred-size: 33.33333% !important;
  flex-basis: 33.33333% !important;
  padding-left: 0.5rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0.5rem !important;
  margin: 0 !important;
}

#grid-wrapper .en__field__input--radio + .en__field__label::before,
#grid-wrapper .en__field__input--checkbox + .en__field__label::before {
  top: 0.25rem;
}

/* Force input visibility */
/* Still needs JS to auto select last radio on input */
.i1-show-hidden-radio-input
  .en__field:nth-of-type(1)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i2-show-hidden-radio-input
  .en__field:nth-of-type(2)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i3-show-hidden-radio-input
  .en__field:nth-of-type(3)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i4-show-hidden-radio-input
  .en__field:nth-of-type(4)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i5-show-hidden-radio-input
  .en__field:nth-of-type(5)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i6-show-hidden-radio-input
  .en__field:nth-of-type(6)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i7-show-hidden-radio-input
  .en__field:nth-of-type(7)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i8-show-hidden-radio-input
  .en__field:nth-of-type(8)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i9-show-hidden-radio-input
  .en__field:nth-of-type(9)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i10-show-hidden-radio-input
  .en__field:nth-of-type(10)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i11-show-hidden-radio-input
  .en__field:nth-of-type(11)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i12-show-hidden-radio-input
  .en__field:nth-of-type(12)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i13-show-hidden-radio-input
  .en__field:nth-of-type(13)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i14-show-hidden-radio-input
  .en__field:nth-of-type(14)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i15-show-hidden-radio-input
  .en__field:nth-of-type(15)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i16-show-hidden-radio-input
  .en__field:nth-of-type(16)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i17-show-hidden-radio-input
  .en__field:nth-of-type(17)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i18-show-hidden-radio-input
  .en__field:nth-of-type(18)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i19-show-hidden-radio-input
  .en__field:nth-of-type(19)
  .en__field__element--radio
  .en__field__item:nth-last-child(1),
.i20-show-hidden-radio-input
  .en__field:nth-of-type(20)
  .en__field__element--radio
  .en__field__item:nth-last-child(1) {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

/* Hide Other Input Radio Value because it is auto-selected with JS when a value is entered in the Other Input Text field. */
.i1-show-hidden-radio-input
  .en__field:nth-of-type(1)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i2-show-hidden-radio-input
  .en__field:nth-of-type(2)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i3-show-hidden-radio-input
  .en__field:nth-of-type(3)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i4-show-hidden-radio-input
  .en__field:nth-of-type(4)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i5-show-hidden-radio-input
  .en__field:nth-of-type(5)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i6-show-hidden-radio-input
  .en__field:nth-of-type(6)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i7-show-hidden-radio-input
  .en__field:nth-of-type(7)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i8-show-hidden-radio-input
  .en__field:nth-of-type(8)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i9-show-hidden-radio-input
  .en__field:nth-of-type(9)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i10-show-hidden-radio-input
  .en__field:nth-of-type(10)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i11-show-hidden-radio-input
  .en__field:nth-of-type(11)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i12-show-hidden-radio-input
  .en__field:nth-of-type(12)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i13-show-hidden-radio-input
  .en__field:nth-of-type(13)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i14-show-hidden-radio-input
  .en__field:nth-of-type(14)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i15-show-hidden-radio-input
  .en__field:nth-of-type(15)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i16-show-hidden-radio-input
  .en__field:nth-of-type(16)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i17-show-hidden-radio-input
  .en__field:nth-of-type(17)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i18-show-hidden-radio-input
  .en__field:nth-of-type(18)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i19-show-hidden-radio-input
  .en__field:nth-of-type(19)
  .en__field__element--radio
  .en__field__item:nth-last-child(2),
.i20-show-hidden-radio-input
  .en__field:nth-of-type(20)
  .en__field__element--radio
  .en__field__item:nth-last-child(2) {
  display: none !important;
}

/* On error, restyle if the field is also centered */
.i1-show-hidden-radio-input.i1-center
  .en__field:nth-of-type(1).en__field--validationFailed
  .en__field__element--radio,
.i2-show-hidden-radio-input.i2-center
  .en__field:nth-of-type(2).en__field--validationFailed
  .en__field__element--radio,
.i3-show-hidden-radio-input.i3-center
  .en__field:nth-of-type(3).en__field--validationFailed
  .en__field__element--radio,
.i4-show-hidden-radio-input.i4-center
  .en__field:nth-of-type(4).en__field--validationFailed
  .en__field__element--radio,
.i5-show-hidden-radio-input.i5-center
  .en__field:nth-of-type(5).en__field--validationFailed
  .en__field__element--radio,
.i6-show-hidden-radio-input.i6-center
  .en__field:nth-of-type(6).en__field--validationFailed
  .en__field__element--radio,
.i7-show-hidden-radio-input.i7-center
  .en__field:nth-of-type(7).en__field--validationFailed
  .en__field__element--radio,
.i8-show-hidden-radio-input.i8-center
  .en__field:nth-of-type(8).en__field--validationFailed
  .en__field__element--radio,
.i9-show-hidden-radio-input.i9-center
  .en__field:nth-of-type(9).en__field--validationFailed
  .en__field__element--radio,
.i10-show-hidden-radio-input.i10-center
  .en__field:nth-of-type(10).en__field--validationFailed
  .en__field__element--radio,
.i11-show-hidden-radio-input.i11-center
  .en__field:nth-of-type(11).en__field--validationFailed
  .en__field__element--radio,
.i12-show-hidden-radio-input.i12-center
  .en__field:nth-of-type(12).en__field--validationFailed
  .en__field__element--radio,
.i13-show-hidden-radio-input.i13-center
  .en__field:nth-of-type(13).en__field--validationFailed
  .en__field__element--radio,
.i14-show-hidden-radio-input.i14-center
  .en__field:nth-of-type(14).en__field--validationFailed
  .en__field__element--radio,
.i15-show-hidden-radio-input.i15-center
  .en__field:nth-of-type(15).en__field--validationFailed
  .en__field__element--radio,
.i16-show-hidden-radio-input.i16-center
  .en__field:nth-of-type(16).en__field--validationFailed
  .en__field__element--radio,
.i17-show-hidden-radio-input.i17-center
  .en__field:nth-of-type(17).en__field--validationFailed
  .en__field__element--radio,
.i18-show-hidden-radio-input.i18-center
  .en__field:nth-of-type(18).en__field--validationFailed
  .en__field__element--radio,
.i19-show-hidden-radio-input.i19-center
  .en__field:nth-of-type(19).en__field--validationFailed
  .en__field__element--radio,
.i20-show-hidden-radio-input.i20-center
  .en__field:nth-of-type(20).en__field--validationFailed
  .en__field__element--radio {
  border-radius: 0.3rem !important;
  margin-bottom: 0.5rem;
}

/* On error, restyle if the field is also centered */
.i1-show-hidden-radio-input.i1-center
  .en__field:nth-of-type(1).en__field--validationFailed
  .en__field__error,
.i2-show-hidden-radio-input.i2-center
  .en__field:nth-of-type(2).en__field--validationFailed
  .en__field__error,
.i3-show-hidden-radio-input.i3-center
  .en__field:nth-of-type(3).en__field--validationFailed
  .en__field__error,
.i4-show-hidden-radio-input.i4-center
  .en__field:nth-of-type(4).en__field--validationFailed
  .en__field__error,
.i5-show-hidden-radio-input.i5-center
  .en__field:nth-of-type(5).en__field--validationFailed
  .en__field__error,
.i6-show-hidden-radio-input.i6-center
  .en__field:nth-of-type(6).en__field--validationFailed
  .en__field__error,
.i7-show-hidden-radio-input.i7-center
  .en__field:nth-of-type(7).en__field--validationFailed
  .en__field__error,
.i8-show-hidden-radio-input.i8-center
  .en__field:nth-of-type(8).en__field--validationFailed
  .en__field__error,
.i9-show-hidden-radio-input.i9-center
  .en__field:nth-of-type(9).en__field--validationFailed
  .en__field__error,
.i10-show-hidden-radio-input.i10-center
  .en__field:nth-of-type(10).en__field--validationFailed
  .en__field__error,
.i11-show-hidden-radio-input.i11-center
  .en__field:nth-of-type(11).en__field--validationFailed
  .en__field__error,
.i12-show-hidden-radio-input.i12-center
  .en__field:nth-of-type(12).en__field--validationFailed
  .en__field__error,
.i13-show-hidden-radio-input.i13-center
  .en__field:nth-of-type(13).en__field--validationFailed
  .en__field__error,
.i14-show-hidden-radio-input.i14-center
  .en__field:nth-of-type(14).en__field--validationFailed
  .en__field__error,
.i15-show-hidden-radio-input.i15-center
  .en__field:nth-of-type(15).en__field--validationFailed
  .en__field__error,
.i16-show-hidden-radio-input.i16-center
  .en__field:nth-of-type(16).en__field--validationFailed
  .en__field__error,
.i17-show-hidden-radio-input.i17-center
  .en__field:nth-of-type(17).en__field--validationFailed
  .en__field__error,
.i18-show-hidden-radio-input.i18-center
  .en__field:nth-of-type(18).en__field--validationFailed
  .en__field__error,
.i19-show-hidden-radio-input.i19-center
  .en__field:nth-of-type(19).en__field--validationFailed
  .en__field__error,
.i20-show-hidden-radio-input.i20-center
  .en__field:nth-of-type(20).en__field--validationFailed
  .en__field__error {
  border-radius: 0.3rem !important;
}

@media screen and (max-width: 40em) {
  .i1-m50 .en__field:nth-of-type(1),
  .i2-m50 .en__field:nth-of-type(2),
  .i3-m50 .en__field:nth-of-type(3),
  .i4-m50 .en__field:nth-of-type(4),
  .i5-m50 .en__field:nth-of-type(5),
  .i6-m50 .en__field:nth-of-type(6),
  .i7-m50 .en__field:nth-of-type(7),
  .i8-m50 .en__field:nth-of-type(8),
  .i9-m50 .en__field:nth-of-type(9),
  .i10-m50 .en__field:nth-of-type(10),
  .i11-m50 .en__field:nth-of-type(11),
  .i12-m50 .en__field:nth-of-type(12),
  .i13-m50 .en__field:nth-of-type(13),
  .i14-m50 .en__field:nth-of-type(14),
  .i15-m50 .en__field:nth-of-type(15),
  .i16-m50 .en__field:nth-of-type(16),
  .i17-m50 .en__field:nth-of-type(17),
  .i18-m50 .en__field:nth-of-type(18),
  .i19-m50 .en__field:nth-of-type(19),
  .i20-m50 .en__field:nth-of-type(20) {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  /* For items at the start of a row, remove left padding */
  .i1-mstart .en__field:nth-of-type(1),
  .i2-mstart .en__field:nth-of-type(2),
  .i3-mstart .en__field:nth-of-type(3),
  .i4-mstart .en__field:nth-of-type(4),
  .i5-mstart .en__field:nth-of-type(5),
  .i6-mstart .en__field:nth-of-type(6),
  .i7-mstart .en__field:nth-of-type(7),
  .i8-mstart .en__field:nth-of-type(8),
  .i9-mstart .en__field:nth-of-type(9),
  .i10-mstart .en__field:nth-of-type(10),
  .i11-mstart .en__field:nth-of-type(11),
  .i12-mstart .en__field:nth-of-type(12),
  .i13-mstart .en__field:nth-of-type(13),
  .i14-mstart .en__field:nth-of-type(14),
  .i15-mstart .en__field:nth-of-type(15),
  .i16-mstart .en__field:nth-of-type(16),
  .i17-mstart .en__field:nth-of-type(17),
  .i18-mstart .en__field:nth-of-type(18),
  .i19-mstart .en__field:nth-of-type(19),
  .i20-mstart .en__field:nth-of-type(20) {
    padding-left: 0;
  }

  /* For items at the end of a row, remove right padding */
  .i1-mend .en__field:nth-of-type(1),
  .i2-mend .en__field:nth-of-type(2),
  .i3-mend .en__field:nth-of-type(3),
  .i4-mend .en__field:nth-of-type(4),
  .i5-mend .en__field:nth-of-type(5),
  .i6-mend .en__field:nth-of-type(6),
  .i7-mend .en__field:nth-of-type(7),
  .i8-mend .en__field:nth-of-type(8),
  .i9-mend .en__field:nth-of-type(9),
  .i10-mend .en__field:nth-of-type(10),
  .i11-mend .en__field:nth-of-type(11),
  .i12-mend .en__field:nth-of-type(12),
  .i13-mend .en__field:nth-of-type(13),
  .i14-mend .en__field:nth-of-type(14),
  .i15-mend .en__field:nth-of-type(15),
  .i16-mend .en__field:nth-of-type(16),
  .i17-mend .en__field:nth-of-type(17),
  .i18-mend .en__field:nth-of-type(18),
  .i19-mend .en__field:nth-of-type(19),
  .i20-mend .en__field:nth-of-type(20) {
    padding-right: 0;
  }

  .i1-m100 .en__field:nth-of-type(1),
  .i2-m100 .en__field:nth-of-type(2),
  .i3-m100 .en__field:nth-of-type(3),
  .i4-m100 .en__field:nth-of-type(4),
  .i5-m100 .en__field:nth-of-type(5),
  .i6-m100 .en__field:nth-of-type(6),
  .i7-m100 .en__field:nth-of-type(7),
  .i8-m100 .en__field:nth-of-type(8),
  .i9-m100 .en__field:nth-of-type(9),
  .i10-m100 .en__field:nth-of-type(10),
  .i11-m100 .en__field:nth-of-type(11),
  .i12-m100 .en__field:nth-of-type(12),
  .i13-m100 .en__field:nth-of-type(13),
  .i14-m100 .en__field:nth-of-type(14),
  .i15-m100 .en__field:nth-of-type(15),
  .i16-m100 .en__field:nth-of-type(16),
  .i17-m100 .en__field:nth-of-type(17),
  .i18-m100 .en__field:nth-of-type(18),
  .i19-m100 .en__field:nth-of-type(19),
  .i20-m100 .en__field:nth-of-type(20) {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.radio-to-buttons .en__field--radio input[type="radio"] + label {
  border-radius: 3rem;
  padding: 0.5rem 1.5rem !important;
}

.radio-to-buttons.fat-buttons .en__field--radio input[type="radio"] + label {
  padding: 0.625rem 1.5625rem !important;
}

.radio-to-buttons
  .en__field--radio
  .en__field__input--radio
  + .en__field__label {
  margin-left: 0rem !important;
}

.radio-to-buttons
  .en__field--radio
  .en__field__input--radio
  + .en__field__label::before {
  display: none !important;
}

.radio-to-buttons .en__field--radio input[type="radio"]:checked + label,
.radio-to-buttons .en__field--radio .en__field__item--other.has-value input,
.radio-to-buttons
  .en__field--radio
  .en__field__item--other:not(.en__field__item--hidden)
  input {
  text-transform: none;
  background-color: #78a22e !important;
  border-color: #78a22e !important;
  color: #fff !important;
}

.radio-to-buttons
  .en__field--radio
  label.en__field__label.en__field__label--item {
  border: 1px solid #cacaca;
  background-position-x: 40px !important;
}

.radio-to-buttons.dark
  .en__field--radio
  .en__field__element--radio
  .en__field__item
  label.en__field__label.en__field__label--item:hover,
.radio-to-buttons.dark
  .en__field--radio
  .en__field__element--radio
  .en__field__item
  input[type="radio"]:checked
  + label {
  background-color: #78a22e !important;
  border-color: #78a22e !important;
}

.radio-to-buttons.dark
  .en__field--radio
  label.en__field__label.en__field__label--item:hover,
.radio-to-buttons.dark .en__field--radio input[type="radio"]:checked + label {
  background-color: #78a22e !important;
  border-color: #78a22e !important;
}

/* Override */
#grid-wrapper .en__field__input--checkbox:checked + .en__field__label::before {
  font-size: 0.9rem;
}

.radio-to-buttons .en__field__input--other {
  height: auto !important;
}

.radio-to-buttons.fat-buttons .en__field__input--other {
  padding: 0.625rem 1.5625rem !important;
}

#grid-wrapper .en__field--validationFailed.has-value input {
  border-color: #949494;
}

#grid-wrapper
  .en__component
  .en__field.en__field--select.en__field--withOther.en__field--validationFailed.has-value
  .en__field__element,
#grid-wrapper
  .en__component
  .en__field.en__field--radio.en__field--validationFailed.has-value
  .en__field__element,
#grid-wrapper
  .en__component
  .en__field.en__field--checkbox.en__field--validationFailed.has-value
  .en__field__element,
#grid-wrapper
  .en__component
  .en__field.en__field--splittext.en__field--validationFailed.has-value
  .en__field__element,
#grid-wrapper
  .en__component
  .en__field.en__field--tripletext.en__field--validationFailed.has-value
  .en__field__element,
#grid-wrapper
  .en__component
  .en__field.en__field--splitselect.en__field--validationFailed.has-value
  .en__field__element,
#grid-wrapper
  .en__component
  .en__field.en__field--tripleselect.en__field--validationFailed.has-value
  .en__field__element,
#grid-wrapper .en__field--validationFailed.has-value .en__field__error {
  border-color: #949494;
  background-color: #949494;
}

.en__field {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-bottom: 1rem !important;
  margin-bottom: 0rem !important;
}

.en__submit {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.en__component--formblock {
  margin-left: -0.5rem !important;
  margin-right: -0.5rem !important;
}

.radio-to-buttons .en__field--radio input[type="radio"]:focus + label {
  outline: none !important;
  border: 1px solid #666666 !important;
  -webkit-box-shadow: 0 0 0.3125rem #cacaca !important;
  box-shadow: 0 0 0.3125rem #cacaca !important;
  transition: box-shadow 0.25s, border-color 0.125s ease-in-out,
    -webkit-box-shadow 0.25s !important;
}

.en__field--withOther .en__field__element--select .en__field__item:first-child {
  margin-right: 0 !important;
}

.en__field--withOther .en__field__element--select .en__field__item--other {
  margin-left: 1rem !important;
}

#grid-wrapper input[type="date"],
#grid-wrapper input[type="datetime"],
#grid-wrapper input[type="datetime-local"],
#grid-wrapper input[type="email"],
#grid-wrapper input[type="month"],
#grid-wrapper input[type="number"],
#grid-wrapper input[type="password"],
#grid-wrapper input[type="range"],
#grid-wrapper input[type="search"],
#grid-wrapper input[type="tel"],
#grid-wrapper input[type="text"],
#grid-wrapper input[type="time"],
#grid-wrapper input[type="url"],
#grid-wrapper input[type="week"],
#grid-wrapper input[type="hidden"],
#grid-wrapper select,
#grid-wrapper textarea {
  height: auto !important;
}

/* Hot fixes for demo */
input[name="transaction.donationAmt.other"] {
  max-width: 168px !important;
}

body:not(#en__pagebuilder) .layout-1.center-left .pb,
body:not(#en__pagebuilder) .layout-1.center-center .pb {
  position: sticky;
  top: 0;
  height: 100vh;
  background-size: cover !important;
  background-position: initial !important;
  background-attachment: initial !important;
}

body.demo #debug {
  opacity: 0;
  transition: opacity 0.3s;
}

body.demo #debug:hover {
  opacity: 1;
}

body.demo button {
  cursor: pointer;
}
