<!DOCTYPE html>
<html lang="en">
  <head>
    <include
      src="src/templates/includes/head.html"
      locals='{
        "theme": "engrid",
        "domain": "https://"
    }'
    ></include>
  </head>
  <body
    data-engrid-layout="centercenter1col"
    data-engrid-theme="engrid"
    data-engrid-add-input-placeholders
    data-engrid-errors="fancy"
  >
    <include
      src="src/templates/includes/body.html"
      locals='{
        "theme": "engrid",
    }'
    ></include>
    <div id="engrid">
      <!-- Start EN Page Builder -->
      <include
        src="src/templates/includes/thank-you-form.html"
        locals='{
        "theme": "engrid",
    }'
      ></include>
      <!-- End EN Page Builder -->
    </div>
    <include
      src="src/templates/includes/footer.html"
      locals='{
        "theme": "engrid",
    }'
    ></include>

    <!-- Shared Assets -->
  </body>
</html>
