[data-engrid-theme="rfkhr"]{
  // FIXED COLOR PALETTE
  --color-transparent: transparent;
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);

  // GRAYSCALE COLOR PALETTE
  --theme-off-white: #DFDFDF;
  --theme-light-gray: #cacaca;
  --theme-gray: #8a8a8a;
  --theme-dark-gray: #808080;
  --theme-off-black: #404040;

  // SEMANTIC COLOR PALETTE
  --theme-success: #33CC33;
  --theme-warning: #FCAC00;
  --theme-error: #F12222;

  // TYPOGRAPHY BODY
  --theme-typography-body-font-family: "stanley-regular", serif;
  --theme-typography-body-color: initial;
  --theme-typography-body-font-size: var(--theme-root-font-size);
  --theme-typography-body-font-weight: initial;
  --theme-typography-body-line-height: initial;
      
  // TYPOGRAPHY H1
  --theme-typography-h1-font-family: "proximanova-bold", sans-serif;
  --theme-typography-h1-color: initial;
  --theme-typography-h1-font-size: 38px;
  --theme-typography-h1-font-weight: 900;
  --theme-typography-h1-line-height: var(--theme-typography-h1-font-size);
      
  // TYPOGRAPHY H2
  --theme-typography-h2-font-family: var(--theme-typography-h1-font-family);
  --theme-typography-h2-color: initial;
  --theme-typography-h2-font-size: 33px;
  --theme-typography-h2-font-weight: bold;
  --theme-typography-h2-line-height: var(--theme-typography-h2-font-size);
      
  // TYPOGRAPHY H3
  --theme-typography-h3-font-family: var(--theme-typography-h1-font-family);
  --theme-typography-h3-color: initial;
  --theme-typography-h3-font-size: 27px;
  --theme-typography-h3-font-weight: bold;
  --theme-typography-h3-line-height: var(--theme-typography-h3-font-size);
      
  // TYPOGRAPHY P
  --theme-typography-p-font-family: var(--theme-typography-body-font-family);
  --theme-typography-p-color: initial;
  --theme-typography-p-font-size: var(--theme-root-font-size);
  --theme-typography-p-font-weight: initial;
  --theme-typography-p-line-height: initial;
      
  // TYPOGRAPHY STRONG
  --theme-typography-strong-font-family: var(--theme-typography-body-font-family);
  --theme-typography-strong-color: initial;
  --theme-typography-strong-font-size: var(--theme-root-font-size);
  --theme-typography-strong-font-weight: bold;
  --theme-typography-strong-line-height: initial;
      
  // TYPOGRAPHY LABEL
  --theme-typography-label-font-family: var(--theme-typography-h1-font-family);
  --theme-typography-label-color: initial;
  --theme-typography-label-font-size: var(--theme-root-font-size);
  --theme-typography-label-font-weight: 500;
  --theme-typography-label-line-height: initial;
      
  // TYPOGRAPHY INPUT
  --theme-typography-input-font-family: var(--theme-typography-h1-font-family);
  --theme-typography-input-color: initial;
  --theme-typography-input-font-size: var(--theme-root-font-size);
  --theme-typography-input-font-weight: initial;
  --theme-typography-input-line-height: initial;
  --theme-typography-input-background-color: var(--color-white);
  --theme-typography-input-border-width: 1px;
  --theme-typography-input-border-color: var(--color-black);
  --theme-typography-input-border-radius: 0px;
  --theme-typography-input-placeholder-color: var(--theme-light-gray);
      
  // TYPOGRAPHY INPUT:FOCUS
  // TYPOGRAPHY INPUT:HOVER
  --theme-typography-input-focus-hover-color: var(--theme-typography-h1-font-family);
  --theme-typography-input-focus-hover-background-color: var(--color-white);
  --theme-typography-input-focus-hover-border-color: var(--theme-cta);
      
  // TYPOGRAPHY RADIO
  --theme-typography-radio-content: initial;
  --theme-typography-radio-color: initial;
  --theme-typography-radio-background-color: initial;
  --theme-typography-radio-border-width: initial;
  --theme-typography-radio-border-color: initial;
  --theme-typography-radio-border-radius: 0px;

  // TYPOGRAPHY RADIO INPUT:FOCUS
  // TYPOGRAPHY RADIO INPUT:HOVER
  --theme-typography-radio-focus-hover-color: initial;
  --theme-typography-radio-focus-hover-background-color: initial;
  --theme-typography-radio-focus-hover-border-color: var(--color-black);

  // TYPOGRAPHY CHECKBOX
  --theme-typography-checkbox-content:"✓";
  --theme-typography-checkbox-color: var(--color-white);
  --theme-typography-checkbox-background-color: var(--color-black);
  --theme-typography-checkbox-border-width: initial;
  --theme-typography-checkbox-border-color: var(--theme-cta);
  --theme-typography-checkbox-border-radius: 0px;

  // TYPOGRAPHY CHECKBOX INPUT:FOCUS
  // TYPOGRAPHY CHECKBOX INPUT:HOVER
  --theme-typography-checkbox-focus-hover-color: initial;
  --theme-typography-checkbox-focus-hover-background-color: initial;
  --theme-typography-checkbox-focus-hover-border-color: var(--color-black);


  // TYPOGRAPHY SELECT
  --theme-typography-select-font-family: var(--theme-typography-body-font-family);
  --theme-typography-select-color: initial;
  --theme-typography-select-font-size: var(--theme-root-font-size);
  --theme-typography-select-font-weight: initial;
  --theme-typography-select-line-height: initial;
  --theme-typography-select-background-color: initial;
  --theme-typography-select-border-width: initial;
  --theme-typography-select-border-color: initial;
  --theme-typography-select-border-radius: initial;

  // TYPOGRAPHY SELECT:FOCUS
  // TYPOGRAPHY SELECT:HOVER
  --theme-typography-select-focus-hover-color: initial;
  --theme-typography-select-focus-hover-background-color: initial;
  --theme-typography-select-focus-hover-border-color: var(--theme-cta);

  // TYPOGRAPHY BUTTON
  --theme-typography-button-font-family: var(--theme-typography-h1-font-family);
  --theme-typography-button-color: var(--color-black);
  --theme-typography-button-font-size: var(--theme-root-font-size);
  --theme-typography-button-font-weight: initial;
  --theme-typography-button-line-height: initial;
  --theme-typography-button-background-color: var(--color-white);
  --theme-typography-button-border-width: initial;
  --theme-typography-button-border-color: var(--color-black);
  --theme-typography-button-border-radius: 0px;
  
  // TYPOGRAPHY BUTTON:FOCUS
  // TYPOGRAPHY BUTTON:HOVER
  --theme-typography-button-focus-hover-color: var(--color-white);
  --theme-typography-button-focus-hover-background-color: var(--color-black);
  --theme-typography-button-focus-hover-border-color: var(--theme-cta-hover);
  
  // TYPOGRAPHY PRIMARY BUTTON
  --theme-typography-primary-button-font-family: var(--theme-typography-button-font-family);
  --theme-typography-primary-button-color: var(--color-white);
  --theme-typography-primary-button-font-size: var(--theme-typography-button-font-size);
  --theme-typography-primary-button-font-weight: var(--theme-typography-button-font-weight);
  --theme-typography-primary-button-line-height: var(--theme-typography-button-line-height);
  --theme-typography-primary-button-background-color: var(--theme-cta);
  --theme-typography-primary-button-border-width: var(--theme-typography-button-border-width);
  --theme-typography-primary-button-border-color: var(--theme-cta);
  --theme-typography-primary-button-border-radius: var(--theme-typography-button-border-radius);

  // TYPOGRAPHY PRIMARY BUTTON:FOCUS
  // TYPOGRAPHY PRIMARY BUTTON:HOVER  
  --theme-typography-primary-button-focus-hover-color: var(--theme-typography-button-focus-hover-color);
  --theme-typography-primary-button-focus-hover-background-color: var(--theme-cta-hover);
  --theme-typography-primary-button-focus-hover-border-color: var(---theme-typography-button-focus-hover-border-color);

  // TYPOGRAPHY A
  --theme-typography-a-font-family: var(--theme-typography-body-font-family);
  --theme-typography-a-color: initial;
  --theme-typography-a-font-size: var(--theme-root-font-size);
  --theme-typography-a-font-weight: initial;
  --theme-typography-a-line-height: initial;
  --theme-typography-a-text-decoration: initial;

  // TYPOGRAPHY A:FOCUS
  // TYPOGRAPHY A:HOVER
  --theme-typography-a-focus-hover-color: initial;
  --theme-typography-a-focus-hover-text-decoration: initial;

  // CTA COLOR
  --theme-cta: #0302b8;
  --theme-cta-hover: #32d3f0;

  // PAGE, CONTENT, and BODY BACKGROUND COLOR
  // Quick set the background color on all corresponding sections
  --theme-page-background-color: #0302b8;
  --theme-content-background-color: var(--color-transparent);
  --theme-body-background-color: var(--color-white);

  // ENGRID SECTIONS BACKGROUND COLOR
  --theme-page-alert-background-color: var(--theme-page-background-color);
  --theme-content-header-background-color: var(--theme-content-background-color);
  --theme-body-headerOutside-background-color: var(--color-transparent);
  --theme-body-header-background-color: var(--theme-body-background-color);
  --theme-body-banner-background-color: var(--theme-body-background-color);
  --theme-body-bannerOverlay-background-color: var(--color-transparent);
  --theme-body-top-background-color: var(--theme-body-background-color);
  --theme-body-side-background-color: var(--theme-body-background-color);
  --theme-body-main-background-color: var(--theme-body-background-color);
  --theme-body-bottom-background-color: var(--theme-body-background-color);
  --theme-body-footer-background-color: var(--theme-body-background-color);
  --theme-body-footerOutside-background-color: var(--color-transparent);
  --theme-content-footerSpacer-background-color: var(--theme-content-background-color);
  --theme-content-preFooter-background-color: var(--theme-content-background-color);
  --theme-content-footer-background-color: var(--theme-content-background-color);
  --theme-page-backgroundImage-background-color: var(--theme-page-background-color);
  --theme-page-backgroundImageOverlay-background-color: var(--color-transparent);
  --theme-page-customCode-background-color: var(--theme-page-background-color);

  // BODY BORDER RADIUS
  --theme-body-border-radius: 0px;
  --theme-body-header-border-radius: var(--theme-body-border-radius);
  --theme-body-footer-border-radius: var(--theme-body-border-radius);

  // ENGRID BACKGROUND IMAGE SECTION'S BACKGROUND PATTERN
  // This is a background pattern that is shown before the hi-resolution background image is lazy loaded in, if at all
  // It's background color "--theme-page-backgroundImage-background-color" should be the average color of the image 
  // REF: (https://doodad.dev/pattern-generator/)
  --theme-page-backgroundImage-background-pattern: "url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)"; // Invisible GIF

  // REF: http://www.standardista.com/px-to-rem-conversion-if-root-font-size-is-16px/
  --theme-root-font-size: 16px; // Sets a baseline font size for all other REM based font-sizes to relatively build off of

  --theme-page-backgroundImage-url: "url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7)"; // Invisible GIF


  --theme-spacing-sm: 0.8652rem;
  --theme-spacing: calc(0.8652rem * 0.75);
  --theme-spacing-lg: calc(0.8652rem * 2.5);
  --theme-spacing-xlg: calc(0.8652rem * 5);

  // SUBMIT BUTTONS
  --theme-typography-primary-button-background-color: var(--theme-cta);
  --theme-typography-primary-button-focus-hover-background-color: var(--theme-cta-hover);
  --theme-typography-primary-button-border-color:: var(--theme-cta);
  --theme-typography-primary-button-color: var(--color-white);

  // ERRORS
  --theme-error-red: var(--theme-error);
  --theme-error-red-grayscale: #949494;
  --theme-error-red-faded: #FFEAE9;
  --theme-error-page-group-background: #FFEAE9;
  --theme-error-input-border-width: var(--theme-typography-input-border-width);

  // HIGHLIGHTS
  --theme-highlight-background-color: #0096ff;
  --theme-highlight-font-color: #FFFFFF;

  // CLICK TO EXPAND
  --theme-click-to-expand-cta-image-url: url("https://e-activist.com/ea-demo/frontend/pbAssets/build/images/en_open.png");
  --theme-click-to-expand-cta-image-width: 16px;
  --theme-click-to-expand-cta-image-height: 16px;

    // ADD THEME CUSTOM CSS PROPERTIES HERE
  --theme-typography-primary-button-background-color: var(--theme-cta);
  --theme-typography-primary-button-focus-hover-background-color: var(--theme-cta-hover);
  --theme-typography-primary-button-border-color:: var(--theme-cta);
  --theme-typography-primary-button-color: var(--color-white);
}