$slicer-breakpoints: 0 400px 600px 1024px 1200px;

$background-color: #ffffff;
$background-image-background-color: #487c0f;

$client-white: #ffffff;
$client-black: #000000;
$client-gray: #8a8a8a;
$client-light-gray: #cacaca;
$client-orange: #f1700b;

/* @TODO Look into replicating "Teach a System of Space Visually" as a Development page that shows all styling decisions for the brand
 * https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62#.fwng4aef7
 */
 
$client-body-background-color: #ffffff; //@TODO Not yet used anywhere
$client-body-border-radius: 0px;
$body-padding-sm: 0.8652rem; //@TODO Revisit
$body-padding: calc(0.8652rem * 0.75); //@TODO Revisit
$body-padding-lg: calc(0.8652rem * 2.5); //@TODO Revisit
$body-padding-xlg: calc(0.8652rem * 5); //@TODO Revisit

$client-input-border-radius: 0px;
$client-input-border-color: #000000;
$client-input-background-color: transparent;

$client-button-background-color: #000000;
$client-button-background-color-hover: #f1700b;
$client-button-background-color-active: #f1700b;
$client-button-background-color-disabled: #949494;
$client-button-border-color: #000000;
$client-button-border-color-active: #f1700b;
$client-button-border-color-hover: #f1700b;
$client-button-border-radius: 0px;
$client-button-font-color: #ffffff;
$client-button-font-color-active: #ffffff;

$client-submit-button-background-color: #f1700b;
$client-submit-button-background-color-hover: #f1700b;
$client-submit-button-border-color: #f1700b;
$client-submit-button-font-color: #ffffff;

$client-checkmark-background-color: #f1700b;
$client-checkmark-border-color: #f1700b;
$client-checkmark-font-color: #ffffff;

$client-error-red: #e74b3c;
$client-error-red-grayscale: #949494;
$client-error-red-faded: #fef6f5;
$client-error-page-group-background: #f4ddda;

$client-highlight-background-color: #f9f003;
$client-highlight-font-color: #343432;
