@media screen and (max-width: 360px) {
  // Remove down arrow when giving frequency wraps
  #engrid.theme-oceanconservancy
    .monthly-gift-upsell-tooltip
    .highlight:after {
    display: none;
  }
}

#engrid[engrid-theme="oceanconservancy"] {
  --background-image: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1991/gray_pattern-optimized-2.jpg?v=1598492702000");
  --background-image-background-color: #f3f3f3;
}

/*
* ##########################################################
* # ENGRID - Content Column Breakpoint Styling
* # LAYOUT - Center ANY - [class^="layout-center"][class$="1col"]
* ##########################################################
*/

/* Sum of all MAX values of the Body Columns + 1px */
@media screen and (min-width: 1231px) {
  [data-engrid-layout="centerleft1col"],
  [data-engrid-layout="centercenter1col"],
  [data-engrid-layout="centercenter1col-wide"],
  [data-engrid-layout="centerright1col"] {
    .content-preFooter {
      background-size: cover;
    }
  }
}

// @TODO  RENDER CRITICAL: Consider moving into page template as it's critical to page render
body:not(#en__pagebuilder).footer-below-fold
  #engrid
  .en__component--advrow
  .page-backgroundImage::before {
  -webkit-clip-path: none;
  clip-path: none;
  height: 100%;
  top: 0;
  background-color: var(
    --background-image-background-color,
    $default-background-image-background-color
  );
}

/*
* ##########################################################
* # BODY BREAKPOINT
* # Sum of all MIN values of the Body Columns
* ##########################################################
*/

/* @TODO This should actually be [data-engrid-layout="right1col"] but we didn't have time to make it that way */
#engrid {
  .body-header {
    margin-top: 0;
    border-radius: 0;
  }

  .content-footerSpacer {
    display: none;
  }

  .content-footer {
    margin-bottom: 0;
    border-radius: 0;
  }
}

[data-engrid-theme="oceanconservancy"] {
  --background-image: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1991/gray_pattern-optimized-2.jpg?v=1598492702000");
  --background-image-background-color: #f3f3f3;
}

// @media screen and (min-width: 600px) {
//   [data-engrid-layout="centerleft1col"] {
//     /* prettier-ignore */
//     .en__component--advrow,
//     .en__component--advrow .pseudo-subgrid {
//       /* autoprefixer grid: off */
//       grid-template-columns:
//       [
//         pc-start lpc-start]  minmax(25px, 25px)     [lpc-end
//         cc-start lcc-start]  minmax(25px, 25px)    [lcc-end
//         bc-start lbc-start]  minmax(250px, 340px)  [lbc-end
//         rbc-start]           minmax(250px, 340px)  [rbc-end bc-end
//         rcc-start]           minmax(25px, 25px)   [rcc-end cc-end
//         rpc-start]           minmax(25px, 1fr)     [rpc-end pc-end
//       ];
//     }
//   }
// }
