<form method="post" action="/" class="en__component en__component--page">
  <input type="hidden" name="hidden" class="en__hiddenFields" value="" />
  <input
    type="hidden"
    name="sessionId"
    value="9c18c9c660974a8c813fb86f68eb2113-server10150"
  />

  <ul class="en__errorList"></ul>

  <div class="en__component en__component--row en__component--advrow">
    <div
      class="en__component en__component en__component--column en__component--advcolumn page-alert"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn content-header pseudo-subgrid"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-headerOutside"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-header"
    >
      <div class="en__component en__component--codeblock">
        <p>
          <a href="#" target="_blank">
            <img
              alt="Starter Theme Logo"
              data-src="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1991/logo-black-large-optimized.png?v=1598492329000"
              src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
              style="height: 52px; width: 200px;"
            />
          </a>
        </p>
      </div>
      <div
        class="en__component en__component--copyblock have-questions-call-line"
      >
        <p>HAVE QUESTIONS?</p>

        <p><a href="tel:1-800-000-0000">800-000-0000</a></p>
      </div>
    </div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-title"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-banner"
    >
      <div class="en__component en__component--codeblock">
        <!-- REF: data-src="image.jpg" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/> -->
        <img
          src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
          data-src="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1991/Manatee-thankyou.jpg?v=1529530116000"
        />
      </div>
    </div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-bannerOverlay"
    >
      <div class="en__component en__component--copyblock banner-text blue lead">
        <p>THANK YOU FOR YOUR SUPPORT!</p>
      </div>
    </div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-top"
    >
      <div class="en__component en__component--copyblock body-copy">
        <h2 style="text-align: center;">
          <span style="color:#039BC4;"
            ><span style="font-size:26px;"
              ><strong
                >{user_data~First Name}, thank you for your support!</strong
              ></span
            ></span
          >
        </h2>

        <h3>Our ocean depends on donors like you.</h3>

        <p>
          With your donation to Starter Theme, you have joined hundreds of
          people who share your love for the ocean and marine wildlife, and want
          to make sure &nbsp;our ocean is healthy and vibrant for years to come.
          &nbsp;And you can be sure that Starter Theme will use your donation
          wisely to force change and put into place comprehensive protections
          for our ocean.
        </p>

        <p>
          I want to thank you again for sharing our vision of a wild, healthy
          ocean and abundant marine wildlife&mdash;and thank you for doing
          something real to achieve it.
        </p>

        <p>
          You will also receive an email confirmation. If you don&#39;t see it,
          please check your spam folders as some email providers may have
          different configurations.
        </p>

        <p>A summary of your donation is below for your records.&nbsp;</p>

        <p>
          <strong
            >Donor name:&nbsp;{user_data~First Name}&nbsp;{user_data~Last
            Name}</strong
          >
        </p>

        <p>
          <strong
            >Supporter ID (use this if you need to call with
            questions):&nbsp;{receipt_data~campaignerId}</strong
          >
        </p>

        <p><strong>Transaction ID:&nbsp;{receipt_data~txId}</strong></p>

        <p>
          <strong
            >Donation date:&nbsp;{receipt_data~createdOn~[MM/dd/yyyy]}</strong
          >
        </p>

        <p>
          <strong>Donation amount:&nbsp;{receipt_data~amount~[en1]}</strong>
        </p>
      </div>
    </div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-main"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-bottom"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-footer"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-footerOutside"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn content-footerSpacer"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn content-preFooter pseudo-subgrid"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn content-footer pseudo-subgrid"
    >
      <div class="en__component en__component--copyblock">
        <p style="text-align: center;">
          1300 19th Street NW - 8th Floor - Washington, DC 20036<br />
          <strong>webmaster@oceanconservancy.org</strong><br />
          800-000-0000 -
          <a href="http://oceanconservancy.org/privacy-policy" target="_blank"
            ><strong>Privacy Policy</strong></a
          >
          -
          <strong
            ><a href="http://oceanconservancy.org/legal-statement/"
              >Legal Information</a
            >&nbsp;</strong
          ><span style="text-align: center;"
            >-
            <a
              href="https://oceanconservancy.org/cookie-policy/"
              target="_blank"
              ><b>Cookie Policy</b></a
            ></span
          >
        </p>
      </div>
      <div class="en__component en__component--copyblock">
        <p>&copy; 2021&nbsp;Starter Theme</p>
      </div>
      <div class="en__component en__component--copyblock">
        <!-- Thank you for supporting 4Site Studios -->
        <div class="light-font" id="designed-by-4site">
          <a
            href="https://www.4sitestudios.com/engaging-networks"
            target="_blank"
            title="4Site Studios"
            ><span class="text-fade">Designed with </span
            ><span id="made-with-love">&hearts;</span
            ><span class="text-fade"> by 4Site Studios</span></a
          >
        </div>
      </div>
    </div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn page-backgroundImage pseudo-subgrid"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn page-backgroundImageOverlay pseudo-subgrid"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn page-customCode"
    ></div>
  </div>
</form>
