<form method="post" action="/" class="en__component en__component--page">
  <input type="hidden" name="hidden" class="en__hiddenFields" value="" />
  <input
    type="hidden"
    name="sessionId"
    value="9c18c9c660974a8c813fb86f68eb2113-server10150"
  />
  <ul class="en__errorList"></ul>

  <a href="#" class="button" onclick="document.body.classList.toggle('debug-layout');">Debug Layout</a>
  <a href="#" class="button" onclick="document.body.classList.toggle('debug-image-sizes');">Debug Image Sizes</a>
  <a href="#" class="button" onclick="document.body.classList.toggle('debug-accessability');">Debug Accessability</a>

  <div class="en__component en__component--row en__component--advrow">
    <div
      class="en__component en__component en__component--column en__component--advcolumn page-alert"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn content-header pseudo-subgrid"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-headerOutside"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-header"
    >
    </div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-title"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-banner"
    >
    </div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-bannerOverlay"
    >
    </div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-top"
    >
    <!-- Common Fields -->
    <div class="brand-guide-section"><include src="src/templates/includes/brand-guide-elements/html5-tags.html" locals='{"theme": "engrid",}'></include></div>
    <div class="brand-guide-section"><include src="src/templates/includes/brand-guide-elements/en-common-fields.html" locals='{"theme": "engrid",}'></include></div>
    <div class="brand-guide-section"><include src="src/templates/includes/brand-guide-elements/en-common-fields-with-errors.html" locals='{"theme": "engrid",}'></include></div>
    <div class="brand-guide-section"><include src="src/templates/includes/brand-guide-elements/en-common-fields-with-fancy-errors.html" locals='{"theme": "engrid",}'></include></div>

    <!-- Page Speicific Content -->
    <div class="brand-guide-section"><include src="src/templates/includes/brand-guide-elements/click-to-call.html" locals='{"theme": "engrid",}'></include></div>
    <div class="brand-guide-section"><include src="src/templates/includes/brand-guide-elements/donation-page.html" locals='{"theme": "engrid",}'></include></div>
    <div class="brand-guide-section"><include src="src/templates/includes/brand-guide-elements/ecards.html" locals='{"theme": "engrid",}'></include></div>
    <div class="brand-guide-section"><include src="src/templates/includes/brand-guide-elements/email-to-target.html" locals='{"theme": "engrid",}'></include></div>
    <div class="brand-guide-section"><include src="src/templates/includes/brand-guide-elements/event.html" locals='{"theme": "engrid",}'></include></div>
    <div class="brand-guide-section"><include src="src/templates/includes/brand-guide-elements/membership.html" locals='{"theme": "engrid",}'></include></div>
    <div class="brand-guide-section"><include src="src/templates/includes/brand-guide-elements/petition.html" locals='{"theme": "engrid",}'></include></div>
    <div class="brand-guide-section"><include src="src/templates/includes/brand-guide-elements/premium-donation.html" locals='{"theme": "engrid",}'></include></div>
    <div class="brand-guide-section"><include src="src/templates/includes/brand-guide-elements/survey.html" locals='{"theme": "engrid",}'></include></div>
    <div class="brand-guide-section"><include src="src/templates/includes/brand-guide-elements/tweet-to-target.html" locals='{"theme": "engrid",}'></include></div>
    <div class="brand-guide-section"><include src="src/templates/includes/brand-guide-elements/ecommerce.html" locals='{"theme": "engrid",}'></include></div> <!-- Placed last because of its sticky header -->

    </div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-main"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-bottom"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-footer"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn body-footerOutside"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn content-footerSpacer"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn content-preFooter pseudo-subgrid"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn content-footer pseudo-subgrid"
    >
    </div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn page-backgroundImage pseudo-subgrid"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn page-backgroundImageOverlay pseudo-subgrid"
    ></div>
    <div
      class="en__component en__component en__component--column en__component--advcolumn page-customCode"
    ></div>
  </div>
</form>