@import "../../../../sass/base/layouts/engrid-layout-centercenter1col";
@import "../../../../sass/addons/layouts/engrid-layout-centercenter1col-wide";
@import "../../../../sass/addons/layouts/engrid-layout-centerleft1col";
@import "../../../../sass/addons/layouts/engrid-layout-centerright1col";

/*
* ####################################################################################################################
* Layout - Center ANY
* ####################################################################################################################
*/

/*
* ##########################################################
* # ENGRID - Mobile First Styling
* # LAYOUT - Center ANY
* ##########################################################
*/

@media screen and (max-width: 360px) {
  // Remove down arrow when giving frequency wraps
  #engrid .monthly-gift-upsell-tooltip .highlight:after {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  // Remove "Give By Select" icons on small screens
  #engrid
    .give-by-select
    .en__field--radio
    .en__field__item
    input[type="radio"]
    + label {
    background-image: none;
    padding-left: 0;
    padding-right: 0;
  }

  #engrid h1 {
    font-size: calc((0.05552em * 48) * 0.85);
  }
  #engrid h2,
  #engrid .en__field--donationAmt .en__field__label--item,
  #engrid .en__field--donationAmt .en__field__item--other::before,
  #engrid .en__field--donationAmt .en__field__item--other input,
  #engrid .give-by-select .en__field--radio label,
  #engrid .en__field--recurrpay label.en__field__label,
  #engrid .highlight.big {
    font-size: calc((0.05552em * 24) * 0.9);
  }
  body #engrid h3,
  #engrid .pre-footer-card p,
  #engrid .pre-footer-card.footer-wrapper .footer-menu a {
    font-size: calc((0.05552em * 16) * 1);
  }
  #engrid label.en__field__label {
    font-size: calc((0.05552em * 12) * 0.95);
  }

  #engrid
    .en__field__label--item
    #engrid
    .en__field__input--checkbox
    + .en__field__label,
  #engrid .en__contactDetails__rows,
  #engrid
    .give-by-select
    .en__field--radio
    .en__field__item
    input[type="radio"]
    + label {
    font-size: calc((0.05552em * 18) * 1);
  }
}

@media screen and (max-width: 599px) {
  // body #engrid {
  //   font-size: 94%;
  // }

  #engrid .en__field--donationAmt .en__field__element--radio .en__field__item {
    width: calc(50% - 0.5rem);
  }
}

#engrid h1 {
  margin-top: 5px;
}

#engrid.layout-centerleft1col,
#engrid.layout-centercenter1col,
#engrid.layout-centercenter1col-wide,
#engrid.layout-centerright1col {
  .page-alert,
  .content-header,
  .body-headerOutside,
  .body-side,
  .body-footerOutside {
    // display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .body-headerOutside {
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-column: bc;
  }

  .body-header {
    margin-top: 2.1875rem;
    padding-top: 0;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
    display: flex;
    justify-content: space-between;

    :first-child,
    :last-child {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    :first-child {
      justify-content: flex-start;

      img {
        height: 52px !important;
        width: auto !important;
        display: block;
      }

      a {
        cursor: default;
      }
    }

    :last-child {
      justify-content: flex-end;
    }

    :first-child img,
    :last-child img {
      display: block;
    }

    .have-questions-call-line {
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      p:first-of-type {
        font-size: 14px;
        letter-spacing: 0.7px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
      }

      p:last-of-type {
        font-size: 12px;
        letter-spacing: 0.6px;
        margin-top: 0;
        margin-bottom: 0;
      }

      a {
        cursor: pointer;
        color: #323232;
        text-decoration: none;
      }
    }
  }

  .body-banner,
  .body-bannerOverlay {
    padding-left: 0;
    padding-right: 0;
  }

  .body-banner p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .body-bannerOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .banner-text p {
      font-size: 34px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      padding: 0 0.9em;
      color: #323232;
      box-decoration-break: clone;
      /* margin: .4em; */
    }

    .banner-text.blue p {
      color: #ffffff;
      background-color: #2ba8dd;
      padding: 0.4em 0;
      box-shadow: 1em 0 0 0 #2ba8dd, -1em 0 0 0 #2ba8dd;
    }

    .banner-text.red p {
      color: #ffffff;
      background-color: #e74b3c;
      padding: 0.4em 0;
      box-shadow: 1em 0 0 0 #e74b3c, -1em 0 0 0 #e74b3c;
    }

    .banner-text.black p {
      color: #ffffff;
      background-color: #323232;
      padding: 0.4em 0;
      box-shadow: 1em 0 0 0 #323232, -1em 0 0 0 #323232;
    }
  }

  // .body-footer {
  //   margin-bottom: 5rem;
  //   grid-row: body-footer;
  // }
  .body-bottom {
    display: flex;
    justify-content: center;

    .en__component {
      max-width: 410px;
    }
  }

  .content-footer {
    grid-column: bc;
    grid-row: body-footer;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .content-footer > div {
    grid-column: bc;
  }

  .content-preFooter {
    grid-column: pc;
    background-size: contain;
  }

  .content-preFooter.pseudo-subgrid > div {
    grid-column: bc;
  }

  .content-footer.pseudo-subgrid > div {
    grid-column: bc;
  }
}

body:not(#en__pagebuilder) #engrid.layout-centerleft1col,
body:not(#en__pagebuilder) #engrid.layout-centercenter1col,
body:not(#en__pagebuilder) #engrid.layout-centercenter1col-wide,
body:not(#en__pagebuilder) #engrid.layout-centerright1col {
  .page-backgroundImage {
    grid-row: page-start / content-preFooter-end;
  }

  /* This should use a more robust solution for adding a gradient overlay to the background image, but below the overlay text */
  .page-backgroundImage::before {
    content: "";
    // background-image: radial-gradient(
    //   circle at 50% 0,
    //   rgba(0, 0, 0, 0.3),
    //   transparent 53%
    // );
    z-index: -3;
    grid-column: pc;
  }
  .page-backgroundImageOverlay {
    grid-row: page-start / content-preFooter-end;
  }
}

body#en__pagebuilder #engrid.layout-centerleft1col,
body#en__pagebuilder #engrid.layout-centercenter1col,
body#en__pagebuilder #engrid.layout-centercenter1col-wide,
body#en__pagebuilder #engrid.layout-centerright1col {
  .page-backgroundImage > div,
  .page-backgroundImageOverlay > div {
    grid-column: bc;
  }
}

/*
* ##########################################################
* # ENGRID - BODY Column Breakpoint Styling
* # LAYOUT - Center ANY - [class^="layout-center"][class$="1col"]
* ##########################################################
*/

/* Sum of all MIN values of the Body Columns */
@media screen and (min-width: 600px) {
  #engrid.layout-centerleft1col,
  #engrid.layout-centercenter1col,
  #engrid.layout-centercenter1col-wide,
  #engrid.layout-centerright1col {
    .en__component--advrow .body-top,
    .en__component--advrow .body-side,
    .en__component--advrow .body-main,
    .en__component--advrow .body-bottom,
    .en__component--advrow .body-footer {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    .en__component--advrow .body-footer {
      padding-bottom: 4rem;
    }

    .body-headerOutside {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    [class^="body-"] {
      border-left: 1px solid black;
      border-right: 1px solid black;
    }

    .body-header {
      border-top-left-radius: var(
        --client-input-border-radius,
        $client-input-border-radius
      );
      border-top-right-radius: var(
        --client-input-border-radius,
        $client-input-border-radius
      );
    }

    .content-preFooter.pseudo-subgrid > div {
      grid-column: cc;
    }

    .content-footer.pseudo-subgrid > div {
      grid-column: cc;
    }
  }
}

/*
* ##########################################################
* # ENGRID - Content Column Breakpoint Styling
* # LAYOUT - Center ANY - [class^="layout-center"][class$="1col"]
* ##########################################################
*/

/* Sum of all MAX values of the Body Columns + 1px */
@media screen and (min-width: 1231px) {
  #engrid.layout-centerleft1col,
  #engrid.layout-centercenter1col,
  #engrid.layout-centercenter1col-wide,
  #engrid.layout-centerright1col {
    .content-preFooter {
      background-size: cover;
    }
  }
}

// @TODO  RENDER CRITICAL: Consider moving into page template as it's critical to page render
body:not(#en__pagebuilder).footer-below-fold
  #engrid
  .en__component--advrow
  .page-backgroundImage::before {
  -webkit-clip-path: none;
  clip-path: none;
  height: 100%;
  top: 0;
  background-color: var(
    --background-image-background-color,
    $background-image-background-color
  );
}
