/*
* ##########################################################
* # DEBUG: DEBUG BAR and GLOBAL SETTINGS
* ##########################################################
*/

#debug {
  margin: 1rem;
}

#debug button {
  margin: 0 1rem;
}

body.debug * {
  -webkit-transition: none !important;
  transition: none !important;
}

body.demo #debug {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.25rem;
  z-index: 9999;
  opacity: 0.75;
}

/* body.visualize-layout * {
  -webkit-transition: none !important;
  transition: none !important;
} */

/*
 * ##########################################################
 * # DEBUG: VISUALIZE PAGE STRUCTURE
 * ##########################################################
 */

body.visualize-layout,
body.visualize-layout #main-content-wrapper,
body.visualize-layout #main-content,
body.visualize-layout #main-content-inner,
body.visualize-layout .en__component--row {
  background: #ffffff !important;
}

body.visualize-layout .en__component--column {
  background: #e3e3e3 !important;
}

body.visualize-layout .en__component--column > * {
  visibility: hidden !important;
}

body.visualize-layout div {
  border-color: #adaaaa !important;
}

/*
 * ##########################################################
 * # DEBUG: COLORFUL LAYOUT FOR EN COMPONENTS
 * ##########################################################
 */

/* body.debug .en__component--row {
  background: lightblue;
}

body.debug .en__component--row--1 .en__component--column {
  background: blue;
}

body.debug .en__component--row--2 .en__component--column {
  background: orange;
}

body.debug .en__component--advcolumn {
  background: rebeccapurple;
}

body.debug .header {
  background-color: yellow;
}

body.debug .banner {
  background-color: red;
}

body.debug .sidebar {
  background-color: grey;
}

body.debug .content {
  background-color: green;
}

body.debug .footer {
  background-color: pink;
} */

/*
 * ##########################################################
 * # DEBUG: COLORFUL LAYOUT FOR CSS GRID TEMPLATE
 * ##########################################################
 */

.debug .ccpph {
  border: 3px solid #ff9999;
  background-color: #ffffff;
}

.debug .ccph {
  border: 3px solid #ff0000;
  background-color: #ffffff;
}

.debug .bcoh {
  border: 3px solid #ff9633;
  background-color: transparent;
}

.debug .bph {
  border: 3px solid #a0ff99;
  background-color: transparent;
}

.debug .bh {
  border: 3px solid #a0ff99;
  background-color: #ffffff;
}

.debug .bb {
  border: 3px solid #11ff00;
  background-color: #ffffff;
}

.debug .bbo {
  border: 3px solid #99fff5;
  background-color: #ffffff;
}

.debug .btc {
  border: 3px solid #009dff;
  background-color: #ffffff;
}

.debug .bsc {
  border: 3px solid #0022ff;
  background-color: #ffffff;
}

.debug .bform {
  border: 3px solid #deccff;
  background-color: #ffffff;
}

.debug .bpf {
  border: 3px solid #bd99ff;
  background-color: #ffffff;
}

.debug .bf {
  border: 3px solid #dd33ff;
  background-color: #ffffff;
}

.debug .bcof {
  border: 3px solid #ff99df;
  background-color: transparent;
}

.debug .ccfs {
  border: 3px solid #000000;
  background-color: transparent;
}

.debug .ccpf {
  border: 3px solid #ff00ae;
  background-color: transparent;
}

.debug .pb {
  border: 3px solid #610000;
  background-color: #350000;
}

.debug .pbo {
  border: 3px solid #196113;
  background-color: #ffffff;
}

.debug .pcc {
  border: 3px solid #003c61;
  background-color: #ffffff;
}
