#engrid{
    --theme-white: #ffffff;
    --theme-black: #4D4D4D;
    --theme-gray: #8a8a8a;
    --theme-light-gray: #cacaca;
    --theme-cta: #208096;
    --theme-cta-hover: #22A3CB;

    --theme-prefooter-background-color: #d0e2e7;
    --theme-footer-background-color: #20809e;

    // --theme-background-color: --theme-white;
    // --theme-background-image: url("");
    --theme-background-image-background-color: #333333;

    /* @TODO Look into replicating "Teach a System of Space Visually" as a Development page that shows all styling decisions for the brand
    * https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62#.fwng4aef7
    */

     /* REF: http://www.standardista.com/px-to-rem-conversion-if-root-font-size-is-16px/ */
    $theme-root-font-size: 16px; // Sets a baseline font size for all other REM based font-sizes to relatively build off of

    // --theme-body-background-color: --theme-white; //@TODO Not yet used anywhere
    --theme-body-border-radius: 0px;
    --theme-spacing-sm: 0.8652rem; //@TODO Revisit
    --theme-spacing: calc(0.8652rem * 0.75); //@TODO Revisit
    --theme-spacing-lg: calc(0.8652rem * 2.5); //@TODO Revisit
    --theme-spacing-xlg: calc(0.8652rem * 5); //@TODO Revisit

    --theme-input-border-radius: 5px;
    --theme-input-border-width: 2px;
    // --theme-input-border-color: --theme-black;
    // --theme-input-background-color: --theme-white;

    // --theme-button-background-color: --theme-black;
    // --theme-button-background-color-hover: --theme-cta-hover;
    // --theme-button-background-color-active: --theme-cta;
    --theme-button-background-color-disabled: #949494;
    // --theme-button-border-color: --theme-black;
    // --theme-button-border-color-active: --theme-cta;
    // --theme-button-border-color-hover: --theme-cta-hover;
    --theme-button-border-radius: 0px;
    // --theme-button-font-color: --theme-white;
    // --theme-button-font-color-active: --theme-white;

    // --theme-submit-button-background-color: --theme-cta;
    // --theme-submit-button-background-color-hover: --theme-cta-hover;
    // --theme-submit-button-border-color: --theme-cta;
    // --theme-submit-button-font-color: --theme-white;

    // --theme-checkmark-background-color: --theme-cta;
    // --theme-checkmark-border-color: --theme-cta;
    // --theme-checkmark-font-color: --theme-white;

    --theme-error-red: #f12222;
    --theme-error-red-grayscale: #949494;
    --theme-error-red-faded: #ffeae9;
    --theme-error-page-group-background: #f4ddda;
    --theme-error-input-border-width: --theme-input-border-width;

    --theme-highlight-background-color: #227f9e;
    --theme-highlight-font-color: #ffffff;
}

#engrid.theme-earthisland{
    --background-image: url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10069/earthisland-background.jpg?v=1589652190000");
}

/* IMMP Sub-theme */
#engrid.theme-immp{
    --theme-black: #3c4d64;
    
    --theme-prefooter-background-color: #d0e2e7;
    --theme-footer-background-color: #3c4d64;
    
    --background-image: url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10069/IMPP-background.jpeg?v=1591316765000");
    --background-image-background-color: #333333;
    
    --theme-button-background-color: #208096;
    --theme-button-background-color-hover: #22A3CB;
    --theme-button-background-color-active: #3c4d64;
    --theme-button-background-color-disabled: #949494;
    --theme-button-border-color: #208096;
    --theme-button-border-color-active: #3c4d64;
    --theme-button-border-color-hover: #22A3CB;
    
    --theme-submit-button-background-color: #3c4d64;
    --theme-submit-button-background-color-hover: #22A3CB;
    --theme-submit-button-border-color: #3c4d64;
    --theme-submit-button-font-color: #ffffff;
    
    --theme-checkmark-background-color: #208096;
    --theme-checkmark-border-color: #208096;
    
    --theme-highlight-background-color: #227f9e;
    --theme-highlight-font-color: #ffffff;
}