// BRAND STYLES
@font-face {
  font-family: "OxfamHeadline";
  src: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/oxfamglobalheadline-webfont.eot?v=1520436423000");
  src: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/oxfamglobalheadline-webfont.eot?v=1520436423000#iefix")
      format("embedded-opentype"),
    url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/oxfamglobalheadline-webfont.woff?v=1520436423000")
      format("woff"),
    url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/oxfamglobalheadline-webfont.ttf?v=1520436423000")
      format("truetype"),
    url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/oxfamglobalheadline-webfont.svg?v=1520436423000#OxfamGlobalHeadlineRegular")
      format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oxfam Global Headline";
  src: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/OxfamGlobalHeadline-Regular.woff2?v=1568914042000")
      format("woff2"),
    url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/oxfamglobalheadline-webfont.woff?v=1520436423000")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oxfam TSTAR PRO";
  src: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/OxfamTSTARPRO-Regular.eot?v=1568914325000");
  src: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/OxfamTSTARPRO-Regular.eot?v=1568914325000?#iefix")
      format("embedded-opentype"),
    url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/OxfamTSTARPRO-Regular.woff2?v=1568914326000")
      format("woff2"),
    url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/OxfamTSTARPRO-Regular.woff?v=1568914326000")
      format("woff"),
    url("https://oxfam.ca/fonts/OxfamTSTARPRO-Regular.svg#OxfamTSTARPRO-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oxfam TSTAR PRO";
  src: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/OxfamTSTARPRO-Bold.eot?v=1568944904000");
  src: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/OxfamTSTARPRO-Bold.eot?v=1568944904000?#iefix")
      format("embedded-opentype"),
    url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/OxfamTSTARPRO-Bold.woff2?v=1568944708000")
      format("woff2"),
    url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/OxfamTSTARPRO-Bold.woff?v=1568944707000")
      format("woff"),
    url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/OxfamTSTARPRO-Bold.ttf?v=1568944707000")
      format("truetype"),
    url("https://oxfam.ca/fonts/OxfamTSTARPRO-Bold.svg#OxfamTSTARPRO-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
}
