#enModal,
#ieModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2147483645;
  background-color: rgba($client-black, 0.85);
  width: 100vw;
  height: 100%;
  -webkit-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &.exitModal {
    background-color: rgba($client-error-red, 0.85);
    color: $client-white;
  }

  &.upsellModal .button-close {
    &::before,
    &::after {
      background-color: rgb(255, 255, 255);
    }
  }

  &.exitModal .button-close {
    &::before,
    &::after {
      background-color: rgb(0, 0, 0);
    }
  }

  &.is-hidden {
    top: -100vh;
    transition: none; /* When the modal gains the "is-hidden" class it will dissapear instantly */
  }

  .button-close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 24px;
    height: 24px;
    opacity: 0.6;
    -webkit-transition: 0.3s opacity ease-in-out;
    transition: 0.3s opacity ease-in-out;
    @include to(2) {
      // top: -52px;
      opacity: 1;
    }
    &:hover {
      opacity: 1;
    }
    &::before,
    &::after {
      position: absolute;
      left: 15px;
      content: " ";
      height: 24px;
      width: 3px;
      /* This value is the OPPOSITE color of our background */

      // background-color: $client-black;
      @include to(2) {
        // background-color: $client-body-background-color;
      }
    }
    &::before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &::after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  .enModal-container,
  .ieModal-container {
    max-width: 820px;
    // padding: 90px;
    border-radius: $client-input-border-radius;
    background-color: $client-body-background-color;
    color: $client-black;
    //font-family: graphik, sans-serif;
    // font-size: 70px;
    // line-height: 1;
    // font-weight: 700;
    z-index: 1;
    position: relative;

    @include to(2) {
      // padding: 60px 40px;
      // font-size: 30px;
      // max-height: 60vh;
    }

    h1 {
      font-size: 48px;
      font-weight: 900 !important;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -1px;
      text-transform: uppercase;
    }

    .highlight {
      background-color: $client-highlight-background-color;
      color: $client-highlight-font-color;
      padding: 0.15em;
      display: inline-block;
    }

    .highlight::before {
      margin-bottom: -0.41rem;
      content: "";
      display: block;
      height: 0;
      width: 0;
    }

    .highlight::after {
      margin-top: -0.37em;
      content: "";
      display: block;
      height: 0;
      width: 0;
    }

    .title {
      color: $client-black;
    }
    .accent {
      color: $client-cta;
    }
    .cta {
      cursor: pointer;
      // // font-weight: 700;
      // padding: 12px 25px;
      // background-color: $client-black;
      // color: $client-cta;
      // display: block;
      // max-width: 250px;
      // // font-size: 26px;
      // text-align: center;
      // margin-top: 50px;
      // opacity: 1;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      -webkit-transition: 0.3s background-color ease-in-out,
        0.3s color ease-in-out;
      transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
      @include to(2) {
        // font-size: 22px;
        // padding: 10px 20px;
        // max-width: 200px;
      }
      // &:hover {
      //   background-color: $client-cta;
      //   color: $client-black;
      // }
    }
    .img {
      position: absolute;
      bottom: 0px;
      right: 0;
      z-index: -1;
      @include to(2) {
        bottom: -80px;
        max-height: 250px;
      }
    }
    .cta-groups {
      display: flex;
    }
    .cta-groups.column {
      flex-direction: column;
    }
    .cta-groups.row {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .cta-groups.center {
      align-items: center;
      justify-content: center;
    }
    .cta-groups .group {
      flex-grow: 1;
      display: flex;
    }
  }
  &.exitModal #enModalContent {
    padding: 4rem;
    .cta-groups .group {
      flex-direction: row;
      margin-left: 1rem;
      margin-right: 1rem;

      &.primary {
        justify-content: flex-end;
        button {
          margin: 0;
          padding: 18px;
        }
      }
      &.secondary {
        justify-content: flex-start;
        text-align: center;
      }
    }
  }

  &.upsellModal #enModalContent {
    display: flex;
    flex-direction: row;

    .modal-left-column {
      flex-basis: 50%;
      background-size: cover;
      background-position: left center;
    }

    .modal-right-column {
      background-color: #2e2e2c;
      flex-basis: 50%;
      padding: $body-padding-lg;
      text-align: center;
      .cta-groups .group {
        flex-direction: column;
        &.primary {
          margin-bottom: 50px;
          button {
            padding: 18px;
          }
        }
      }
    }

    @include to(2) {
      flex-direction: column;

      .modal-left-column {
        display: none;
      }
    }
  }

  .cta.primary {
    width: 100%;
    max-width: 230px;
  }

  .dark-background {
    h1,
    p,
    a {
      color: #ffffff;
    }
  }
  .ieModal-container {
    .button-close {
      right: 15px;
      top: 5px;
      &::before,
      &::after {
        background-color: #000000;
      }
    }
  }
  #ieModalContent {
    padding: 20px 30px;
  }
}
