/*
* ##########################################################
* # DEBUG
* ##########################################################
*/

.debug {
  margin-top: 47px;
}

#debug-bar {
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid #cccccc;
  justify-content: space-between;
  background: #f5f5f5;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 2147483640;
  box-shadow: 0 36px 50px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);

  #info-wrapper,
  #buttons-wrapper {
    display: flex;
  }

  #info-wrapper span {
    margin: 0rem 1rem 0rem 0rem;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
  }

  #buttons-wrapper span {
    margin: 0rem 1rem 0rem 1rem;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  #buttons-wrapper button {
    margin: 0rem 0rem 0rem 1rem;
    padding: 9px;
    border: none;
    background-color: #3d9cd6;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    font-family: Arial, sans-serif;
    border-radius: 6px;
    &:hover,
    &:focus,
    &:active {
      background-color: #1c6d9e;
    }
  }
}
