/* Add your custom theme styles here */

[data-engrid-theme="aiusa"]{

    /* All headlines in the body are always capitalized */
    /* All label text in the body are capitalized */
    /* All button text in the body are always capitalized */
    [class*="body-"]{
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        label,
        button,
        .button{
            text-transform: uppercase;
        }
    }

    .en__component--advcolumn[class*="content"]{
        background-color: lightblue;
    }

    .en__component--advcolumn[class*="content"] > *{
        background-color: lightyellow;
    }

    .en__component--advcolumn[class*="body"]{
        background-color: lightgreen;
    }

    header,
    footer{
        display: inline-flex;
        width: 100%;
    }

    footer{
        flex-wrap: wrap;

        #designed-by-4site-wrapper{
            flex-basis: 100%;
            text-align: center;
        }
    }

    nav > ul li:hover ul{
        position: absolute;
        background-color: white;
    }

    nav a{
        display: block;
    }

    .body-header{
        padding-left: 0;
        padding-right: 0;
    }

    /* Sum of all MIN values of the Body Columns */
    &[data-engrid-layout="centerleft1col"] {
        @media screen and (min-width: 776px) {
            /* prettier-ignore */
            .en__component--advrow,
            .en__component--advrow .pseudo-subgrid {
                /* autoprefixer grid: off */
                grid-template-columns:
                [
                pc-start lpc-start]  minmax(0px, 1fr)        [lpc-end
                cc-start lcc-start]  minmax(0px, 128px)      [lcc-end
                bc-start lbc-start]  minmax(260px, 260px)    [lbc-end
                rbc-start]           minmax(260px, 260px)    [rbc-end bc-end
                rcc-start]           minmax(0px, 792px)      [rcc-end cc-end
                rpc-start]           minmax(0px, 1fr)        [rpc-end pc-end               
                ];
            }

            .content-header{
                margin-bottom: 80px;
            }
    
            .content-footer{
                margin-top: 80px;
            }    
        }
    }

    /* Sum of all MIN values of the Body Columns */
    &[data-engrid-layout="centerleft1col"] {
        @media screen and (max-width: 775px) {
            /* prettier-ignore */
            .en__component--advrow,
            .en__component--advrow .pseudo-subgrid {
                /* autoprefixer grid: off */
                grid-template-columns:
                [
                    pc-start lpc-start]  minmax(0px, 0px)    [lpc-end
                    cc-start lcc-start]  minmax(0px, 0px)    [lcc-end
                    bc-start lbc-start]  minmax(0px, 50vw)   [lbc-end
                    rbc-start]           minmax(0px, 50vw)   [rbc-end bc-end
                    rcc-start]           minmax(0px, 0px)    [rcc-end cc-end
                    rpc-start]           minmax(0px, 0px)    [rpc-end pc-end             
                ];
            }
        }
    }    

}