<!-- Fake Data to Emulate EN Scripts -->
<script>
  var pageJson = {
    campaignId: 209686,
    campaignPageId: 78555,
    clientId: 1991,
    giftProcess: false,
    locale: "en-US",
    pageCount: 2,
    pageName: "ENGrid LOCAL Development - Donation (Test Gateway)",
    pageNumber: 1,
    pageType: "donation",
    redirectPresent: false,
  };
</script>
<script src="https://e-activist.com/page/78555/pagedata.js?locale=en-US&ea.profile.id=0"></script>
<script>
  (function() {
    window.EngagingNetworks.productVariants = {
      selprodvariantid: 0,
      productVariants: [],
    };
  })();
</script>
<script src="https://us.e-activist.com/ea-demo/frontend/pbAssets/build/js/enPage.js?v=3.60.1"></script>
