// page-alert
// content-header pseudo-subgrid
// body-headerOutside
// body-header
// body-banner
// body-bannerOverlay
// body-top
// body-side
// body-main
// body-bottom
// body-footer
// body-footerOutside
// content-footerSpacer
// content-preFooter pseudo-subgrid
// content-footer pseudo-subgrid
// page-backgroundImage pseudo-subgrid
// page-backgroundImageOverlay pseudo-subgrid
// page-customCode

// .page-alert,
// .content-header,
// .body-headerOutside,
// .body-header,
// .body-banner,
// .body-bannerOverlay,
// .body-top,
// .body-side,
// .body-main,
// .body-bottom,
// .body-footer,
// .body-footerOutside,
// .content-footerSpacer,
// .content-preFooter,
// .content-footer,
// .page-backgroundImage,
// .page-backgroundImageOverlay
// .page-customCode

/* BASE Layout - IE 11 Fallback for ENGRID's CSS Grid */
#engrid .en__component--advrow {
  flex-direction: column;
}

// Required otherwise Flexbox collapses in on itself in IE 11
#engrid .en__component--advcolumn {
  flex-basis: auto;
}

/* BASE Layout - For Browsers that do support CSS Grid */
@supports (display: grid) {
  #engrid .en__component--advrow,
  #engrid .en__component--advrow .pseudo-subgrid,
  #EN__RootElement
    .pboAdvancedRow__preview
    .en__component--row.en__component--advrow {
    /* autoprefixer grid: off */
    display: grid;
  }
}

// Max sure the first descendents of advanced rows (should only be one) occupy the full viewport at a minimum
body:not(#en__pagebuilder) #engrid:not(.legacy) form > .en__component--advrow {
  width: 100vw;
  max-width: 100vw;
}

#engrid.legacy .en__component--advrow .en__component--advrow {
  display: flex !important;
}

#en__pagebuilder .messageOverlay.hidden:only-child::before {
  font-size: 18px;
  font-weight: 700;
  color: #999999;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#en__pagebuilder .messageOverlay.hidden:only-child {
  visibility: visible;
  color: transparent;
  background-color: transparent;
}

#en__pagebuilder .messageOverlay.hidden:only-child .messageOverlay__message {
  display: none;
}

#en__pagebuilder .messageOverlay.hidden {
  visibility: hidden;
  display: block !important;
}

/* prettier-ignore */
#en__pagebuilder .page-alert .messageOverlay.hidden:only-child::before { content: "Page Alert"; }
/* prettier-ignore */
#en__pagebuilder .content-header .messageOverlay.hidden:only-child::before { content: "Content Header"; }
/* prettier-ignore */
#en__pagebuilder .body-headerOutside .messageOverlay.hidden:only-child::before { content: "Body Header Outside"; }
/* prettier-ignore */
#en__pagebuilder .body-header .messageOverlay.hidden:only-child::before { content: "Body Header Spacer"; }
/* prettier-ignore */
#en__pagebuilder .body-banner .messageOverlay.hidden:only-child::before { content: "Body Banner"; }
/* prettier-ignore */
#en__pagebuilder .body-bannerOverlay .messageOverlay.hidden:only-child::before { content: "Body Banner Overlay"; }
/* prettier-ignore */
#en__pagebuilder .body-top .messageOverlay.hidden:only-child::before { content: "Body Top (Copy)"; }
/* prettier-ignore */
#en__pagebuilder .body-side .messageOverlay.hidden:only-child::before { content: "Body Side (Copy)"; }
/* prettier-ignore */
#en__pagebuilder .body-main .messageOverlay.hidden:only-child::before { content: "Body Main (Form)"; }
/* prettier-ignore */
#en__pagebuilder .body-bottom .messageOverlay.hidden:only-child::before { content: "Body Bottom (Copy)"; }
/* prettier-ignore */
#en__pagebuilder .body-footer .messageOverlay.hidden:only-child::before { content: "Body Footer Spacer"; }
/* prettier-ignore */
#en__pagebuilder .body-footerOutside .messageOverlay.hidden:only-child::before { content: "Body Footer Outside"; }
/* prettier-ignore */
#en__pagebuilder .content-footerSpacer .messageOverlay.hidden:only-child::before { content: "Content Footer Spacer"; }
/* prettier-ignore */
#en__pagebuilder .content-preFooter .messageOverlay.hidden:only-child::before { content: "Content Pre Footer"; }
/* prettier-ignore */
#en__pagebuilder .content-footer .messageOverlay.hidden:only-child::before { content: "Content Footer"; }
/* prettier-ignore */
#en__pagebuilder .page-backgroundImage .messageOverlay.hidden:only-child::before { content: "Page Background Image"; }
/* prettier-ignore */
#en__pagebuilder .page-backgroundImageOverlay .messageOverlay.hidden:only-child::before { content: "Page Background Image Overlay"; }
/* prettier-ignore */
#en__pagebuilder .page-customCode .messageOverlay.hidden:only-child::before { content: "Custom Code"; }

/* prettier-ignore */
#en__pagebuilder .page-alert { min-height: 5rem; }
/* prettier-ignore */
#en__pagebuilder .content-header { min-height: 5rem; }
/* prettier-ignore */
#en__pagebuilder .body-headerOutside { min-height: 5rem; }
/* prettier-ignore */
#en__pagebuilder .body-header { min-height: 5rem; }
/* prettier-ignore */
#en__pagebuilder .body-banner { min-height: 5rem; }
/* prettier-ignore */
#en__pagebuilder .body-bannerOverlay { min-height: 5rem; }
/* prettier-ignore */
#en__pagebuilder .body-top { min-height: 5rem; }
/* prettier-ignore */
#en__pagebuilder .body-side { min-height: 5rem; }
/* prettier-ignore */
#en__pagebuilder .body-main { min-height: 5rem; }
/* prettier-ignore */
#en__pagebuilder .body-bottom { min-height: 5rem; }
/* prettier-ignore */
#en__pagebuilder .body-footer { min-height: 5rem; }
/* prettier-ignore */
#en__pagebuilder .body-footerOutside { min-height: 5rem; }
/* prettier-ignore */
#en__pagebuilder .content-footerSpacer { min-height: 5rem; }
/* prettier-ignore */
#en__pagebuilder .content-preFooter { min-height: 5rem; }
/* prettier-ignore */
#en__pagebuilder .content-footer { min-height: 5rem; }
/* prettier-ignore */
#en__pagebuilder .page-customCode { min-height: 5rem; }
/* prettier-ignore */
#en__pagebuilder .page-backgroundImage { min-height: 15rem; }
/* prettier-ignore */
#en__pagebuilder .page-backgroundImageOverlay { min-height: 15rem; }

/*
* ##########################################################
* # ENGRID - Mobile First Styling
* # We specify 'grid-template-areas' and 'grid-area' in the event the Advanced Rows
* # are created in a different DOM order in Engaging Networks Page Builder, since
* # the user can not re-order the rows once they add them.
* ##########################################################
*/

#engrid:not(.legacy):not(.layout-embedded) .en__component--advrow {
  min-height: 100vh;
}

/* The 'pseudo-subgrid' is used to position first generation child content horizontally in page spanning grid components' */
/* prettier-ignore */
#engrid .en__component--advrow,
#engrid .en__component--advrow .pseudo-subgrid,
#EN__RootElement .en__component--advrow,
#EN__RootElement .en__component--advrow .pseudo-subgrid {
  /* autoprefixer grid: off */
  grid-template-columns:
  [
    pc-start lpc-start lpc-end cc-start lcc-start lcc-end bc-start lbc-start lbc-end
  ] auto [
    rbc-start rbc-end bc-end rcc-start rcc-end cc-end rpc-start rpc-end pc-end
  ];
}

//@TODO IE 11 Fallback for ENGRID's CSS Grid
@supports not (display: grid) {
  // #engrid .en__component--advrow,
  // #EN__RootElement .en__component--advrow,
  // #engrid .en__component--advrow .pseudo-subgrid {
  //   display: flexbox;
  //   flex-direction: column;
  //   flex-basis: auto;
  // }

  /* TODO This was not tested, should be revisited post completion to not completely abandon IE11 */
  /* IE 11 Grid Fallback: Displays every section one after the other */
  // #engrid .en__component--advrow,
  // #engrid
  //   ~ #EN__RootElement
  //   div.pboAdvancedRow__preview
  //   .en__component--row.en__component--advrow {
  //   display: block;
  // }

  // #engrid .en__component--advrow > div,
  // #engrid
  //   ~ #EN__RootElement
  //   div.pboAdvancedRow__preview
  //   .en__component--row.en__component--advrow
  //   > div {
  //   display: flex;
  // }
}

/* prettier-ignore */
#engrid .en__component--advrow,
#EN__RootElement .pboAdvancedRow__preview .en__component--row.en__component--advrow {
  /* autoprefixer grid: off */
  grid-template-rows:
  [
    page-start page-alert-start]        minmax(0px, auto)  [page-alert-end
    content-header-start]               minmax(0px, auto)  [content-header-end
    body-headerOutside-start]           minmax(0px, auto)  [body-headerOutside-end
    body-header-start]                  minmax(0px, auto)  [body-header-end
    body-banner-start]                  minmax(0px, auto)  [body-banner-end
    body-bannerOverlay-start]           minmax(0px, auto)  [body-bannerOverlay-end
    body-top-start]                     minmax(0px, auto)  [body-top-end
    body-side-start]                    minmax(0px, auto)  [body-side-end  
    body-main-start]                    minmax(0px, auto)  [body-main-end  
    body-bottom-start]                  minmax(0px, auto)  [body-bottom-end  
    body-footer-start]                  minmax(0px, auto)  [body-footer-end
    body-footerOutside-start]           minmax(0px, auto)  [body-footerOutside-end  
    content-footerSpacer-start]         minmax(0px, 1fr)   [content-footerSpacer-end
    content-preFooter-start]            minmax(0px, auto)  [content-preFooter-end
    content-footer-start]               minmax(0px, auto)  [content-footer-end
    page-backgroundImage-start]         minmax(0px, auto)  [page-backgroundImage-end
    page-backgroundImageOverlay-start]  minmax(0px, auto)  [page-backgroundImageOverlay-end page-end
    page-customCode-start]              minmax(0px, auto)  [page-customCode-end        
  ];        
}

#engrid .en__component--advrow .page-alert,
#EN__RootElement .en__component--advrow .page-alert {
  grid-column: pc;
  grid-row: page-alert;
}

#engrid .en__component--advrow .content-header,
#EN__RootElement .en__component--advrow .content-header {
  grid-column: pc;
  grid-row: content-header;
}

#engrid .en__component--advrow .content-header.pseudo-subgrid > div,
#EN__RootElement .en__component--advrow .content-header.pseudo-subgrid > div {
  grid-column: cc;
}

#engrid .en__component--advrow .body-headerOutside,
#EN__RootElement .en__component--advrow .body-headerOutside {
  grid-column: cc;
  grid-row: body-headerOutside;
}

#engrid .en__component--advrow .body-header,
#EN__RootElement .en__component--advrow .body-header {
  grid-column: bc;
  grid-row: body-header;
}

#engrid .en__component--advrow .body-banner,
#EN__RootElement .en__component--advrow .body-banner {
  grid-column: bc;
  grid-row: body-banner;
}

#engrid .en__component--advrow .body-bannerOverlay,
#EN__RootElement .en__component--advrow .body-bannerOverlay {
  grid-column: bc;
  grid-row: body-bannerOverlay;
}

#engrid .en__component--advrow .body-top,
#EN__RootElement .en__component--advrow .body-top {
  grid-column: bc;
  grid-row: body-top;
}

#engrid .en__component--advrow .body-side,
#EN__RootElement .en__component--advrow .body-side {
  grid-column: bc;
  grid-row: body-side;
}

#engrid .en__component--advrow .body-main,
#EN__RootElement .en__component--advrow .body-main {
  grid-column: bc;
  grid-row: body-main;
}

#engrid .en__component--advrow .body-bottom,
#EN__RootElement .en__component--advrow .body-bottom {
  grid-column: bc;
  grid-row: body-bottom;
}

#engrid .en__component--advrow .body-footer,
#EN__RootElement .en__component--advrow .body-footer {
  grid-column: bc;
  grid-row: body-footer;
}

#engrid .en__component--advrow .body-footerOutside,
#EN__RootElement .en__component--advrow .body-footerOutside {
  grid-column: cc;
  grid-row: body-footerOutside;
}

#engrid .en__component--advrow .content-footerSpacer,
#EN__RootElement .en__component--advrow .content-footerSpacer {
  grid-column: cc;
  grid-row: content-footerSpacer;
}

#engrid .en__component--advrow .content-preFooter,
#EN__RootElement .en__component--advrow .content-preFooter {
  grid-column: cc;
  grid-row: content-preFooter;
}

#engrid .en__component--advrow .content-footer,
#EN__RootElement .en__component--advrow .content-footer {
  grid-column: pc;
  grid-row: content-footer;
}

#engrid .en__component--advrow .content-footer.pseudo-subgrid > div,
#EN__RootElement .en__component--advrow .content-footer.pseudo-subgrid > div {
  grid-column: cc;
}

#engrid .en__component--advrow .page-customCode,
#EN__RootElement .en__component--advrow .page-customCode {
  grid-column: pc;
  grid-row: page-customCode;
}

#engrid .en__component--advrow .page-backgroundImage,
#EN__RootElement .en__component--advrow .page-backgroundImage {
  grid-column: pc;
  grid-row: page-backgroundImage;
}

#engrid .en__component--advrow .page-backgroundImageOverlay,
#EN__RootElement .en__component--advrow .page-backgroundImageOverlay {
  grid-column: pc;
  grid-row: page-backgroundImageOverlay;
}

#engrid .en__component--advrow > div,
#EN__RootElement .en__component--advrow > div {
  grid-column: pc;
  grid-row: na; //None existant row name used as fallback for un-assogned rows to be placed at the bottom of the grid
}

#engrid
  .en__component--advrow.en__component--active
  .en__component__actions.en__component__actions--advrow {
  grid-row: page;
}

/*
* ##########################################################
* # ENGRID - BODY Column Breakpoint Styling
* ##########################################################
*/

/* Sum of all MIN values of the Body Columns */
@media screen and (min-width: 650px) {
  /* prettier-ignore */
  #engrid .en__component--advrow,
  #engrid .en__component--advrow .pseudo-subgrid{
    /* autoprefixer grid: off */
    grid-template-columns:
    [
      pc-start lpc-start]  minmax(25px, 1fr)     [lpc-end
      cc-start lcc-start]  minmax(0px, 50px)     [lcc-end
      bc-start lbc-start]  minmax(300px, 425px)  [lbc-end
      rbc-start]           minmax(300px, 425px)  [rbc-end bc-end
      rcc-start]           minmax(0px, 50px)     [rcc-end cc-end
      rpc-start]           minmax(25px, 1fr)     [rpc-end pc-end
    ];
  }
}

/*
* ##########################################################
* # ENGRID - Default Stylings
* ##########################################################
*/

#engrid .en__component--advrow .body-header,
#engrid .en__component--advrow .body-banner,
#engrid .en__component--advrow .body-bannerOverlay,
#engrid .en__component--advrow .body-top,
#engrid .en__component--advrow .body-side,
#engrid .en__component--advrow .body-main,
#engrid .en__component--advrow .body-bottom,
#engrid .en__component--advrow .body-footer {
  position: relative;
  background-color: #ffffff;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

#engrid .en__component--advrow .body-header {
  padding-top: 1.75rem;
  min-height: var(--client-body-border-radius,$client-body-border-radius);
  border-top-left-radius: var(--client-body-border-radius,$client-body-border-radius);
  border-top-right-radius: var(--client-body-border-radius,$client-body-border-radius);
}
#engrid .en__component--advrow .body-footer {
  padding-bottom: 1.75rem;
  min-height: var(--client-body-border-radius,$client-body-border-radius);
  border-bottom-left-radius: var(--client-body-border-radius,$client-body-border-radius);
  border-bottom-right-radius: var(--client-body-border-radius,$client-body-border-radius);
}

#engrid .en__component--advrow .body-header::before,
#engrid .en__component--advrow .body-banner::before,
#engrid .en__component--advrow .body-top::before,
#engrid .en__component--advrow .body-side::before,
#engrid .en__component--advrow .body-main::before,
#engrid .en__component--advrow .body-bottom::before,
#engrid .en__component--advrow .body-footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  // -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
  //   0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
  //   0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 36px 50px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 36px 50px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

body:not(#en__pagebuilder) #engrid .page-customCode {
  display: none;
}

body:not(#en__pagebuilder)
  #engrid
  .en__component--advrow
  .page-backgroundImage{
    overflow: hidden; // added for before pseudo-element to help improve page redraw and subsequent page scroll FPS
    position: relative; // added for before pseudo-element to help improve page redraw and subsequent page scroll FPS
    z-index: -3;
  }

body:not(#en__pagebuilder)
  #engrid
  .en__component--advrow
  .page-backgroundImage::before {
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  // background-image: var(--background-image,#{$background-image});
  background-image: var(--background-image); //@TODO Get SCSS variable working
  will-change: transform; // creates a new paint layer
}

// @TODO  RENDER CRITICAL: Consider moving into page template as it's critical to page render
body:not(#en__pagebuilder).footer-below-fold
  #engrid
  .en__component--advrow
  .page-backgroundImage::before {
  -webkit-clip-path: polygon(100% 0, 100% 90vh, 50% 110vh, 0 90vh, 0 0);
  clip-path: polygon(100% 0, 100% 90vh, 50% 110vh, 0 90vh, 0 0);
  height: 120vh;
  background-color: var(--background-image-background-color,$background-image-background-color);
}

// body:not(#en__pagebuilder)
//   #engrid:not(.legacy)
//   .en__component--advrow
//   .page-backgroundImage {
//   background-position: top left;
//   background-repeat: no-repeat;
//   z-index: -3;
//   clip-path: polygon(100% 0, 100% 90vh, 50% 110vh, 0 90vh, 0 0);
//   background-size: cover;
//   height: 120vh;
// }

// body:not(#en__pagebuilder)
//   #engrid.legacy
//   .en__component--advrow
//   .page-backgroundImage {
//   background-position: top right;
//   background-repeat: no-repeat;
//   z-index: -3;
//   background-size: cover;
// }

body:not(#en__pagebuilder)
  #engrid.legacy
  .en__component--advrow
  .page-backgroundImage {
  background-position: top right;
}

body:not(#en__pagebuilder)
  #engrid
  .en__component--advrow
  .page-backgroundImageOverlay {
  z-index: -1;
}
