#engrid {
    --theme-white: #ffffff;
    --theme-black: #323232;
    --theme-gray: #8a8a8a;
    --theme-light-gray: #cacaca;
    --theme-cta: #039bc4;
    --theme-cta-hover: #e74b3c;
  
    --theme-prefooter-background-color: #d0e2e7;
    --theme-footer-background-color: #323232;
  
    --background-color: #f3f3f3;
    --background-image-background-color: #f3f3f3;
  
    /* @TODO Look into replicating "Teach a System of Space Visually" as a Development page that shows all styling decisions for the brand
      * https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62#.fwng4aef7
      */
  
    // --theme-body-background-color: --theme-white; //@TODO Not yet used anywhere
    --theme-body-border-radius: 7px;
    --theme-spacing-sm: 0.8652rem; //@TODO Revisit
    --theme-spacing: calc(0.8652rem * 0.75); //@TODO Revisit
    --theme-spacing-lg: calc(0.8652rem * 2.5); //@TODO Revisit
    --theme-spacing-xlg: calc(0.8652rem * 5); //@TODO Revisit
  
    --theme-input-border-radius: 5px;
    --theme-input-border-width: 1px;
    --theme-input-border-color: var(--theme-black);
    --theme-input-border-color-focus: var(--theme-cta);
    --theme-input-background-color: var(--theme-white);
    --theme-input-background-color-hover: var(--theme-white);
  
    --theme-button-background-color: var(--theme-white);
    --theme-button-background-color-hover: var(--theme-black);
    --theme-button-background-color-active: var(--theme-black);
    --theme-button-background-color-disabled: #949494;
    --theme-button-border-color: var(--theme-black);
    --theme-button-border-color-active: var(--theme-black);
    --theme-button-border-color-hover: var(--theme-black);
    --theme-button-border-radius: 50px;
    --theme-button-font-color: var(--theme-black);
    --theme-button-font-color-active: var(--theme-white);
  
    --theme-submit-button-background-color: var(--theme-cta);
    --theme-submit-button-background-color-hover: var(--theme-cta-hover);
    --theme-submit-button-border-color: var(--theme-cta);
    --theme-submit-button-font-color: var(--theme-white);
  
    --theme-checkmark-background-color: var(--theme-black);
    --theme-checkmark-border-color: var(--theme-cta);
    --theme-checkmark-font-color: var(--theme-white);
  
    --theme-error-red: #f12222;
    --theme-error-red-grayscale: #949494;
    --theme-error-red-faded: #ffeae9;
    --theme-error-page-group-background: #f4ddda;
    --theme-error-input-border-width: var(--theme-input-border-width);
  
    --theme-highlight-background-color: #227f9e;
    --theme-highlight-font-color: #ffffff;
  }
  
  [data-engrid-theme="oceanconservancy"] {
    --background-image: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1991/gray_pattern-optimized-2.jpg?v=1598492702000");
    --background-image-background-color: #f3f3f3;
  }
  