#engrid {
    --color-white: #ffffff;
    --color-black: #323232;
    --theme-gray: #8a8a8a;
    --theme-light-gray: #cacaca;
    --theme-cta: #039bc4;
    --theme-cta-hover: #e74b3c;
  
    --theme-content-preFooter-background-color: #d0e2e7;
    --theme-body-footer-background-color: #323232;
  
    --theme-body-background-color: #f3f3f3;
    --theme-page-backgroundImage-background-color: #f3f3f3;
  
    /* @TODO Look into replicating "Teach a System of Space Visually" as a Development page that shows all styling decisions for the brand
      * https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62#.fwng4aef7
      */
  
    // --theme-body-background-color: --color-white; //@TODO Not yet used anywhere
    --theme-body-border-radius: 7px;
    --theme-spacing-sm: 0.8652rem; //@TODO Revisit
    --theme-spacing: calc(0.8652rem * 0.75); //@TODO Revisit
    --theme-spacing-lg: calc(0.8652rem * 2.5); //@TODO Revisit
    --theme-spacing-xlg: calc(0.8652rem * 5); //@TODO Revisit
  
    --theme-typography-input-border-radius: 5px;
    --theme-typography-input-border-width: 1px;
    --theme-typography-input-border-color: var(--color-black);
    --theme-typography-input-focus-hover-border-color: var(--theme-cta);
    --theme-typography-input-background-color: var(--color-white);
    --theme-typography-input-focus-hover-background-color: var(--color-white);
  
    --theme-typography-button-background-color: var(--color-white);
    --theme-typography-button-focus-hover-background-color: var(--color-black);
    --theme-typography-button-focus-hover-background-color: var(--color-black);
    --theme-typography-button-border-color: var(--color-black);
    --theme-typography-button-focus-hover-border-color: var(--color-black);
    --theme-typography-button-focus-hover-border-color: var(--color-black);
    --theme-typography-button-border-radius: 50px;
    --theme-typography-button-color: var(--color-black);
    --theme-typography-button-focus-hover-color: var(--color-white);
  
    --theme-typography-primary-button-background-color: var(--theme-cta);
    --theme-typography-primary-button-focus-hover-background-color: var(--theme-cta-hover);
    --theme-typography-primary-button-border-color:: var(--theme-cta);
    --theme-typography-primary-button-color: var(--color-white);
  
    --theme-typography-checkbox-background-color: var(--color-black);
    --theme-typography-checkbox-border-color: var(--theme-cta);
    --theme-typography-checkbox-color: var(--color-white);
  
    --theme-error-red: #f12222;
    --theme-error-red-grayscale: #949494;
    --theme-error-red-faded: #ffeae9;
    --theme-error-page-group-background: #f4ddda;
    --theme-error-input-border-width: var(--theme-typography-input-border-width);
  
    --theme-highlight-background-color: #227f9e;
    --theme-highlight-font-color: #ffffff;
  }
  
  [data-engrid-theme="oceanconservancy"] {
    --background-image: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1991/gray_pattern-optimized-2.jpg?v=1598492702000");
    --theme-page-backgroundImage-background-color: #f3f3f3;
  }
  