$slicer-breakpoints: 0 400px 600px 1024px 1200px;

$color-white: #ffffff;
$color-black: #3b3b3b;
$default-gray: #8a8a8a;
$default-light-gray: #cacaca;
$default-cta: #f16e22;
$default-cta-hover: #f05523;
$default-body-background-color: $color-white;
$default-page-backgroundImage-background-color: #333333;

$default-body-background-color: $color-white;
$default-body-border-radius: 0px;
$default-spacing-sm: 0.8652rem;
$default-spacing: calc(0.8652rem * 0.75);
$default-spacing-lg: calc(0.8652rem * 2.5);
$default-spacing-xlg: calc(0.8652rem * 5);

$default-input-border-radius: 5px;
$default-input-border-width: 2px;
$default-input-border-color: $color-black;
$default-input-background-color: transparent;

$default-button-background-color: $color-black;
$default-button-background-color-hover: $default-cta-hover;
$default-button-background-color-active: $default-cta;
$default-button-background-color-disabled: #949494;
$default-button-border-color: $color-black;
$default-button-border-color-active: $default-cta;
$default-button-border-color-hover: $default-cta-hover;
$default-button-border-radius: 0px;
$default-button-font-color: $color-white;
$default-button-font-color-active: $color-white;

$default-submit-button-background-color: $default-cta;
$default-submit-button-background-color-hover: $default-cta-hover;
$default-submit-button-border-color: $default-cta;
$default-submit-button-font-color: $color-white;

$default-checkmark-background-color: $default-cta;
$default-checkmark-border-color: $default-cta;
$default-checkmark-font-color: $color-white;

$default-error-red: #f12222;
$default-error-red-grayscale: #949494;
$default-error-red-faded: #ffeae9;
$default-error-page-group-background: #f4ddda;
$default-error-input-border-width: $default-input-border-width;

$default-highlight-background-color: #f9f003;
$default-highlight-font-color: #343432;
