<!-- Start Google Tag Manager Data Layer Initialization Script -->
<script>
  dataLayer = [];
</script>
<!-- End Google Tag Manager Data Layer Initialization Script -->

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ theme }} | Donation Page</title>
<meta name="title" content="{{ theme }} | Donation Page" />

<!-- Update as needed -->
<link href='https://e-activist.com/ea-demo/frontend/pbAssets/build/css/enPage.css?v=3.62.0' rel='stylesheet' type='text/css' />
<script src='https://e-activist.com/ea-demo/frontend/pbAssets/build/js/enPage.js?v=3.62.0'></script>

<!-- Immeditately get color on the page and hide the contents until engrid.css is rendered by the browser -->
<style>
  body {
    background-color: #f3f3f3;
    opacity: 0;
  }
  body[data-engrid-embedded] {
    background-color: transparent !important;
  }
  .responsive-image,
  .responsive-image img {
    width: 100%;
    height: auto;
  }
</style>
<include src="src/templates/includes/page-wrapper-elements/local-data.html"></include>
